<div class="row">
    <div class="col-md-8" ng-if="!model.current">
        <dev-tag-content dev-attr-title="{{'Bank and fund'|translate}}">

            <div class="row" style="margin-bottom: 30px">
                <dev-tag-button
                        ui-sref="bankAndFund.bankCreate"
                        icon="fa fa-plus"
                        style-type="primary"
                        title="{{'New Bank' | translate}}"></dev-tag-button>

                <dev-tag-button
                        style="margin-right: 5px"
                        ui-sref="bankAndFund.fundCreate"
                        icon="fa fa-plus"
                        style-type="primary"
                        title="{{'New fund' | translate}}"></dev-tag-button>
            </div>

            <div class="feed-activity-list">
                <div class="feed-element"
                     ng-repeat="item in model.banksAndFunds">
                    <div>
                        <strong>{{item.title}}</strong> <br>
                        <span class="text-muted">
                            {{'Remainder'|translate}} :
                            <i ng-if="item.remainder !== '?'">{{item.remainder|number}}</i>
                            <i class="text-success badge"
                               title="{{'Not set subsidiary ledger account {0} on settings'.format(item.type)|translate}}"
                               ng-if="item.remainder === '?'"><i class="fa fa-question fa-lg"></i></i>
                        </span>
                        <small class="pull-left">
                            <dev-tag-button
                                    ng-click="model.remove(item)"
                                    icon="fa fa-trash"
                                    style-type="danger"
                                    title="{{'Remove' | translate}}"></dev-tag-button>
                            <dev-tag-button
                                    ui-sref="{{item.type == 'bank'
                            ? 'bankAndFund.bankEdit({id: item.id})'
                            : 'bankAndFund.fundEdit({id: item.id})'}}"
                                    icon="fa fa-edit"
                                    style-type="primary"
                                    title="{{'Edit' | translate}}"></dev-tag-button>
                            <dev-tag-button
                                    ng-click="model.showTinyTurnover(item)"
                                    style-type="white"
                                    title="{{'Tiny turnover' | translate}}"></dev-tag-button>
                        </small>


                    </div>
                </div>
            </div>

        </dev-tag-content>
    </div>
    <div class="col-md-4" ng-if="model.current">
        <dev-tag-content dev-attr-title="{{'Bank and fund'|translate}}">

            <div class="row" style="margin-bottom: 30px">
                <dev-tag-button
                        ui-sref="bankAndFund.bankCreate"
                        icon="fa fa-plus"
                        style-type="primary"
                        title="{{'New Bank' | translate}}"></dev-tag-button>

                <dev-tag-button
                        style="margin-right: 5px"
                        ui-sref="bankAndFund.fundCreate"
                        icon="fa fa-plus"
                        style-type="primary"
                        title="{{'New fund' | translate}}"></dev-tag-button>
            </div>

            <div class="feed-activity-list">
                <div class="feed-element"
                     ng-repeat="item in model.banksAndFunds">
                    <div>
                        <strong>{{item.title}}</strong> <br>
                        <span class="text-muted">
                    {{'Remainder'|translate}} :
                    {{item.remainder|number}}</span>
                        <small class="pull-left">
                            <dev-tag-button
                                    ng-click="model.remove(item)"
                                    icon="fa fa-trash"
                                    style-type="danger"
                                    title="{{'Remove' | translate}}"></dev-tag-button>
                            <dev-tag-button
                                    ui-sref="{{item.type == 'bank'
                            ? 'bankAndFund.bankEdit({id: item.id})'
                            : 'bankAndFund.fundEdit({id: item.id})'}}"
                                    icon="fa fa-edit"
                                    style-type="primary"
                                    title="{{'Edit' | translate}}"></dev-tag-button>
                            <dev-tag-button
                                    ng-click="model.showTinyTurnover(item)"
                                    style-type="white"
                                    title="{{'Tiny turnover' | translate}}"></dev-tag-button>
                        </small>


                    </div>
                </div>
            </div>

        </dev-tag-content>
    </div>
    <div class="col-md-8">
        <dev-tag-content ng-if="model.current">
            <dev-tag-content-heading>
                <h5>{{'Tiny turnover'| translate}} - {{model.current.title}}</h5>
            </dev-tag-content-heading>
            <dev-tag-content-body>
                <div class="row">
                    <dev-tag-grid option="model.tinyTurnoverGridOption"></dev-tag-grid>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-md-9"></div>
                        <div class="col-md-2">
                            <dev-tag-button
                                    ng-click="model.runExportToExcel()"
                                    icon="fa fa-file-excel-o fa-lg"
                                    style-type="outline btn btn-primary"
                                    title=&nbsp&nbsp&nbsp{{'ExportExcel'|translate}}&nbsp&nbsp&nbsp></dev-tag-button>
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>
            </dev-tag-content-body>

        </dev-tag-content>
    </div>
</div>