<!doctype html>
<html ng-app="app" lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>STORM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="currentUser" content="<%- currentUser %>">
    <meta name="currentUserImage" content="<%- currentUserImage %>">

    <base href="/">
    <link href="../../client/src/style/app.css" rel="stylesheet">
</head>
<shell>
    <div layout="column"
         layout-fill=""
         layout-align="center center"
         class="layout-fill layout-align-center-center layout-column">
        <img src="./img/storm-logo.png" style="width: 320px;height: 150px">

        <div class="md-preloader">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="75" width="75" viewbox="0 0 75 75">
                <circle cx="37.5" cy="37.5" r="33.5" stroke-width="8"/>
            </svg>
        </div>
    </div>
</shell>
<script src="/client/dist/app.bundle.js"></script>
<script src="/client/dist/app.template.bundle.js"></script>

<% if(env !== 'development') { %>
<script type="text/javascript">window.vasleSettings = {app_id: "xwiIitqQ"};</script>
<script type="text/javascript"> !function () {
        function t() {
            var t = n.createElement("script");
            t.type = "text/javascript", t.async = !0, t.src = "https://www.retain.ir/app/xwiIitqQ/widget/?" + Math.random().toString(34).slice(2);
            var e = n.getElementsByTagName("script")[0];
            e.parentNode.insertBefore(t, e)
        }

        var e = window, a = e.Vasle;
        if ("function" == typeof a) a("reattach_activator"), a("update", e.vasleSettings); else {
            var n = document, c = function () {
                c.c(arguments)
            };
            c.q = [], c.c = function (t) {
                c.q.push(t)
            }, e.Vasle = c, e.attachEvent ? e.attachEvent("onload", t) : e.addEventListener("load", t, !1)
        }
    }();
</script>
<% } %>
</html>
