<!doctype html>
<html ng-app="app" lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>Storm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="currentUser" content="<%- currentUser %>">

    <base href="/">
    <link href="/css/app.css" rel="stylesheet">
</head>
<shell>
    <div layout="column"
         layout-fill=""
         layout-align="center center"
         class="layout-fill layout-align-center-center layout-column">
        <img src="./img/storm-logo.png" style="width: 300px;height: 150px">
    </div>
</shell>
<script src="/client/dist/app.bundle.js"></script>
<script src="/client/dist/app.template.bundle.js"></script>
</html>
