<div class="row" ng-if="item.paymentType=='cheque'">
    <div class="col-md-1" style="font-size: 20px;margin-top: 7px">
        <span class="label label-success" style="font-size: medium">{{'Cheque' | translate}}</span>
    </div>

    <div class="col-md-1" style="text-align: left;margin-top: 7px">
        <label class="label-control">{{'Amount' | translate}}</label>
    </div>
    <div class="col-md-2">
        <dev-tag-numeric
                ng-change="model.onAmountChanged(item)"
                focus-me-on="payment-{{$index}}"
                class="form-control"
                name="chequeAmount"
                ng-model="item.amount"
                required></dev-tag-numeric>

        <div ng-messages="form['form-'+ $index].chequeAmount.$error" ng-if="form['form-'+ $index].chequeAmount.$dirty">
            <label ng-message="required" class="error">
                {{'This field is required'|translate}}</label>
        </div>
    </div>

    <div class="col-md-1" style="text-align: left;margin-top: 7px">
        <label class="label-control">{{'Number' | translate}}</label>
    </div>
    <div class="col-md-2">
        <dev-tag-text-box
                name="chequeNumber"
                ng-model="item.number"
                required></dev-tag-text-box>

        <div ng-messages="form['form-'+ $index].chequeNumber.$error" ng-if="form['form-'+ $index].chequeNumber.$dirty">
            <label ng-message="required" class="error">
                {{'This field is required'|translate}}</label>
        </div>
    </div>
    <div class="col-md-1" style="text-align: left;margin-top: 7px;padding:  0px;">
        <label class="label-control">{{'cheque date' | translate}}</label>
    </div>
    <div class="col-md-3">
        <dev-tag-datepicker
                ng-init="item.date = model.today"
                ng-model="item.date"
                name="paymentDate"
                required></dev-tag-datepicker>

        <div ng-messages="form['form-'+ $index].paymentDate.$error" ng-if="form['form-'+ $index].paymentDate.$dirty">
            <label ng-message="required" class="error">
                {{'This field is required'|translate}}</label>
        </div>
    </div>
    <div class="col-md-1" style="font-size: 20px;margin-top: 7px;text-align: left;">
        <button type="button" ng-click="model.removePayment(item)" class="close" title="حذف">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<div class="row" style="margin-top: 3px" ng-if="item.paymentType=='cheque'">
    <div class="col-md-1" style="font-size: 20px;margin-top: 7px">

    </div>

    <div class="col-md-1" style="text-align: left;margin-top: 7px" >
        <label class="label-control">{{'Bank' | translate}}</label>
    </div>

    <div class="col-md-3" ng-if="model.receiveOrPay == 'pay'">
        <dev-tag-combo-box
                name="bankId"
                k-placeholder="{{'Select ...'|translate}}"
                k-data-value-field="id"
                k-data-text-field="title"
                ng-model="item.bankId"
                k-on-created="model.createNewBank($search)"
                k-on-changed="model.onBankChanged($item,item)"
                show-no-data-template
                url="{{model.urls.getAllBanks}}"
                required></dev-tag-combo-box>

        <div ng-messages="form['form-'+ $index].bankId.$error" ng-if="form['form-'+ $index].bankId.$dirty">
            <label ng-message="required" class="error">
                {{'This field is required'|translate}}</label>
        </div>
    </div>

    <div class="col-md-3" ng-if="model.receiveOrPay == 'receive'">
        <dev-tag-text-box
                name="bankName"
                ng-model="item.bankName"
                required></dev-tag-text-box>

        <div ng-messages="form['form-'+ $index].bankName.$error" ng-if="form['form-'+ $index].bankName.$dirty">
            <label ng-message="required" class="error">
                {{'This field is required'|translate}}</label>
        </div>
    </div>

    <div class="col-md-2"></div>
    <div class="col-md-1" style="text-align: left;margin-top: 7px" ng-if="model.receiveOrPay == 'receive'">
        <label class="label-control">{{'Bank Branch' | translate}}</label>
    </div>
    <div class="col-md-3" ng-if="model.receiveOrPay == 'receive'">
        <dev-tag-text-box
                name="bankBranch"
                ng-model="item.bankBranch"
                required></dev-tag-text-box>

        <div ng-messages="form['form-'+ $index].bankBranch.$error" ng-if="form['form-'+ $index].bankBranch.$dirty">
            <label ng-message="required" class="error">
                {{'This field is required'|translate}}</label>
        </div>
    </div>

    <div class="col-md-1" style="font-size: 20px;margin-top: 7px;text-align: left;">

    </div>
</div>