<div class="modal-header">
    <button type="button" ng-click="model.close()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">
        {{'Payment'| translate}}
    </h3>
</div>
<div class="modal-body k-rtl">

    <div class="row">

        <div class="btn-group" role="group">
            <button type="button" ng-click="model.newReceiptPayment()" class="btn btn-white">{{'New Receipt'|translate}}
            </button>
            <button type="button" ng-click="model.newChequePayment()" class="btn btn-white">{{'New Cheque'|translate}}
            </button>
            <button type="button" ng-click="model.newCashPayment()" class="btn btn-white">{{'New Cash'|translate}}
            </button>
        </div>
    </div>
    <br>

    <form name="form" class="form-horizontal">
        <dev-tag-validation-summary errors="model.errors" class="col-md-8"></dev-tag-validation-summary>
      <br>

        <ul class="list-group  clear-list m-t" >
            <li class="list-group-item "
                ng-repeat="item in model.payment"
                ng-class="{'fist-item': $index == 0}">

                <div class="row" ng-if="item.paymentType=='cash'">
                    <div class="col-md-1" style="font-size: 20px;margin-top: 7px">
                        <span class="label label-primary" style="font-size: medium">{{'Cash' | translate}}</span>
                    </div>

                    <div class="col-md-1" style="text-align: left;margin-top: 7px">
                        <label class="label-control">{{'Amount' | translate}}</label>
                    </div>
                    <div class="col-md-4">
                        <dev-tag-numeric
                                ng-change="model.onAmountChanged(item)"
                                focus-me-on="payment-{{$index}}"
                                class="form-control"
                                name="cashAmount"
                                ng-model="item.amount"
                                required></dev-tag-numeric>

                        <div ng-messages="form.cashAmount.$error" ng-if="form.cashAmount.$dirty">
                            <label ng-message="required" class="error">
                                {{'This field is required'|translate}}</label>
                        </div>

                    </div>
                    <div class="col-md-1" style="text-align: left;margin-top: 7px">
                        <label class="label-control">{{'Fund' | translate}}</label>
                    </div>
                    <div class="col-md-4">
                        <dev-tag-combo-box
                                           name="fundId"
                                           k-placeholder="{{'Select ...'|translate}}"
                                           k-data-value-field="id"
                                           k-data-text-field="title"
                                           ng-model="item.fundId"
                                           k-on-created="model.createNewFund($search)"
                                           k-on-changed="model.onFundChanged($item, item)"
                                           show-no-data-template
                                           url="{{model.urls.getAllFunds}}"
                                           required></dev-tag-combo-box>

                        <div ng-messages="form.fundId.$error" ng-if="form.fundId.$dirty">
                            <label ng-message="required" class="error">
                                {{'This field is required'|translate}}</label>
                        </div>

                    </div>
                    <div class="col-md-1" style="font-size: 20px;margin-top: 7px;text-align: left;">
                        <button type="button" ng-click="model.removePayment(item)" class="close" title="حذف">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="row" ng-if="item.paymentType=='cheque'">
                    <div class="col-md-1" style="font-size: 20px;margin-top: 7px">
                        <span class="label label-success" style="font-size: medium">{{'Cheque' | translate}}</span>
                    </div>

                    <div class="col-md-1" style="text-align: left;margin-top: 7px">
                        <label class="label-control">{{'Amount' | translate}}</label>
                    </div>
                    <div class="col-md-2">
                        <dev-tag-numeric
                                ng-change="model.onAmountChanged(item)"
                                focus-me-on="payment-{{$index}}"
                                class="form-control"
                                name="chequeAmount"
                                ng-model="item.amount"
                                required></dev-tag-numeric>

                        <div ng-messages="form.chequeAmount.$error" ng-if="form.chequeAmount.$dirty">
                            <label ng-message="required" class="error">
                                {{'This field is required'|translate}}</label>
                        </div>
                    </div>

                    <div class="col-md-1" style="text-align: left;margin-top: 7px">
                        <label class="label-control">{{'Number' | translate}}</label>
                    </div>
                    <div class="col-md-2">
                        <dev-tag-text-box
                                name="chequeNumber"
                                ng-model="item.number"
                                required></dev-tag-text-box>

                        <div ng-messages="form.chequeNumber.$error" ng-if="form.chequeNumber.$dirty">
                            <label ng-message="required" class="error">
                                {{'This field is required'|translate}}</label>
                        </div>
                    </div>
                    <div class="col-md-1" style="text-align: left;margin-top: 7px">
                        <label class="label-control">{{'Date' | translate}}</label>
                    </div>
                    <div class="col-md-3">
                        <dev-tag-datepicker
                                ng-model="item.date"
                                name="paymentDate"
                                required></dev-tag-datepicker>

                        <div ng-messages="form.paymentDate.$error" ng-if="form.paymentDate.$dirty">
                            <label ng-message="required" class="error">
                                {{'This field is required'|translate}}</label>
                        </div>
                    </div>
                    <div class="col-md-1" style="font-size: 20px;margin-top: 7px;text-align: left;">
                        <button type="button" ng-click="model.removePayment(item)" class="close" title="حذف">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="row" style="margin-top: 3px" ng-if="item.paymentType=='cheque'">
                    <div class="col-md-1" style="font-size: 20px;margin-top: 7px">

                    </div>

                    <div class="col-md-1" style="text-align: left;margin-top: 7px" >
                        <label class="label-control">{{'Bank' | translate}}</label>
                    </div>

                    <div class="col-md-3" ng-if="model.receiveOrPay == 'pay'">
                        <dev-tag-combo-box
                                name="bankId"
                                k-placeholder="{{'Select ...'|translate}}"
                                k-data-value-field="id"
                                k-data-text-field="title"
                                ng-model="item.bankId"
                                k-on-created="model.createNewBank($search)"
                                k-on-changed="model.onBankChanged($item,item)"
                                show-no-data-template
                                url="{{model.urls.getAllBanks}}"
                                required></dev-tag-combo-box>

                        <div ng-messages="form.bankId.$error" ng-if="form.bankId.$dirty">
                            <label ng-message="required" class="error">
                                {{'This field is required'|translate}}</label>
                        </div>
                    </div>

                    <div class="col-md-3" ng-if="model.receiveOrPay == 'receive'">
                        <dev-tag-text-box
                                name="bankName"
                                ng-model="item.bankName"
                                required></dev-tag-text-box>

                        <div ng-messages="form.bankName.$error" ng-if="form.bankName.$dirty">
                            <label ng-message="required" class="error">
                                {{'This field is required'|translate}}</label>
                        </div>
                    </div>

                    <div class="col-md-2"></div>
                    <div class="col-md-1" style="text-align: left;margin-top: 7px" ng-if="model.receiveOrPay == 'receive'">
                        <label class="label-control">{{'Bank Branch' | translate}}</label>
                    </div>
                    <div class="col-md-3" ng-if="model.receiveOrPay == 'receive'">
                        <dev-tag-text-box
                                name="bankBranch"
                                ng-model="item.bankBranch"
                                required></dev-tag-text-box>

                        <div ng-messages="form.bankBranch.$error" ng-if="form.bankBranch.$dirty">
                            <label ng-message="required" class="error">
                                {{'This field is required'|translate}}</label>
                        </div>
                    </div>

                    <div class="col-md-1" style="font-size: 20px;margin-top: 7px;text-align: left;">

                    </div>
                </div>
                <div class="row" ng-if="item.paymentType=='receipt'">
                    <div class="col-md-1" style="font-size: 20px;margin-top: 7px">
                        <span class="label label-info" style="font-size: medium" title="فیش / رسید بانکی">{{'Receipt' | translate}}</span>
                    </div>

                    <div class="col-md-1" style="text-align: left;margin-top: 7px">
                        <label class="label-control">{{'Amount' | translate}}</label>
                    </div>
                    <div class="col-md-2">
                        <dev-tag-numeric
                                ng-change="model.onAmountChanged(item)"
                                focus-me-on="payment-{{$index}}"
                                class="form-control"
                                name="receiptAmount"
                                ng-model="item.amount"
                                required></dev-tag-numeric>

                        <div ng-messages="form.receiptAmount.$error" ng-if="form.receiptAmount.$dirty">
                            <label ng-message="required" class="error">
                                {{'This field is required'|translate}}</label>
                        </div>
                    </div>

                    <div class="col-md-1" style="text-align: left;margin-top: 7px">
                        <label class="label-control">{{'Number' | translate}}</label>
                    </div>
                    <div class="col-md-2">
                        <dev-tag-text-box
                                name="receiptNumber"
                                ng-model="item.number"
                                required></dev-tag-text-box>

                        <div ng-messages="form.receiptNumber.$error" ng-if="form.receiptNumber.$dirty">
                            <label ng-message="required" class="error">
                                {{'This field is required'|translate}}</label>
                        </div>
                    </div>
                    <div class="col-md-1" style="text-align: left;margin-top: 7px">
                        <label class="label-control">{{'Bank' | translate}}</label>
                    </div>
                    <div class="col-md-3">
                        <dev-tag-combo-box
                                name="bankId"
                                k-placeholder="{{'Select ...'|translate}}"
                                k-data-value-field="id"
                                k-data-text-field="title"
                                ng-model="item.bankId"
                                k-on-created="model.createNewBank($search)"
                                k-on-changed="model.onBankChanged($item, item)"
                                show-no-data-template
                                url="{{model.urls.getAllBanks}}"
                                required></dev-tag-combo-box>

                        <div ng-messages="form.bankId.$error" ng-if="form.bankId.$dirty">
                            <label ng-message="required" class="error">
                                {{'This field is required'|translate}}</label>
                        </div>
                    </div>
                    <div class="col-md-1" style="font-size: 20px;margin-top: 7px;text-align: left;">
                        <button type="button" ng-click="model.removePayment(item)" class="close" title="حذف">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div >

            </li>
            <li class="list-group-item" ng-show="model.payment.length > 0">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <h3>{{'Sum'|translate}}</h3>
                    </div>
                    <div class="col-md-3">
                        <h3>{{model.payment|totalSum:('amount')|number}}</h3>
                    </div>
                </div>
            </li>
            <li class="list-group-item" ng-show="model.payment.length > 0 && model.amount > 0">
              <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-1">
                      <h3>{{'Remainder' | translate}}</h3>
                  </div>
                  <div class="col-md-3">
                      <h3>{{model.amount - (model.payment |  totalSum: ('amount'))  | number }}</h3>
                  </div>
              </div>
            </li>
        </ul>
    </form>

</div>
<div class="modal-footer">
    <dev-tag-button
            ng-click="model.save(form)"
            icon="glyphicon glyphicon-floppy-disk"
            ng-disabled="model.isSaving"
            is-waiting="model.isSaving"
            style-type="primary"
            title="{{'Save' | translate}}"></dev-tag-button>
</div>
