<div class="row" ng-if="item.paymentType=='person'">
    <div class="row">
        <div class="col-md-1" style="font-size: 20px;margin-top: 7px">
            <span class="label label-default" style="font-size: medium">{{'Person' | translate}}</span>
        </div>

        <div class="col-md-1" style="text-align: left;margin-top: 7px">
            <label class="label-control">{{'Amount' | translate}}</label>
        </div>
        <div class="col-md-4">
            <dev-tag-numeric
                    ng-change="model.onAmountChanged(item)"
                    focus-me-on="payment-{{$index}}"
                    class="form-control"
                    name="cashAmount"
                    ng-model="item.amount"
                    required></dev-tag-numeric>

            <div ng-messages="form['form-'+ $index].cashAmount.$error" ng-if="form['form-'+ $index].cashAmount.$dirty">
                <label ng-message="required" class="error">
                    {{'This field is required'|translate}}</label>
            </div>

        </div>
        <div class="col-md-1" style="text-align: left;margin-top: 7px">
            <label class="label-control">{{'Person' | translate}}</label>
        </div>
        <div class="col-md-4">
            <dev-tag-combo-box
                    name="personId"
                    k-placeholder="{{'Select ...'|translate}}"
                    k-data-value-field="id"
                    k-data-text-field="title"
                    ng-model="item.personId"
                    show-no-data-template
                    url="{{model.urls.getAllPeople}}"
                    required></dev-tag-combo-box>

            <div ng-messages="form['form-'+ $index].personId.$error" ng-if="form['form-'+ $index].personId.$dirty">
                <label ng-message="required" class="error">
                    {{'This field is required'|translate}}</label>
            </div>

        </div>
        <div class="col-md-1" style="font-size: 20px;margin-top: 7px;text-align: left;">
            <button type="button" ng-click="model.removePayment(item)" class="close" title="حذف">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="row" style="padding-top: 5px">
        <div class="col-md-1"></div>
        <div class="col-md-1" style="text-align: right;margin-top: 7px;padding:  0px;">
            <label class="label-control">{{'Received on' | translate}}</label>
        </div>
        <div class="col-md-3">
            <dev-tag-datepicker
                    ng-init="item.date = model.today"
                    ng-model="item.date"
                    name="paymentDate"
                    required></dev-tag-datepicker>

            <div ng-messages="form['form-'+ $index].paymentDate.$error"
                 ng-if="form['form-'+ $index].paymentDate.$dirty">
                <label ng-message="required" class="error">
                    {{'This field is required'|translate}}</label>
            </div>
        </div>
        <div class="col-md-7"></div>
    </div>
</div>