<div class="row" ng-if="item.paymentType=='receipt'">
    <div class="col-md-1" style="font-size: 20px;margin-top: 7px">
        <span class="label label-info" style="font-size: medium" title="فیش / رسید بانکی">{{'Receipt' | translate}}</span>
    </div>

    <div class="col-md-1" style="text-align: left;margin-top: 7px">
        <label class="label-control">{{'Amount' | translate}}</label>
    </div>
    <div class="col-md-2">
        <dev-tag-numeric
                ng-change="model.onAmountChanged(item)"
                focus-me-on="payment-{{$index}}"
                class="form-control"
                name="receiptAmount"
                ng-model="item.amount"
                required></dev-tag-numeric>

        <div ng-messages="form['form-'+ $index].receiptAmount.$error" ng-if="form['form-'+ $index].receiptAmount.$dirty">
            <label ng-message="required" class="error">
                {{'This field is required'|translate}}</label>
        </div>
    </div>

    <div class="col-md-1" style="text-align: left;margin-top: 7px">
        <label class="label-control">{{'Number' | translate}}</label>
    </div>
    <div class="col-md-2">
        <dev-tag-text-box
                name="receiptNumber"
                ng-model="item.number"
                required></dev-tag-text-box>

        <div ng-messages="form['form-'+ $index].receiptNumber.$error" ng-if="form['form-'+ $index].receiptNumber.$dirty">
            <label ng-message="required" class="error">
                {{'This field is required'|translate}}</label>
        </div>
    </div>
    <div class="col-md-1" style="text-align: left;margin-top: 7px">
        <label class="label-control">{{'Bank' | translate}}</label>
    </div>
    <div class="col-md-3">
        <dev-tag-combo-box
                name="bankId"
                k-placeholder="{{'Select ...'|translate}}"
                k-data-value-field="id"
                k-data-text-field="title"
                ng-model="item.bankId"
                k-on-created="model.createNewBank($search)"
                k-on-changed="model.onBankChanged($item, item)"
                show-no-data-template
                url="{{model.urls.getAllBanks}}"
                required></dev-tag-combo-box>

        <div ng-messages="form['form-'+ $index].bankId.$error" ng-if="form['form-'+ $index].bankId.$dirty">
            <label ng-message="required" class="error">
                {{'This field is required'|translate}}</label>
        </div>
    </div>
    <div class="col-md-1" style="font-size: 20px;margin-top: 7px;text-align: left;">
        <button type="button" ng-click="model.removePayment(item)" class="close" title="حذف">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div >