<div class="modal-header">
    <button type="button" ng-click="model.close()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title" ng-if="!model.editMode">{{'New fund'| translate}}</h3>
    <h3 class="modal-title" ng-if="model.editMode">{{'Edit fund'| translate}}</h3>
</div>
<div class="modal-body k-rtl">
    <form name="form">
        <dev-tag-validation-summary errors="model.errors" class="col-md-8"></dev-tag-validation-summary>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>{{'Title'| translate}}</label>
                    <dev-tag-text-box
                            name="title"
                            ng-model="model.fund.title"></dev-tag-text-box>

                    <div ng-messages="form.title.$error" ng-if="form.title.$dirty">
                        <label ng-message="required" class="error">{{'This field is required'|translate}}</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <dev-tag-button
            ng-click="model.save(form)"
            icon="glyphicon glyphicon-floppy-disk"
            ng-disabled="isSaving"
            is-waiting="isSaving"
            style-type="primary"
            title="{{'Save' | translate}}"></dev-tag-button>
</div>