{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
   /* "syntax-async-functions",
    "transform-regenerator",*/
    ["inline-json", {"matchPattern": "config"}]
  ]
}