{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators",{ "legacy": true }],
    ["transform-class-properties",{ "loose": true }],
    ["inline-json-import", {}],
    "@babel/plugin-proposal-object-rest-spread"
  ]
}