
<dev-tag-content dev-Attr-title="{{'Receivable cheques'| translate}}">


    <dev-tag-button
            ng-disabled="!(model.selectedCheque && model.selectedCheque.chequeStatus == 'normal')"
            ng-click="model.passCheque()"
            title="{{'Pass cheque'| translate}}"
            style-type="primary"></dev-tag-button>

    <dev-tag-button
            ng-disabled="!(model.selectedCheque && model.selectedCheque.chequeStatus == 'normal')"
            ng-click="model.returnCheque()"
            title="{{'Return cheque'| translate}}"
            style-type="danger"></dev-tag-button>
    <dev-tag-grid
            option="model.gridOption"
            on-current-changed="model.onSelectCheque(current)"></dev-tag-grid>

</dev-tag-content>