<div class="row">
    <div class="col-md-4">
        {{'Page'|translate}} {{currentPage}} {{'Of'|translate}} {{pageCount}} {{'Page'|translate}}
    </div>

    <div class="col-md-4">
        {{'Page size'|translate}}
        <dev-tag-dropdownlist
                style="width: 50px"
                k-data-source="pageSizes"
                ng-model="pageSize"></dev-tag-dropdownlist>
    </div>

    <div class="col-md-4">
        <ul pagination
            total-items="total"
            ng-model="currentPage"
            max-size="5"
            items-per-page="pageSize"
            num-pages="pageCount"
            class="pagination-sm"
            boundary-links="true"
            force-ellipses="true"
            ng-change="change()"
            previous-text="&rsaquo;"
            next-text="&lsaquo;"
            first-text="&raquo;"
            last-text="&laquo;"
            style="margin: 0 0 0 20px;
                   position: absolute;
                   left: 0;"></ul>
    </div>

</div>