<div>
    <shell-sidebar></shell-sidebar>

    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <shell-header></shell-header>
        </div>

        <div class="row wrapper border-bottom white-bg page-heading"
             ng-if="canShowStatusSection"
        style="padding: 10px">
            <div class="col-md-6">
                <div class="col-md-3">
                    <h3>{{'Select Period' | translate}}</h3>
                </div>

                <div class="col-md-9">
                    <dev-tag-dropdownlist
                            k-data-value-field="id"
                            k-data-text-field="display"
                            k-data-source="fiscalPeriodDataSource"
                            ng-model="current.fiscalPeriod"
                            k-on-change="fiscalPeriodOnChanged"></dev-tag-dropdownlist>
                </div>
            </div>
            <div class="col-md-6">
                <span ng-repeat="item in modes" style="margin-left: 10px">
               <dev-tag-radio
                       ng-class="{'checked': item.key == current.mode}"

                       k-value="{{item.key}}"
                       ng-model="current.mode"></dev-tag-radio>
                     {{item.display}}
                </span>
            </div>
        </div>

        <div id="page-content-wrapper" class="content-total">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 content-ngtransclude">
                        <div ng-view class="shuffle-animation">

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


