
<div class="row" ng-if="model.branches.length === 0">
    <h2 class="text-center" style="color: white">برای فعالسازی پنل رایگان بر روی ایجاد کسب و کار جدید کلیک کنید</h2>
</div>

<dev-tag-content-cover-from style="background-color: white">
<!-- ng-if="model.branches.length === 0"-->


    <div class="feed-activity-list" style="padding-top: 16px">
        <div ng-if="model.branches.length === 0"
             class="feed-element"
             style="text-align: right;padding-right: 10px">
            <dev-tag-button
                    href="/setup/info"
                    icon="fa fa-plus fa-lg"
                    style-type="primary"
                    title="{{'Create new Branch' | translate}}"></dev-tag-button>
        </div>
        <div class="feed-element"
             ng-repeat="item in model.branches">
            <div class="row">
                <div class="col-md-3">
                    <img alt="image"
                         class="center-block"
                         ng-src="{{item.logo}}"
                         preload-image
                         default-image="/public/images/business.png"
                         fallback-image="/public/images/business.png"
                         style="height: 100px;max-width: 200px">
                </div>
                <div class="col-md-6 text-right" >
                    <strong>{{item.name}}</strong>
                    <span ng-show="item.status !== 'active'" class="label label-danger">{{'It`s not active'|translate}}</span>
                    <br>
                    <p style="margin-top: 5px">
                       <div ng-if="item.isOwner">
                            <i  class="fa fa-star fa-lg text-success"></i>
                            <span >{{'You are owner of this branch'|translate}}</span>
                        </div>
                        <span class="text-muted">{{'Created at'|translate}} : </span><span class="text-muted">{{item.createdAtToPersian}}</span>
                    </p>

                </div>
                <div class="col-md-3">
                    <dev-tag-button
                            ng-if="item.status === 'active'"
                            ng-click="model.select(item)"
                            icon="fa fa-sign-in fa-lg"
                            ng-disabled="isSaving"
                            is-waiting="isSaving"
                            style-type="primary"
                            title="{{'Enter' | translate}}"
                            ng-disabled="false"></dev-tag-button>

                    <dev-tag-button
                            style="text-align: right"
                            ng-if="!item.isOwner"
                            ng-click="model.remove(item)"
                            style-type="white btn-xs"
                            title="{{'Remove me from this branch'|translate}}"></dev-tag-button>
                </div>

            </div>
        </div>
    </div>


</dev-tag-content-cover-from>

<div class="row" ng-if="model.branches.length === 0">
    <h2 class="text-center text-info">پنل حسابداری کسب و کار شما به مدت 30 روز به صورت آزمایشی فعال میشود</h2>
</div>
