<div class="modal-header">
    <button type="button" ng-click="close()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">{{'Write cheque'| translate}}</h3>
</div>
<div class="modal-body k-rtl">

    <dev-tag-validation-summary errors="errors"></dev-tag-validation-summary>

    <form name="form">
        <div>
            <div class="form-group row">
                <div class="col-xs-1">
                    <label class="label-control">{{'Detail account' | translate}}</label>
                </div>
                <div class="col-xs-10">
                    <span>{{cheque.detailAccountDisplay}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="label-control">{{'Cheque category' | translate}}</label>

                <div class="list-group">
                    <a
                            ng-repeat="cat in openChequeCategories"
                            ng-class="{'active' : cat == selectedChequeCategory}"
                            ng-click="selectChequeCategory(cat)"
                            class="list-group-item ">
                        {{cat.totalPages}} {{'Pages'|translate}} - {{cat.totalWhiteCheques}} {{'White cheques'|
                        translate}}
                    </a>
                </div>

                <span ng-if="!hasOpenChequeCategories"
                      class="label label-danger">
                    {{'For current detailAccount open cheque category is not defined'|translate}}
                </span>
            </div>

            <div class="form-group" ng-if="selectedChequeCategory">
                <label class="label-control">{{'Cheque' | translate}}</label>

                <dev-tag-dropdownlist
                        name="chequeId"
                        k-option-label="{{'Select ...'|translate}}"
                        k-data-value-field="id"
                        k-data-text-field="number"
                        k-data-source="whiteChequesDataSource"
                        ng-model="cheque.chequeId"
                        required></dev-tag-dropdownlist>

                <div ng-messages="form.chequeId.$error" ng-if="form.chequeId.$dirty">
                    <span ng-message="required" class="label label-danger">{{'This field is required'|translate}}</span>
                </div>
            </div>

            <div class="form-group">
                <label class="label-control">{{'Date' | translate}}</label>
                <dev-tag-datepicker
                        ng-model="cheque.date"
                        name="date"
                        required></dev-tag-datepicker>

                <div ng-messages="form.date.$error" ng-if="form.date.$dirty">
                    <span ng-message="required" class="label label-danger">{{'This field is required'|translate}}</span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-xs-1">
                    <h3>
                        <label class="label-control">{{'Amount' | translate}}</label>
                    </h3>
                </div>
                <div class="col-xs-10">
                    <label class="label label-default" style="font-size: 20px">{{cheque.amount|amount}}</label>
                </div>
            </div>

            <div class="form-group">
                <label class="label-control">{{'Description on cheque' | translate}}</label>
                    <textarea type="text" class="form-control" ng-model="cheque.description"
                              name="description"></textarea>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <dev-tag-button
            ng-click="save(form)"
            icon="glyphicon glyphicon-floppy-disk"
            ng-disabled="isSaving"
            is-waiting="isSaving"
            style-type="primary"
            title="{{'Save' | translate}}"
            ng-disabled="form.$invalid"></dev-tag-button>
</div>