// @import "../../accounting/client/src/styles/acc";

$image-path: '/public/images';
$font-path: '/public/fonts';
$font-family: 'IRANSans';
$header-profile: '#{$image-path}/storm-header-profile.jpg';
$fa-font-path: $font-path;
$icon-font-path: '#{$font-path}/';

$primary-color: #1ab394;
$primary-select-color: #87c56f;

$bootstrap-sass-asset-helper: false;
$dir: rtl;

@import "loadingbar.start";
@import "bootstrap-sass-directional/assets/stylesheets/bootstrap";
@import "bootstrap.override";
@import "select";
@import "select.override";
@import "sweetalert/dev/sweetalert";
@import "sweet-alert.override";
@import "ADM-dateTimePicker";
@import "ADMdtp.override";
@import "ladda/css/ladda";
@import "ladda.override";
@import "dropzone";
@import "dropzone.override";
@import "stimulsoft.viewer.office2013.whitegreen";
@import "stimulsoft.designer.office2013.whitegreen";
@import "font-awesome/scss/font-awesome";

@import "@dev-storm/so-sass-requirements/index";
@import "general.components/fonts";
@import "general.components/animate";
@import "general.components/classes";
@import "mdi/css/materialdesignicons.min.css";
// @import "../../vendors/storm-lumx/css/lumx.scss";
@import "./resources/colors";
@import "help";
@import "inspina.style";
@import "./resources/materializecss/materializecss";

$propNames: (
        "align-left": "text-align",
        "align-right": "text-align",
        "align-center": "text-align",
        "dir-rtl": "direction",
        "dir-ltr": "direction",
        "disp-block": "display",
        "vert-align-middle": "vertical-align"
);
$propValues: (
        "align-left": "left",
        "align-right": "right",
        "align-center": "center",
        "dir-rtl": "rtl",
        "dir-ltr": "ltr",
        "disp-block": "block",
        "vert-align-middle": "middle"
);

// For Each Defined Color
@each $key , $val in $color-map {
  .so-tx-#{$key}{ color: $val; }
  .so-bg-#{$key}{ background-color: $val; }
}
// Make Property Classes
@each $className, $cssPropName in $propNames {
  .so-#{$className}{
    #{$cssPropName}: #{map_get($propValues, $className)} !important;
  }
}

@mixin global-selection(){
  color: $color-light-green;
  background-color: $color-dark-cyan-green;
}
::-moz-selection{ @include global-selection() }
::selection{ @include global-selection() }

*, *::before, *::after{
  @include box-sizing(border-box);
}

body{
  display: block;
  position: relative;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: $font-family;
  direction: rtl;
}