@import "general";

$so-docs-footer-height: 50px;
$so-docs-item-standard-wh: 42px;

.so-docs-wrapper{
  display: block;
  width: 100%;
  height: 100vh;
  background-color: $color-milk-white;
  color: $color-black;
  position: relative;
}

.so-docs-back-wrapper{
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: right;
  background-color: #f0f0f0;
  color: $color-black;
  z-index: 1;
  font-size: 16px;

  .so-docs-menu{
    display: block;
    position: relative;
    z-index: 1;
    float: right;
    width: 300px;
    height: 100vh;
    overflow: hidden;
    .so-docs-items{
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      @include overflow-x(hidden);
      @include overflow-y(auto);
      @include no-user-select();
      padding: 0;
      margin: 0;
      @mixin list-items(){
        display: block;
        position: relative;
        list-style: none;
        float: none;
        width: 100%;
        min-height: $so-docs-item-standard-wh;
        line-height: $so-docs-item-standard-wh;
        margin: 0;
        cursor: default;
      }
      & > li{
        @include list-items();
        padding: 0;
        /*& > span{
          margin: 0 10px;
          color: $color-orange;
        }*/
        & > a{
          margin: 0 10px;
          color: $color-cyan-green;
          text-decoration: none;
        }
      }
      & > li > ul{
        padding: 0;
        margin: 0;
      }
      & > li > ul > li{
        @include list-items();
        & > a{
          display: block;
          width: 100%;
          height: 100%;
          color: $color-black;
          padding: 0 25px 0 0;
          margin: 0;
          text-decoration: none;
          &:hover{
            background-color: lighten($color-gray-milk-white,10%);
          }
        }
      }
    }
  }

  .so-docs-footer{
    display: block;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: calc(100% - 300px);
    height: $so-docs-footer-height;
    line-height: $so-docs-footer-height;
    margin: 0;
    padding: 0 10px;
    background-color: $color-light-black;
    color: white;
    @include transition(#{"width ease 0.3s"});
    @include no-user-select();
    cursor: default;
    &.so-close-menu{
      width: 100%;
    }
  }

}

.so-docs-content-wrapper{
  display: block;
  position: relative;
  width: calc(100% - 300px);
  min-height: 100vh;
  float: left;
  overflow: hidden;
  z-index: 2;
  background-color: white;
  padding: 0;
  margin: 0 0 $so-docs-footer-height 0;
  @include transition(#{"width ease 0.3s"});
  &.so-close-menu{
    width: 100%;
    & > .so-docs-top-btns{ width: 100% }
  }
  @media screen and (max-width: 800px) {
    width: 100% !important;
    & > .so-docs-top-btns{ width: 100% !important; }
    #so-docs-top-menu-btn{ display: none; }
  }

  // If home page
  &.so-docs-home{
    @include gradient("#{$color-light-green}, #{$color-dark-cyan-green}", top left);
  }

  .so-docs-top-btns{
    display: block;
    position: fixed;
    z-index: 10000000000000000000;
    top: 0;
    left: 0;
    width: calc(100% - 300px);
    height: 42px;
    line-height: 42px;
    background-color: $color-black;
    color: $color-milk-white;
    border-bottom: $color-real-black;
    @include transition(#{"width ease 0.3s"});

    #so-docs-top-btns-logo{
      display: block;
      position: absolute;
      top: 0;
      left: 5px;
      height: 32px;
      @include transform( translateY(5px) );
      z-index: 3;
    }

    .so-docs-menu-btns{
      display: block;
      float: right;
      min-width: 42px;
      height: 42px;
      text-align: center;
      line-height: 42px;
      background-color: transparent;
      font-size: 24px;
      cursor: pointer;
      & > a{
        text-decoration: none !important;
        color: white !important;
      }
      &:hover{
        background-color: lighten($color-light-black,10%);
      }
    }

  }

  .so-docs-content-holder{
    display: block;
    position: relative;
    width: calc(100% - 50px);
    min-height: 100%;
    @include border-radius();
    margin: 0 auto;
    padding: #{$so-docs-item-standard-wh + 10px} 15px 10px 15px;

    .so-docs-content-main-title{
      $size-adjust: 8px;
      $size-wh: $so-docs-item-standard-wh + $size-adjust;
      display: block;
      position: relative;
      width: 100%;
      height: $size-wh;
      color: white;
      background-color: $color-dark-cyan-green;
      margin: 0 0 25px 0;
      & > i{
        display: inline-block;
        position: relative;
        width: $size-wh;
        height: $size-wh;
        line-height: $size-wh;
        text-align: center;
        font-size: 24px;
        &::after{
          content: ' ';
          display: block;
          position: absolute;
          width: 1px;
          height: $so-docs-item-standard-wh;
          left: 0;
          top: $size-adjust / 2;
          background-color: white;
        }
      }
      & > span{
        display: inline-block;
        font-size: 24px;
        height: 100%;
        line-height: $size-wh;
        margin: 0 5px;
        vertical-align: top;
      }
    }

  }

}


#so-docs-top-search{
  display: block;
  position: relative;
  float: right;
  width: 100%;
  height: 42px;
  margin: 0;
  padding: 0;
  color: $color-black;
  overflow: hidden;

  input{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 47px 0 5px;
    line-height: 42px;
    border: none;
    z-index: 1;
    @include no-focus-outline();
    font-size: 16px;
    @include transition(#{"background-color ease 0.2s"});
    background-color: transparent;
    color: $color-black;
    &:focus{
      background-color: white;
    }
  }
  button{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 42px;
    height: 42px;
    margin: 0;
    padding: 0;
    border: none;
    z-index: 2;
    text-align: center;
    background: none;
    @include no-focus-outline();
    font-size: 24px;
    background-color: transparent;
    @include transition(#{"background-color ease 0.3s, color ease 0.3s"});
    &:hover{
      color: white;
      background-color: $color-gray;
    }
  }
}

.so-docs-home-background{
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 0;

  $height: 75px;
  $pos-1: 30px;
  $pos-2: 140px;
  $opacity: 0.5;
  @mixin images-style(){
    display: block !important;
    position: absolute;
    opacity: $opacity;
    @include no-user-select();
  }
  img{
    display: none;
    opacity: 0;
  }

  @include keyframes("so-docs-home-background-blink-anim"){
    from{
      opacity: $opacity;
    }
    50%{
      opacity: 0;
    }
    to{
      opacity: $opacity;
    }
  };

  @for $i from 1 through 3 {
    img:nth-of-type(#{$i}){
      @include images-style();
      height: $height;
      top: 50px + (($i - 1) * 100);
      @if $i % 2 == 0 {
        right: $pos-2;
      } @else {
        right: $pos-1;
      }
      @include anim(so-docs-home-background-blink-anim ease 0.3s);
      @include anim-delay(0.3s * ($i - 1));
    }
  }

  @for $i from 4 through 6 {
    img:nth-of-type(#{$i}){
      @include images-style();
      height: $height;
      top: 50px + (($i - 1) * 100);
      @if $i % 2 == 0 {
        left: $pos-1;
      } @else {
        left: $pos-2;
      }
      @include anim(so-docs-home-background-blink-anim ease 0.3s);
      @include anim-delay(0.3s * ($i - 1));
    }
  }
}

.so-docs-home-search-wrapper{
  display: block;
  position: relative;
  z-index: 2;
  max-width: 800px;
  margin: 0 auto;
  padding: 32px 25px;
  background-color: $color-milk-white;
  @include border-radius();
  @include box-shadow();
  border-bottom: 2px solid $color-cyan-green;
}

.so-docs-home-search-box{

  $box-height: 50px;

  display: block;
  position: relative;
  width: 100%;
  height: $box-height;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: white;
  border: 1px solid $color-gray-milk-white;

  @mixin scope_styles(){
    display: block;
    height: $box-height;
    line-height: $box-height;
    margin: 0;
    color: $color-black;
    @include no-focus-outline();
  }

  input[type="text"]{
    @include scope-styles();
    position: relative;
    width: 100%;
    z-index: 0;
    padding: 0 ($box-height + 10px) 0 10px;
    font-size: 20px;
    border: none;
    &.so-ready{
      @include placeholder{
        @include no-user-select();
        color: $color-cyan-green;
      };
    }
  }


  span{
    @include scope-styles();
    @include no-user-select();
    direction: ltr !important;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: $box-height;
    z-index: 1;
    padding: 5px 0 0 0;
    text-align: center;
    font-size: 32px;
    border: none;
    & > i{
      display: block;
      position: relative;
      margin: 0 auto;
      @include transform( translateY(-5px) );
    }
  }

}

.so-docs-home-search-items{
  display: block;
  position: relative;
  width: 100%;
  height: 360px;
  @include anim(so-docs-home-search-items-anim ease 0.75s);
  @keyframes so-docs-home-search-items-anim{
    from{
      height: 0;
      opacity: 0;
    }
    to{
      height: 360px;
      opacity: 1;
    }
  }
  @include overflow-x(hidden);
  @include overflow-y(scroll);
  @include no-user-select();
  padding: 0;
  margin: 0;
  background-color: white;
  $border-value: 1px solid $color-gray-milk-white;
  border-right: $border-value;
  border-left: $border-value;
  border-bottom: $border-value;
  @mixin list-items(){
    display: block;
    position: relative;
    list-style: none;
    float: none;
    width: 100%;
    min-height: $so-docs-item-standard-wh;
    line-height: $so-docs-item-standard-wh;
    margin: 0;
    cursor: default;
    font-size: 20px;
  }
  & > li{
    @include list-items();
    padding: 0;
    /*& > span{
      margin: 0 10px;
      color: $color-orange;
    }*/
    & > a{
      margin: 0 10px;
      color: $color-cyan-green;
      text-decoration: none;
    }
  }
  & > li > ul{
    padding: 0;
    margin: 0;
  }
  & > li > ul > li{
    @include list-items();
    & > a{
      display: block;
      width: 100%;
      height: 100%;
      color: $color-black;
      padding: 0 25px 0 0;
      margin: 0;
      text-decoration: none;
      &:hover{
        background-color: lighten($color-gray-milk-white,10%);
      }
    }
  }
}