@import "general";

.invoice-print-main-wrapper{
  display: block;
  position: relative;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  background-color: $base-background-color;
  padding: 0;
  margin: 0;
}

.invoice-print-header{
  display: block;
  width: 100%;
  height: 90px;
  padding: 0 25px;
  margin: 0;
  // border-bottom: 1px solid $color-black;
  line-height: 90px;
  @include transition(padding ease 0.3s);
  & > *{
    vertical-align: middle;
  }
  img.invoice-print-header-log{
    position: relative;
    display: inline-block;
    float: left;
    width: 100px;
    bottom: -20px;
  }
}
.invoice-print-wrapper{
  display: block;
  position: relative;
  width: 100%;
  padding: 0 25px 0 0;
  margin: 0;

  & > div.invoice-print-content{
    display: block;
    position: relative;
    float: right;
    width: 80%;
    min-height: 50px;
    max-height: calc(100vh - 90px);
    overflow: hidden;
    @include transition(width ease 0.3s);

    & > div.invoice-print-content-body{
      display: block;
      position: relative;
      padding: 10px 25px;
      height: calc(100vh - 115px);
      background-color: white;
      @include overflow-x(hidden);
      @include overflow-y(auto);
      border-bottom: 2px solid $color-cyan-green;
    }
    & > div.invoice-print-content-footer {
      display: block;
      position: relative;
      height: 25px;
      line-height: 25px;
      direction: ltr;
      text-align: left;
      font-size: 11px;
      padding: 0 5px;
      color: $color-dark-gray;
      a{
        color: inherit;
        text-decoration: none;
        &:hover{ color: $color-black; }
      }
    }

  }
  & > div.invoice-print-sidebar{
    display: block;
    position: relative;
    float: left;
    width: 20%;
    height: calc(100vh - 90px);
    // border-right: 1px solid red;
    @include overflow-x(hidden);
    @include overflow-y(auto);

    ul.invoice-print-sidebar-pay-list{
      display: block;
      position: relative;
      margin: 10px 0 0 0;
      padding: 0;
      a{
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
      }
      li{
        display: block;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 60px;
        text-align: center;
        margin: 0;
        padding: 0;
        line-height: 60px;
        $trans-time: 0.2s;
        @include transition(background-color ease $trans-time);
        @include anim(invoice-print-sidebar-pay-list-anim ease 1s);
        @keyframes invoice-print-sidebar-pay-list-anim {
          from{
            opacity: 0;
            background-color: fade_out($color-dark-gray, 0.75);
            @include transform(translateY(25px));
          }
          to{
            opacity: 1;
            background-color: transparent;
            @include transform(translateY(0));
          }
        }

        &::before{
          content: ' ';
          display: block;
          position: absolute;
          top: 0;
          right: -30px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 30px;
          border-color: transparent $color-gray transparent transparent;
          @include transition(#{"border-color ease #{$trans-time}, right ease #{$trans-time}"});
        }

        img{
          display: inline-block;
          vertical-align: middle;
          margin: 0 auto;
          width: auto;
          height: 40px;
          @include transition(transform ease 0.2s);
        }

        &:hover{
          background-color: white;
          // background-color: fade_out($color-dark-gray, 0.75);
          &::before{
            right: -10px;
            border-color: transparent $color-cyan-green transparent transparent;
          }
          img{
            @include transform(scale(1.1));
          }
        }
      }
    }

  }
  @media screen and (max-width: 800px){
    padding: 0;
    & > div.invoice-print-content{
      width: 100%;
    }
    & > div.invoice-print-sidebar{
      display: none;
    }
  }

}

.invoice-print-branch-logo{
  display: block;
  width: 125px;
  height: 125px;
  line-height: 125px;
  text-align: center;
  margin: 0 auto;
  // border: 1px solid $color-gray-milk-white;
  @include border-radius(0.3rem);
}

.invoice-print-table{
  width: 64%;
  margin: 0 auto 0 0;
  tr{
    td{
      padding: 10px;
    }
    td:nth-of-type(1){
      text-align: center;
    }
    td:nth-of-type(2){
      text-align: right;
      border-bottom: 1px solid lighten($color-gray,0.5);
      &:not(:empty)::after{
        display: inline;
        content: ' ریال';
        color: $color-cyan-green;
      }
    }
  }
}

.invoice-print-pay-table-container,
.invoice-print-avg-table-container{
  @media screen and (max-width: 800px){
    padding: 0 !important;
    text-align: center;
    .invoice-print-table{
      margin: 0 auto;
    }
  }
}

.invoice-print-mobile-pay-list{
  display: none;
  position: fixed;
  bottom: 42px;
  left: 25px;
  text-align: right;
  @media screen and (max-width: 800px){
    display: block;
  }
}