<form name="form">

    <dev-tag-content-body>
        <div class="row">
            <div class="col-md-4">
                <ul class="list-group  clear-list m-t" >

                    <li class="list-group-item"
                        ng-repeat="field in model.template.fields"
                        ng-class="{'fist-item': $index == 0}">

                        <div class="row">
                              <div class="col-md-8">{{field.display}}</div>
                              <div class="col-md-4">{{field.key}}</div>
                        </div>

                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="form-group row col-md-8">
                    <label class="label-control">{{'Journal description'|translate}}</label>
                    <dev-tag-text-box ng-model="model.template.data.description"></dev-tag-text-box>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>{{'Subsidiary ledger account'|translate}}</th>
                        <th>{{'Detail account'|translate}}</th>
                        <th>{{'Article'|translate}}</th>
                        <th>{{'Debtor'|translate}}</th>
                        <th>{{'Creditor'|translate}}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in model.template.data.lines"
                        name="form-{{$index}}"
                        ng-form>
                        <td>
                            <dev-tag-combo-box
                                    name="subsidiaryLedgerAccountId"
                                    k-placeholder="{{'Select ...'|translate}}"
                                    k-data-value-field="id"
                                    k-data-text-field="account"
                                    url="{{model.urls.getAllAccounts}}"
                                    group-by="generalLedgerAccountDisplay"
                                    k-on-changed="model.onChangedSubsidiaryLedgerAccount($item, item, form['form-'+$index])"
                                    k-on-bound="model.onChangedSubsidiaryLedgerAccount($item, item, form['form-'+$index])"
                                    ng-model="item.subsidiaryLedgerAccountId"
                                    required></dev-tag-combo-box>

                            <div ng-messages="form['form-'+$index].subsidiaryLedgerAccountId.$error"
                                 ng-if="form['form-'+$index].subsidiaryLedgerAccountId.$dirty">
                                <label ng-message="required"
                                       class="error">{{'This field is required'|translate}}</label>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <dev-tag-text-box ng-model="item.detailAccountId"></dev-tag-text-box>
                            </div>
                        </td>
                        <td>
                            <dev-tag-text-box ng-model="item.article" name="article" required></dev-tag-text-box>

                            <div ng-messages="form['form-'+$index].article.$error"
                                 ng-if="form['form-'+$index].article.$dirty">
                                <label ng-message="required"
                                       class="error">{{'This field is required'|translate}}</label>
                            </div>
                        </td>
                        <td>
                            <dev-tag-text-box ng-model="item.debtor" name="debtor" required></dev-tag-text-box>

                            <div ng-messages="form['form-'+$index].debtor.$error"
                                 ng-if="form['form-'+$index].debtor.$dirty">
                                <label ng-message="required"
                                       class="error">{{'This field is required'|translate}}</label>
                            </div>
                        </td>
                        <td>
                            <dev-tag-text-box ng-model="item.creditor" name="creditor" required></dev-tag-text-box>

                            <div ng-messages="form['form-'+$index].creditor.$error"
                                 ng-if="form['form-'+$index].creditor.$dirty">
                                <label ng-message="required"
                                       class="error">{{'This field is required'|translate}}</label>
                            </div>
                        </td>
                        <td>
                            <button
                                    style="margin-left: 5px"
                                    type="button"
                                    ng-click="model.removeLine(item)"
                                    class="close"
                                    title="{{'Remove'| translate}}">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <dev-tag-button style-type="primary"
                                icon="fa fa-floppy-o fa-lg"
                                title="{{'Save' | translate}}"
                                ng-click="model.save(form)"></dev-tag-button>

                <dev-tag-button style-type="primary btn-outline"
                                title="{{'New row' | translate}}"
                                ng-click="model.addLine()"></dev-tag-button>

                <dev-tag-button style-type="default btn-outline"
                                title="{{'Run on test' | translate}}"
                                ng-click="model.test(form)"></dev-tag-button>
            </div>
        </div>


    </dev-tag-content-body>

    <dev-tag-content-body >
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8" ng-if="model.output">
                <label class="label-control">{{'Journal description'|translate}}</label>

                <span>{{model.output.description}}</span>

                <table class="table table-striped ">
                    <thead>
                    <tr>
                        <th>{{'Subsidiary ledger account'|translate}}</th>
                        <th>{{'Detail account'|translate}}</th>
                        <th>{{'Article'|translate}}</th>
                        <th>{{'Debtor'|translate}}</th>
                        <th>{{'Creditor'|translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in model.output.lines">
                        <td>{{item.subsidiaryLedgerAccountCode}}</td>
                        <td>{{item.detailAccountId}}</td>
                        <td>{{item.article}}</td>
                        <td>{{item.debtor|number}}</td>
                        <td>{{item.creditor|number}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{model.output.lines|totalSum:('debtor')|number}}</td>
                    <td>{{model.output.lines|totalSum:('creditor')|number}}</td>
                    </tfoot>
                </table>
            </div>
        </div>

    </dev-tag-content-body>
</form>