<dev-tag-guide>
    <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
    برای پیمایش به ازای هر یک از ردیف های نمایش داده شده در سطوح بالاتر یا پایین تر، ابتدا با کلیک بروی ردیف موردنظر آن را انتخاب نمایید سپس با استفاده از هر یک از دکمه های کل، معین، تفصیل و نمایش جزئیات سند، در سطوح موردنظر پیمایش کرده و گزارش خود را ببینید.
</dev-tag-guide>
<dev-tag-content>
    <dev-tag-content-heading>
        <h5 class="panel-title">
            {{title}}

            <span ng-repeat="p in titleParameters">
                -
                <span ng-if="$index == 0">(</span>

                <span>{{p.name}}</span>
                <span ng-if="p.value">
                    <i class="fa fa-arrow-left"></i>
                    {{p.value}}
                </span>

                <span ng-if="$index == titleParameters.length -1">)</span>
            </span>


        </h5>

        <dev-tag-button
                ng-style="{position: 'relative',top: '-10px' ,  'margin-right': '10px'}"
                ui-sref="account-review"
                title="{{'Parameters' | translate}}"
                style-type="primary "></dev-tag-button>

    </dev-tag-content-heading>

    <dev-tag-content-body>
        <dev-tag-button
                ng-repeat="a in commands"
                ng-click="execute(a.key)"
                title="{{a.display}}"
                ng-disabled="!current"
                style-type="white"></dev-tag-button>

        <dev-tag-button
                ng-if="reportName == 'tiny'"
                ng-click="showJournal()"
                title="{{'Show journal detail' | translate}}"
                ng-disabled="!current"
                style-type="white"></dev-tag-button>

        <dev-tag-button
                title="{{'Print' | translate}}"
                icon="glyphicon glyphicon-print"
                style-type="white"></dev-tag-button>

        <dev-tag-grid
                option="gridOption"
                on-current-changed="onCurrentChanged(current)"></dev-tag-grid>
    </dev-tag-content-body>
</dev-tag-content>
