<dev-tag-guide>
    <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i><br/>
    <ul>
        <li>
            برای پیمایش در اسناد صادر شده در کلیه سطوح از این بخش استفاده می شود.
        </li>
        <li>
            امکان فیلتر اسناد برای پیمایش در اسناد موردنظر وجود دارد که با استفاده از فیلترها که در سمت راست فرم قرار داده شده، ممکن هست که شامل: فیلتر براساس، فیلتر تاریخ، فیلتر شماره(براساس شماره سند)، بدون شرط دوره(که در این حالت علاوه بر دوره مالی جاری دوره های قبل را نیز نمایش می دهد) و عدم نمایش مانده صفر می باشد.
        </li>
    </ul>
</dev-tag-guide>
<dev-tag-content dev-attr-title="{{'Account review'| translate}}">
    <form name="form">

        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <dev-tag-check-box
                                ng-model="parameters.filterByDetailAccountOrDimension">
                            {{'Filter by' | translate}}
                        </dev-tag-check-box>
                    </div>
                    <div class="col-md-8">
                        <dev-tag-combo-box
                                name="detailAccount"
                                k-placeholder="{{'Select ...'|translate}}"
                                k-data-value-field="id"
                                k-data-text-field="display"
                                k-value-primitive="false"
                                url="{{urls.getAllDetailAccounts}}"
                                k-on-changed="onDetailAccountChanged($item)"
                                ng-required="parameters.filterByDetailAccountOrDimension"
                                ng-if="parameters.filterByDetailAccountOrDimension"
                                ng-model="parameters.detailAccount"></dev-tag-combo-box>

                        <div ng-messages="form.detailAccount.$error" ng-if="form.detailAccount.$dirty">
                            <label ng-message="required" class="error">{{'This field is required'|translate}}</label>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-4">
                        <dev-tag-check-box ng-model="parameters.withDateCondition">
                            {{'Filter Date'|translate}}
                        </dev-tag-check-box>
                    </div>
                    <span ng-if="parameters.withDateCondition">
                <div class="col-md-1" style="text-align: left;margin-top: 7px">
                <label class="label-control">{{'From date' | translate}}</label>
            </div>
                <div class="col-md-3">
                    <dev-tag-datepicker
                            ng-model="parameters.minDate"
                            name="minDate"
                            required></dev-tag-datepicker>

                    <div ng-messages="form.minDate.$error" ng-if="form.minDate.$dirty">
                        <label ng-message="required" class="error">
                            {{'This field is required'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-1" style="text-align: left;margin-top: 7px">
                    <label class="label-control">{{'To date' | translate}}</label>
                </div>
                <div class="col-md-3">
                    <dev-tag-datepicker
                            ng-model="parameters.maxDate"
                            name="maxDate"
                            required></dev-tag-datepicker>

                    <div ng-messages="form.maxDate.$error" ng-if="form.maxDate.$dirty">
                        <label ng-message="required" class="error">
                            {{'This field is required'|translate}}
                        </label>
                    </div>
                </div>
           </span>
                </div>

                <div class="row" style="margin-top: 10px">
                    <div class="col-md-4">
                        <dev-tag-check-box ng-model="parameters.withNumberCondition">
                            {{'Filter Number'|translate}}
                        </dev-tag-check-box>
                    </div>

                    <span ng-if="parameters.withNumberCondition">
                <div class="col-md-1" style="text-align: left;margin-top: 7px">
                <label class="label-control">{{'From number' | translate}}</label>
            </div>
                <div class="col-md-3">
                    <dev-tag-numeric
                            ng-model="parameters.minNumber"
                            style="width: 100%"
                            name="minNumber"
                            required
                            not-zero></dev-tag-numeric>

                    <div ng-messages="form.minNumber.$error" ng-if="form.minNumber.$dirty">
                        <label ng-message="required" class="error">
                            {{'This field is required'|translate}}
                        </label>
                        <label ng-message="notZero" class="error">
                            {{'This field should have a value not equal to zero'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-1" style="text-align: left;margin-top: 7px">
                    <label class="label-control">{{'To number' | translate}}</label>
                </div>
                <div class="col-md-3">
                    <dev-tag-numeric
                            ng-model="parameters.maxNumber"
                            style="width: 100%"
                            name="maxNumber"
                            required
                            not-zero></dev-tag-numeric>

                    <div ng-messages="form.maxNumber.$error" ng-if="form.maxNumber.$dirty">
                        <label ng-message="required" class="error">
                            {{'This field is required'|translate}}
                        </label>
                        <label ng-message="notZero" class="error">
                            {{'This field should have a value not equal to zero'|translate}}</label>
                    </div>
                </div>
            </span>

                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-4" >
                        <dev-tag-check-box
                                ng-model="parameters.isNotPeriodIncluded"
                                dev-title="{{'Is not period included' | translate}}">
                            {{'Is not period included' | translate}}
                        </dev-tag-check-box>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-4" >
                        <dev-tag-check-box ng-model="parameters.notShowZeroRemainder">
                            {{'Not show zero remiander' | translate}}
                        </dev-tag-check-box>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <dev-tag-button
                        ng-repeat="item in reportTypes | filter: reportTypeFilter"
                        ng-click="executeTurnover(form, item.key)"
                        style-type="primary btn-block"
                        title="{{item.display}}"></dev-tag-button>
            </div>
        </div>




        <!--<div class="row" style="margin-top: 30px;padding: 30px 1em 30px 1em;">
            <div class="col-md-12">

                <span style="margin-left: 5px"
                      ng-repeat="item in reportTypes | filter: reportTypeFilter">
                    <dev-tag-button
                            ng-click="executeTurnover(form, item.key)"
                            style-type="primary"
                            title="{{item.display}}"></dev-tag-button>
                </span>

            </div>


        </div>-->


    </form>
</dev-tag-content>