<div class="waiting-overley" style="text-align: right">
    <div class="form-block">
        <dev-tag-content dev-attr-title="{{'Create first fiscal period'|translate}}"
                         panel-type="info">

            <form name="form" ng-submit="save(form)" novalidate>
                <dev-tag-validation-summary errors="errors"></dev-tag-validation-summary>
                <div class="form-group">
                    <label class="label-control">{{'From date' | translate}}</label>
                    <dev-tag-datepicker
                            ng-model="fiscalPeriod.minDate"
                            name="minDate"
                            required></dev-tag-datepicker>

                    <div ng-messages="form.minDate.$error" ng-if="form.minDate.$dirty">
                        <label ng-message="required" class="error">{{'This field is required'|translate}}</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="label-control">{{'To date' | translate}}</label>
                    <dev-tag-datepicker
                           ng-model="fiscalPeriod.maxDate"
                           name="maxDate"
                           required></dev-tag-datepicker>

                    <div ng-messages="form.maxDate.$error" ng-if="form.maxDate.$dirty">
                        <label ng-message="required" class="error">{{'This field is required'|translate}}</label>
                    </div>
                </div>

                <dev-tag-button
                        ng-click="save(form)"
                        icon="glyphicon glyphicon-floppy-disk"
                        ng-disabled="isSaving"
                        is-waiting="isSaving"
                        style-type="primary btn-block"
                        title="{{'Save' | translate}}"></dev-tag-button>
            </form>
        </dev-tag-content>
    </div>
</div>