<dev-tag-content dev-Attr-title="{{'Detail accounts'| translate}}">
    <dev-tag-button
            ui-sref=".create"
            title="{{'New Detail account'| translate}}"
            style-type="primary"
            icon="fa fa-plus"></dev-tag-button>

    <dev-tag-button
            ui-sref="detail-account-categories"
            title="{{'Detail account category'| translate}}"
            style-type="white"></dev-tag-button>

    <dev-tag-grid option="model.gridOption"></dev-tag-grid>

</dev-tag-content>