<dev-tag-guide>
    <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i><br/>
    <ul>
        <li>
            <a href="#" class="btn btn-primary btn-circle">
                <i class="fa fa-ellipsis-v fa-lg "></i>
            </a>
            برای حذف حساب تفصیل موردنظر از این دکمه استفاده نمایید.
        </li>
        <li>
       برای ویرایش حساب تفصیل موردنظر، برروی آن کلیک نمایید.
    </li>

        <li>
            حساب های تفصیل بصورت شناور می باشند.
        </li>

        <li>
            <b>دسته بندی تفصیل: </b>
            درصورت نیاز به دسته بندی حسابهای تفصیل از این بخش برای ایجاد دسته بندی تفصیل استفاده نمایید و با ایجاد دسته بندی تفصیل، هر حساب تفصیل در فرم ویرایش یا ایجاد حساب تفصیل می تواند در دسته بندی موردنظر قرار گیرد.
        </li>
        <li>
            هر حساب تفصیل می تواند در چند دسته بندی تفصیل قرار گیرد.
        </li>
        <li>
        هر دسته بندی تفصیل به یک حساب معین متصل می گردد.
        </li>
    </ul>
</dev-tag-guide>
<dev-tag-content dev-Attr-title="{{'Detail accounts'| translate}}">
    <dev-tag-button
            ui-sref=".create"
            title="{{'New Detail account'| translate}}"
            style-type="primary"
            icon="fa fa-plus"></dev-tag-button>

    <dev-tag-button
            ui-sref="detail-account-categories"
            title="{{'Detail account categories'| translate}}"
            style-type="white"></dev-tag-button>

    <dev-tag-grid option="gridOption"></dev-tag-grid>

</dev-tag-content>