<dev-tag-content dev-attr-title="{{'Dimensions' | translate}}">
    <dev-tag-grid
            option="gridOption"
            on-current-changed="onCurrentChanged(current)"></dev-tag-grid>
</dev-tag-content>

<dev-tag-content>
    <dev-tag-content-heading>
        <h4>{{current.title}}</h4>
    </dev-tag-content-heading>

    <dev-tag-content-body>
        <dev-tag-button
                ui-sref=".create({categoryId: current.id})"
                icon="glyphicon glyphicon-plus"
                ng-disabled="!current"
                style-type="primary"
                title="{{'Create' | translate}} {{current.title}}"></dev-tag-button>

        <dev-tag-grid option="dimensionGridOption"></dev-tag-grid>
    </dev-tag-content-body>
</dev-tag-content>