<dev-tag-guide>
    <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i><br/>
    <ul>
        <li>
            جهت افزودن حساب کل/ معین جدید از
            <i class="fa fa-plus fa-lg"></i>
            استفاده نمایید.
        </li>
        <li>
            جهت حذف حساب کل/ معین از
            <i class="fa fa-trash fa-lg"></i>
            و ویرایش از
            <i class="fa fa-edit fa-lg"></i>
            استفاده نمایید.
        </li>
        <li>
            جهت افزودن نمایش زیر گروه حساب ها از
            <i class="fa fa-plus-square-o fa-lg"></i>
            استفاده نمایید.
        </li>
        <li>
            در صورت نیاز به تعریف حساب تفصیل برای هر یک از حسابهای معین دقت نمایید که در بخش ویرایش/ایجاد حساب معین
            مقدار گزینه ی
            <b>تفصیل دارد؟ </b>
            انتخاب شده باشد.
        </li>
        <li>
            <b>نکته مهم: </b>
            در صورت تغییر حساب های معین حتما در بخش تنظیمات در تب
            <b>حسابهای معین</b>
            عملیات مربوطه را به حساب معین جدید وصل کنید در غیراینصورت صدور اسناد خودکار بدرستی انجام نمی شود.
        </li>
    </ul>
</dev-tag-guide>
<dev-tag-content dev-attr-title="{{'Accounts headlines' | translate}}">
    <!--    <dev-tag-button
                ui-sref=".create"
                style-type="primary"
                icon="glyphicon glyphicon-plus"
                title="{{'New General ledger accounts' | translate}}"></dev-tag-button>-->

    <!-- <dev-tag-grid option="gridOption"
                   detail-option="gridOptionSubsidiaryLedgerAccount"
                   on-current-changed="selectGeneralLedgerAccount(current)">
     </dev-tag-grid>-->


    <ul class="todo-list m-t ui-sortable">

        <li ng-repeat-start="g in chartOfAccounts"
            style="width: 40%"
            title="{{'Grouping type'|translate}}">

            <i class="fa fa-lg pointer"
               ng-click="collapse(g)"
               ng-class="{'fa-plus-square-o': !g.canShow, 'fa-minus-square-o': g.canShow}"></i>

            <span>{{g.display}}</span>

            <i class="fa fa-plus fa-lg pointer text-success pull-left"
               title="{{'New General ledger accounts' | translate}}"
               ui-sref=".create"></i>
        </li>
        <li ng-repeat-start="gla in g.generalLedgerAccounts"
            ng-if="g.canShow"
            style="width: 40%; margin-right: 100px;"
            title="{{'GeneralLedgerAccount'|translate}}">

            <i class="fa fa-lg pointer "
               ng-click="collapse(gla)"
               ng-class="{'fa-plus-square-o': !gla.canShow, 'fa-minus-square-o': gla.canShow}"></i>

            <span>{{gla.display}}</span>


            <i class="fa fa-edit fa-lg pointer text-success pull-left"
               title="{{'Edit generalAccount'|translate}}"
               ui-sref=".edit({id: gla.id})"
               style="margin-right: 10px"></i>

            <i class="fa fa-trash fa-lg pointer text-danger pull-left"
               title="{{'Remove generalAccount'|translate}}"
               ng-click="removeGeneralLedgerAccount(gla)"
               style="margin-right: 10px"></i>

            <i class="fa fa-plus fa-lg pointer text-success pull-left"
               title="{{'New Subsidiary ledger account' | translate}}"
               ui-sref=".subsidiary-ledger-accounts.create({generalLedgerAccountId: gla.id})"
               style="margin-right: 10px"></i>
        </li>
        <li ng-repeat-end ng-repeat="sla in gla.subsidiaryLedgerAccounts"
            ng-if="gla.canShow"
            style="width: 40%; margin-right: 200px;"
            title="{{'SubsidiaryLedgerAccount'|translate}}">
            <span>{{sla.display}}</span>

            <i class="fa fa-edit fa-lg pointer text-success pull-left"
               ui-sref=".subsidiary-ledger-accounts.edit({id: sla.id})"
               title="{{'Edit subsidiaryAccount'|translate}}"
               style="margin-right: 10px"></i>

            <i class="fa fa-trash fa-lg pointer text-danger pull-left"
               ng-click="removeSubsidiaryLedgerAccount(sla)"
               title="{{'Remove subsidiaryAccount'|translate}}"
               style="margin-right: 10px"></i>
        </li>
        <li ng-repeat-end ng-show="false"></li>
    </ul>


</dev-tag-content>

<!--<dev-tag-content dev-attr-title="{{'Subsidiary ledger accounts' | translate}}">
    <dev-tag-button
            ui-sref=".subsidiary-ledger-accounts.create({generalLedgerAccountId: current.id})"
            style-type="primary"
            icon="glyphicon glyphicon-plus"
            title="{{'New Subsidiary ledger account' | translate}}"
            ng-disabled="!current"></dev-tag-button>

    <dev-tag-grid option="gridOptionSubsidiaryLedgerAccount"></dev-tag-grid>

</dev-tag-content>-->


