<div class="row">
    <div class="col-md-5">
        <div class="ibox float-e-margins">
            <div class="ibox-title">

                <h5>{{'Quick menu'|translate}}</h5>
            </div>
            <div class="ibox-content" style="padding: 0">
                <div class="row">
                    <div class="col-md-8">
                        <dev-tag-button
                                icon="storm-doc-new block fa-2x"
                                class="text-navy"
                                ng-click="journalCreate()"
                                title="{{'New Journal' | translate}}"></dev-tag-button>

                        <dev-tag-button
                                icon="storm-search block fa-2x"
                                class="text-navy"
                                ng-click="journalSearch()"
                                title="{{'Search' | translate}}"></dev-tag-button>

                        <dev-tag-button
                                icon="storm-chart block fa-2x"
                                href="/account-review"
                                class="text-navy"
                                title="{{'Account review' | translate}}"></dev-tag-button>
                    </div>

                    <div class="col-md-4" style="top: 2em;left: 2em">
                        <form ng-submit="goToJournal()">
                            <dev-tag-numeric ng-model="journalNumber"
                                             popover="{{'Journal number'|translate}} + Enter"
                                             popover-trigger="focus" class="form-control"
                                             popover-placement="left"
                                             placeholder="{{'Journal number'|translate}} + Enter">
                            </dev-tag-numeric>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2 text-navy">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{'Last journal'|translate}}</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins" style="text-align: center">{{totalInfo.lastNumber}}</h1>
            </div>
        </div>
    </div>
    <div class="col-md-2 text-success">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{'Fixed journal'|translate}}</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins" style="text-align: center">{{totalInfo.totalFixed}}</h1>
            </div>
        </div>
    </div>

    <div class="col-md-2 text-warning">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{'InComplete journal'|translate}}</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins" style="text-align: center">{{totalInfo.totalInComplete}}</h1>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div>
                    <h3 class="font-bold no-margins">
                       {{'Comparing income and outcome'|translate}}
                    </h3>
                </div>

                <div class="m-t-sm">

                    <div class="row">
                        <div class="col-md-8">
                            <div>
                                <canvas id="line" class="chart chart-line"
                                        chart-data="incomeAndOutcomes"
                                        chart-labels="months" chart-series="series" chart-options="options"
                                        chart-dataset-override="datasetOverride" chart-click="onClick">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="stat-list m-t-lg">
                                <li>
                                    <h2 class="no-margins">{{totalIncomeAndOutcome.income|number}}</h2>
                                    <small></small>
                                    <div class="progress progress-mini">
                                        <div class="progress-bar"
                                             style="width: {{totalIncomeAndOutcome.incomePercent}}%"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins ">{{totalIncomeAndOutcome.outcome|number}}</h2>
                                    <small></small>
                                    <div class="progress progress-mini">
                                        <div class="progress-bar"
                                             style="width: {{totalIncomeAndOutcome.outcomePercent}}%"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="m-t-md">
                    <small class="pull-right">

                    </small>
                    <small>

                    </small>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{'Journal grouped by months'|translate}}</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <canvas id="doughnut" class="chart chart-doughnut"
                            chart-data="data"
                            chart-labels="labels"
                            chart-options="{legend: {display: true}}"
                            chart-click="select">
                </div>
            </div>
        </div>
    </div>

</div>

