<dev-tag-guide>
    <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i><br/>
    <ul>
        <li>
            <a href="#" class="btn btn-primary btn-circle">
                <i class="fa fa-ellipsis-v fa-lg "></i>
            </a>
برای عملیات بر روی سند موردنظر از این دکمه استفاده نمایید.
        </li>
        <li>
           اسنادی که بصورت خودکار ایجاد شده اند امکان ویرایش و حذف را ندارند.
        </li>
        <li>
<b>سند نمونه: </b>
            با استفاده از این دکمه می توانید یک سند نمونه ایجاد نمایید و درصورت صدور سند جدید از این نمونه ی سند استفاده نمایید. کاربرد این امکان برای سرعت در صدور اسنادی که صدور آنها مکررا انجام می شود است.
        </li>
        <li>
برای ایجاد سند نمونه از روی سند صادر شده می تواند با استفاده از گزینه ی
            <b>به عنوان سند نمونه درنظر بگیر</b>
            در منوی باز شده در بخش
            <a href="#" class="btn btn-primary btn-circle">
                <i class="fa fa-ellipsis-v fa-lg "></i>
            </a>
 سند نمونه بسازید.
        </li>
        <li>
            <b>کپی سند: </b>
برای کپی از سند موردنظر در لیست اسناد می توانید از گزینه ی
            <b>کپی سند</b>
            در منوی باز شده در بخش
            <a href="#" class="btn btn-primary btn-circle">
                <i class="fa fa-ellipsis-v fa-lg "></i>
            </a>
            استفاده نمایید.
        </li>
        <li>
کنترل تراز ردیف های سند بصورت خودکار انجام می شود.
        </li>
    </ul>
</dev-tag-guide>
<dev-tag-content dev-attr-title="{{'Journals'| translate}}">

    <dev-tag-button
            ui-sref="^.create"
            title="{{'New Journal'| translate}}"
            style-type="primary"
            icon="glyphicon glyphicon-plus"></dev-tag-button>

    <dev-tag-button
            ng-click="advancedSearch()"
            title="{{'Advanced search'| translate}}"
            style-type="white"
            icon="glyphicon glyphicon-search"></dev-tag-button>

    <dev-tag-button
            ng-click="journalTemplate()"
            title="{{'Journal Template'| translate}}"
            style-type="white"
            icon="fa fa-file-o"></dev-tag-button>

    <dev-tag-grid option="gridOption"></dev-tag-grid>
</dev-tag-content>
