<div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th ng-repeat="column in columns">{{column.title}}</th>
        </tr>
        </thead>
        <tbody>
            <tr dev-tag-grid-editable-row
                ng-repeat="item in data"
                dev-attr-columns="columns"
                dev-attr-item="item"></tr>

            <tr dev-tag-grid-editable-row
                dev-attr-columns="columns"
                dev-attr-item="defaultItem"
                dev-attr-change-value="changeValue(item)"></tr>
        </tbody>
        <tfoot>
        <tr></tr>
        </tfoot>
    </table>
</div>