    <span
        uib-dropdown
        auto-close="disabled"
        is-open="status.isOpen"
        ng-if="filterable">

         <i class="fa fa-filter pointer"
            style="font-size: 15px;"
            ng-style="filterStyle"
            uib-dropdown-toggle></i>

                 <ul class="dropdown-menu shadow animated bounceIn"
                     uib-dropdown-menu role="menu"
                     aria-labelledby="btn-append-to-body"
                     style="padding: 10px;min-width: 200px"
                     ng-style="dropdownStyle"
                     ng-html-compile="template">
                </ul>

    </span>
