<div class="ui segment" style="overflow-x: auto">
    <div class="ui dimmer"
         ng-if="isWaiting">
        <div class="ui loader">
            <div class="waiting-block-spinner" style="height: 100px;width: 120px">
                <div class="rect1" style="width: 10px;background-color: #18a689"></div>
                <div class="rect2" style="width: 10px;background-color: #18a689"></div>
                <div class="rect3" style="width: 10px;background-color: #18a689"></div>
                <div class="rect4" style="width: 10px;background-color: #18a689"></div>
                <div class="rect5" style="width: 10px;background-color: #18a689"></div>
            </div>
        </div>

    </div>



    <table class="table table-hover" id="{{gridId}}">
        <thead>
        <tr>
            <th style="width: 30px"
                ng-show="grid.multiSelectable"
                class="text-center">
                <dev-tag-check-box
                        ng-change="onIsSelectedAllChanged()"
                        ng-model="isSelectedAll"></dev-tag-check-box>
            </th>
            <th ng-repeat="column in columns"
                class="{{column.header.css}}"
                ng-class="{'command-cell': column.hasOwnProperty('commands')}"
                style="{{(column.width) ? 'width: ' + column.width : ''}}">
                {{column.title}}
                <span ng-if="!column.hasOwnProperty('commands')">

                <dev-tag-grid-sort
                        ng-if="grid.sortable"
                        dev-attr-add-sort="addSort(sort)"
                        dev-attr-remove-sort="removeSort()"
                        dev-attr-column="column"></dev-tag-grid-sort>

                <dev-tag-grid-filter
                        ng-if="grid.filterable"
                        dev-attr-add-filter="addFilter(filter)"
                        dev-attr-remove-filter="removeFilter(field)"
                        dev-attr-column="column"></dev-tag-grid-filter>

            </span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr
                ng-repeat-start="item in data track by $index"
                name="form-{{$index}}"
                ng-form
                ng-init="item.rowIndex = $index"
                ng-click="select(item)"
                ng-class="{'success': current == item, 'pointer':  grid.selectable}"
                ng-class-odd="'grid-row-striped'">

            <td class="text-center"
                ng-show="grid.multiSelectable">
                <dev-tag-check-box ng-model="item.isSelected"></dev-tag-check-box>
            </td>
            <td ng-repeat="column in columns"
                style="vertical-align: middle"
                class="{{column.css}}"
                ng-style="column.style"
                ng-class="{'command-cell': column.hasOwnProperty('commands')}">

                <i ng-if="detailTemplate && $index == 0"
                   ng-class="{'fa-angle-left ': !item.expanded, 'fa-angle-down': item.expanded}"
                   ng-click="expand(item)"
                   class="fa fa-lg pointer"></i>

                <span ng-if="!column.hasOwnProperty('commands')">
                <span ng-if="!column.template">{{item[column.name]}}</span>
                <span ng-if="column.template" ng-html-compile="column.template"></span>
            </span>
            <span uib-dropdown ng-if="column.hasOwnProperty('commands')" style="margin-left: 20px;">

                <a href="#" class="btn btn-primary btn-circle " uib-dropdown-toggle>
                    <i class="fa fa-ellipsis-v fa-lg "
                       ></i>
                </a>


                 <ul class="dropdown-menu shadow animated bounceIn dropdown-menu-left"
                     uib-dropdown-menu role="menu"
                     aria-labelledby="btn-append-to-body"
                     style="padding: 10px;min-width: 200px">

                     <li role="menuitem"
                         ng-if="!command.canShow || (command.canShow && command.canShow(item))"
                         ng-repeat="command in column.commands">
                         <a href="#"   ng-click="command.action(item)">
                         <i class="{{command.icon}} fa-lg"></i>
                         <span>{{command.title}}</span>
                         </a>
                     </li>
                </ul>

            </span>

               <!-- <span ng-if="column.hasOwnProperty('commands')">
                <button ng-repeat="command in column.commands"
                        ng-click="command.action(item)"
                        ng-if="!command.canShow || (command.canShow && command.canShow(item))"
                        class="btn btn-outline "
                        type="button"
                        title="{{command.title}}"
                        style="margin-top: 0;margin-bottom: 0">
                    <i class="{{command.icon}} fa-lg"></i>
                </button>
            </span>-->
            </td>
        </tr>
        <tr ng-if="item.expanded"
            ng-repeat-end>
            <td colspan="{{columns.length}}" ng-html-compile="detailTemplate">

            </td>
        </tr>

        </tbody>
        <tfoot>
        <tr>
            <td ng-show="grid.multiSelectable"></td>
            <td ng-repeat="column in columns"
                ng-html-compile="column.footerTemplate"
                style="font-weight: bold">
            </td>
        </tr>
        <tr ng-show="pageable">

            <td colspan="{{columns.length + (grid.multiSelectable === true ? 1 : 0) }}" >
                <dev-tag-paging
                        dev-attr-total="total"
                        dev-attr-set-page="fetch(page)"
                        dev-attr-option="pageOption"></dev-tag-paging>
            </td>
        </tr>
        </tfoot>
    </table>
    <div ng-transclude>

    </div>
</div>