<div class="row">
    <div class="col-md-5">
        <uib-accordion close-others="false">
            <div uib-accordion-group class="panel-primary">
                <uib-accordion-heading>
                    <div class="row">
                        <div class="col-md-11"><h4 class="panel-title">{{'Search parameters'|translate}}</h4></div>
                        <div class="col-md-1">
                            <span ng-click="remove($event)"
                                  aria-hidden="true"
                                  style="font-size: 25px"
                                  class="pull-right">&times;</span>
                        </div>
                    </div>
                </uib-accordion-heading>
                <div class="row">
                    <ul class="list-group">
                        <li class="list-group-item" ng-if="searchParameters.title != ''">
                            <div class="row">
                                <div class="col-md-1">{{'Title'|translate}}</div>
                                <div class="col-md-1">{{'Contains'|translate}}</div>
                                <div class="col-md-10">{{searchParameters.title}}</div>
                            </div>
                        </li>
                        <li class="list-group-item" ng-if="searchParameters.minNumber != null">
                            <div class="row">
                                <div class="col-md-3">{{'From number'|translate}}</div>
                                <div class="col-md-1">{{searchParameters.minNumber}}</div>
                                <div class="col-md-3">{{'To number'|translate}}</div>
                                <div class="col-md-1">{{searchParameters.maxNumber}}</div>
                            </div>
                        </li>
                        <li class="list-group-item" ng-if="searchParameters.minDate != null">
                            <div class="row">
                                <div class="col-md-2">{{'From date'|translate}}</div>
                                <div class="col-md-3">{{searchParameters.minDate}}</div>
                                <div class="col-md-2">{{'To date'|translate}}</div>
                                <div class="col-md-3">{{searchParameters.maxDate}}</div>
                            </div>
                        </li>
                        <li class="list-group-item" ng-if="searchParameters.generalLedgerAccounts.length != 0">
                            <div class="row">
                                <div class="col-md-2">{{'General ledger account'|translate}}</div>
                                <div class="col-md-10">
                                    <ul class="k-reset">
                                        <li class="k-button"
                                            style="background-color: #337ab7;border-color: #2e6da4;color: white"
                                            ng-repeat="g in searchParameters.generalLedgerAccounts"
                                            title="{{g.display}}">
                                            <span>{{g.display}}</span>
                            <span class="k-select">
                                <span class="k-icon k-i-close">delete</span>
                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" ng-if="searchParameters.subsidiaryLedgerAccounts.length != 0">
                            <div class="row">
                                <div class="col-md-2">{{'Subsidiary ledger account'|translate}}</div>
                                <div class="col-md-10">
                                    <ul class="k-reset">
                                        <li class="k-button"
                                            style="background-color: #337ab7;border-color: #2e6da4;color: white"
                                            ng-repeat="g in searchParameters.subsidiaryLedgerAccounts"
                                            title="{{g.display}}">
                                            <span>{{g.display}}</span>
                            <span class="k-select">
                                <span class="k-icon k-i-close">delete</span>
                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" ng-if="searchParameters.detailAccounts.length != 0">
                            <div class="row">
                                <div class="col-md-2">{{'Detail account'|translate}}</div>
                                <div class="col-md-10">
                                    <ul class="k-reset">
                                        <li class="k-button"
                                            style="background-color: #337ab7;border-color: #2e6da4;color: white"
                                            ng-repeat="g in searchParameters.detailAccounts"
                                            title="{{g.display}}">
                                            <span>{{g.display}}</span>
                            <span class="k-select">
                                <span class="k-icon k-i-close">delete</span>
                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" ng-if="searchParameters.dimension1s.length != 0">
                            <div class="row">
                                <div class="col-md-2">{{dimensionCategories[0].title}}</div>
                                <div class="col-md-10">
                                    <ul class="k-reset">
                                        <li class="k-button"
                                            style="background-color: #337ab7;border-color: #2e6da4;color: white"
                                            ng-repeat="g in searchParameters.dimension1s"
                                            title="{{g.display}}">
                                            <span>{{g.display}}</span>
                            <span class="k-select">
                                <span class="k-icon k-i-close">delete</span>
                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" ng-if="searchParameters.dimension2s.length != 0">
                            <div class="row">
                                <div class="col-md-2">{{dimensionCategories[1].title}}</div>
                                <div class="col-md-10">
                                    <ul class="k-reset">
                                        <li class="k-button"
                                            style="background-color: #337ab7;border-color: #2e6da4;color: white"
                                            ng-repeat="g in searchParameters.dimension2s"
                                            title="{{g.display}}">
                                            <span>{{g.display}}</span>
                            <span class="k-select">
                                <span class="k-icon k-i-close">delete</span>
                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" ng-if="searchParameters.dimension3s.length != 0">
                            <div class="row">
                                <div class="col-md-2">{{dimensionCategories[2].title}}</div>
                                <div class="col-md-10">
                                    <ul class="k-reset">
                                        <li class="k-button"
                                            style="background-color: #337ab7;border-color: #2e6da4;color: white"
                                            ng-repeat="g in searchParameters.dimension3s"
                                            title="{{g.display}}">
                                            <span>{{g.display}}</span>
                            <span class="k-select">
                                <span class="k-icon k-i-close">delete</span>
                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" ng-if="searchParameters.chequeNumbers.length != 0">
                            <div class="row">
                                <div class="col-md-2">{{'Cheque number'|translate}}</div>
                                <div class="col-md-10">
                                    <ul class="k-reset">
                                        <li class="k-button"
                                            style="background-color: #337ab7;border-color: #2e6da4;color: white"
                                            ng-repeat="g in searchParameters.chequeNumbers"
                                            title="{{g.display}}">
                                            <span>{{g.display}}</span>
                            <span class="k-select">
                                <span class="k-icon k-i-close">delete</span>
                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" ng-if="searchParameters.minChequeDate != null">
                            <div class="row">
                                <div class="col-md-2">{{'Cheque date from'|translate}}</div>
                                <div class="col-md-3">{{searchParameters.minChequeDate}}</div>
                                <div class="col-md-2">{{'To date'|translate}}</div>
                                <div class="col-md-3">{{searchParameters.maxChequeDate}}</div>
                            </div>
                        </li>
                        <li class="list-group-item" ng-if="searchParameters.chequeDescription != ''">
                            <div class="row">
                                <div class="col-md-1">{{'Description cheque'|translate}}</div>
                                <div class="col-md-1">{{'Contains'|translate}}</div>
                                <div class="col-md-10">{{searchParameters.chequeDescription}}</div>
                            </div>
                        </li>
                        <li class="list-group-item" ng-if="searchParameters.amount.value != null">
                            <div class="row">
                                <div class="col-md-1">{{'Amount'|translate}}</div>
                                <div class="col-md-1">{{searchParameters.amount.operator.display}}</div>
                                <div class="col-md-10">{{searchParameters.amount.value}}</div>
                            </div>
                        </li>
                        <li class="list-group-item" ng-if="searchParameters.isNotPeriodIncluded">
                            <div class="row">
                                <div class="col-md-12">{{'Is not period included' | translate}}</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </uib-accordion>
    </div>


</div>

