<div class="row">
    <div class="col-md-4">
        {{'Page'|translate}} {{currentPage}} {{'Of'|translate}} {{pageCount}} {{'Page'|translate}}
    </div>

    <div class="col-md-4">
        {{'Page size'|translate}}
        <select class="form-control form-control-dropdown-paging"
                ng-model="pageSize"
                style="width: 70px"
                ng-options="p as p for p in pageSizes"></select>

        <dev-tag-button
                icon="fa fa-refresh grid-refresh"
                ng-click="change()"
                title=""></dev-tag-button>
    </div>

    <div class="col-md-4">
        <ul uib-pagination
            total-items="total"
            ng-model="currentPage"
            max-size="5"
            items-per-page="pageSize"
            num-pages="pageCount"
            class="pagination-sm"
            boundary-links="true"
            force-ellipses="true"
            ng-change="change()"
            previous-text="&rsaquo;"
            next-text="&lsaquo;"
            first-text="&raquo;"
            last-text="&laquo;"
            style="margin: 0 0 0 20px;
                   position: absolute;
                   left: 0;"></ul>
    </div>

</div>