<div class="col-md-2" style="text-align: left;margin-top: 7px">
    <label class="label-control">{{'General ledger account' | translate}}</label>
</div>
<div class="col-md-10">

    <dev-tag-combo-box
            multiple
            ng-model="model.parameters.generalLedgerAccounts"
            k-placeholder="{{'Select ...'|translate}}"
            k-data-text-field="display"
            k-data-value-field="id"
            url="{{model.urls.getAllGeneralLedgerAccount}}"></dev-tag-combo-box>
</div>