<div class="col-md-2" style="text-align: left;margin-top: 7px">
    <label class="label-control">{{'Cheque date from' | translate}}</label>
</div>
<div class="col-md-4">
    <dev-tag-datepicker ng-model="journalSearch.minChequeDate"
                        name="temporaryDate"></dev-tag-datepicker>
</div>
<div class="col-md-2" style="text-align: left;margin-top: 7px">
    <label class="label-control">{{'To date' | translate}}</label>
</div>
<div class="col-md-4">
    <dev-tag-datepicker ng-model="journalSearch.maxChequeDate"
                        name="temporaryDate"></dev-tag-datepicker>
</div>