<div ng-if="branch">
    <shell-sidebar ></shell-sidebar>

    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <shell-header></shell-header>
        </div>

        <div id="page-content-wrapper" class="content-total">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 content-ngtransclude">
                        <ui-view></ui-view>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="col-lg-12 content-ngtransclude" ng-if="!branch">
    <ui-view></ui-view>
</div>


