<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a ng-click="toggleSidebar()"
           class="navbar-minimalize minimalize-styl-2 btn btn-primary hidden-sm">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <ul class="nav navbar-top-links navbar-left">
        <li class="dropdown" uib-dropdown>
            <a class="dropdown-toggle count-info"
               href="#"
               uib-dropdown-toggle
            title="{{'Select Period' | translate}}">
                <i class="fa fa-history fa-2x"></i>
                <!--<span class="label label-primary">8</span>-->
            </a>
            <ul class="dropdown-menu dropdown-alerts animated fadeInDown list-group"
                uib-dropdown-menu>
                <li class="list-group-item pointer"
                    ng-repeat="fp in fiscalPeriods"
                    ng-class="{'active': fp.id == currentFiscalPeriod}"
                    ng-click="selectFiscalPeriod(fp)"
                    style="margin-left: 0;">
                    {{fp.display}}
                </li>
            </ul>
        </li>
        <li>
            <a href="{{window.location.origin + '/logout'}}">
                <i class="fa fa-power-off fa-2x"></i>
            </a>
        </li>
        <li>
            <img alt="{{branch.title}}"
                 src="{{branch.logo}}"
                 title="{{branch.title}}"
                 style="height: 35px; margin: 8px;">
        </li>
    </ul>
</nav>