<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a ng-click="toggleSidebar()"
           class="navbar-minimalize minimalize-styl-2 btn btn-primary hidden-sm">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <ul class="nav navbar-top-links navbar-left">

        <li class="dropdown" uib-dropdown>
            <a class="dropdown-toggle count-info"
               href="#"
               uib-dropdown-toggle
            title="{{'Select Period' | translate}}">
                <i class="fa fa-history fa-2x"></i>
            </a>
            <ul class="dropdown-menu dropdown-alerts animated fadeInDown list-group"
                uib-dropdown-menu>
                <li class="list-group-item pointer"
                    ng-repeat="fp in fiscalPeriods"
                    ng-class="{'active': fp.id == fiscalPeriodId}"
                    ng-click="selectFiscalPeriod(fp)"
                    style="margin-left: 0;">
                    {{fp.display}}
                </li>
            </ul>
        </li>
        <li>
            <a href="{{window.location.origin + '/auth/logout'}}">
                <i class="fa fa-power-off fa-2x"></i>
            </a>
        </li>
        <li class="dropdown" uib-dropdown>
            <a class="dropdown-toggle count-info" uib-dropdown-toggle>
                <img alt="{{branch.title}}"
                     ng-src="{{branch.logo}}"
                     title="{{branch.title}}"
                     style="height: 35px; margin: 8px;">
            </a>
            <div class="feed-activity-list dropdown-menu dropdown-alerts animated fadeInDown list-group pt+">
                <div class="feed-element">
                    <a ui-sref="branches">{{'Branches management'|translate}}</a>
                </div>
                <div class="feed-element pointer pv+ so-top-left-branches-dropdown-item"
                     style="margin: 0;"
                     ng-click="selectBranch(item)"
                     ng-repeat="item in branches|filter: {status: 'active'}"
                     ng-class="{ 'so-top-left-branches-dropdown-current-item': item.id === branch.id }" >
                    <div class="row ph+" >
                        <div class="col-md-3">

                            <img alt="image"
                                 class="center-block"
                                 ng-src="{{item.logo}}"
                                 preload-image
                                 default-image="/public/images/business.png"
                                 fallback-image="/public/images/business.png"
                                 style="display: inline-block;text-align: center;max-width: 100%;height: auto">
                        </div>
                        <div class="col-md-6 text-right" >
                            <strong>{{item.name}}</strong> <br>

                        </div>
                        <div class="col-md-3" style="text-align: center;line-height: 50px;" >
                            <i ng-if="item.id === branch.id"
                               class="glyphicon glyphicon-ok text-navy fa-lg"
                               style="font-size: 32px;vertical-align: middle" ></i>
                        </div>

                    </div>
                </div>
            </div>

        </li>
    </ul>
</nav>