<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" ng-src="{{user.image}}"
                                 style="width: 50px;height: 50px"
                                 preload-image
                                 default-image="/public/images/user.png"
                                 fallback-image="/public/images/user.png"/>
                             </span>
                    <span class="text-muted text-xs block" style="color:white">{{user.name}}</span>
                </div>
                <div class="logo-element text-navy">
                    <i class="fa fa-calculator"></i>
                </div>
            </li>

            <li>
                <a href="/acc" title="{{'Home'|translate}}" >
                    <i class="fa fa-home fa-lg"></i>
                    <span class="nav-label">{{'Home'|translate}}</span>
                </a>
            </li>

            <li ng-repeat="item in items" ng-if="canShowMenu(item)">
                <a href="{{item.url}}" title="{{item.title}}" >
                    <i class="{{item.icon}} fa-lg"></i>
                    <span class="nav-label">{{item.title}}</span>
                    <span class="fa arrow" ng-if="item.children.length"></span>
                </a>
                <ul class="nav nav-second-level"
                    ng-if="item.children.length">
                    <li ng-repeat="child in item.children">
                        <a href="{{child.url}}">{{child.title}}</a>
                    </li>
                </ul>
            </li>

            <li class="landing_link">

            </li>
            <li class="special_link" ng-if="canShowMenu({})">
                <a href="{{window.location.origin + '/third-party'}}" target="_blank" title="افزونه های استورم">
                    <i class="fa fa-puzzle-piece fa-lg"></i>
                    <span class="nav-label">افزونه های استورم</span>
                </a>
            </li>
        </ul>

    </div>
</nav>