<div class="modal-header">
    <button type="button" ng-click="model.close()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">{{'Additional information'| translate}}</h3>
</div>
<div class="modal-body">

    <form name="form" class="form-horizontal">
        <div class="form-group" ng-if="model.jounrnalLine.hasDimension1">
            <label class="label-control col-lg-2">{{'Dimension1'|translate}}</label>
            <div class="col-lg-10">
                <dev-tag-combo-box name="dimension1Id" k-placeholder="{{'Select ...'|translate}}" k-data-value-field="id" k-data-text-field="display"
                    k-data-source="model.dimension1DataSource" ng-model="model.additionalInfo.dimension1Id" required></dev-tag-combo-box>

                <div ng-messages="form.dimension1Id.$error" ng-if="form.dimension1Id.$dirty">
                    <label ng-message="required" class="error">{{'This field is required'|translate}}</label>
                </div>
            </div>
        </div>

        <div class="form-group" ng-if="model.jounrnalLine.hasDimension2">
            <label class="label-control col-lg-2">{{'Dimension2'|translate}}</label>

            <div class="col-lg-10">
                <dev-tag-combo-box name="dimension2Id" k-placeholder="{{'Select ...'|translate}}" k-data-value-field="id" k-data-text-field="display"
                    k-data-source="model.dimension2DataSource" ng-model="model.additionalInfo.dimension2Id" required></dev-tag-combo-box>

                <div ng-messages="form.dimension2Id.$error" ng-if="form.dimension2Id.$dirty">
                    <label ng-message="required" class="error">{{'This field is required'|translate}}</label>
                </div>
            </div>
        </div>

        <div class="form-group" ng-if="model.jounrnalLine.hasDimension3">
            <label class="label-control col-lg-2">{{'Dimension3'|translate}}</label>

            <div class="col-lg-10">
                <dev-tag-combo-box name="dimension3Id" k-placeholder="{{'Select ...'|translate}}" k-data-value-field="id" k-data-text-field="display"
                    k-data-source="model.dimension3DataSource" ng-model="model.additionalInfo.dimension3Id" required></dev-tag-combo-box>

                <div ng-messages="form.dimension3Id.$error" ng-if="form.dimension3Id.$dirty">
                    <label ng-message="required" class="error">{{'This field is required'|translate}}</label>
                </div>
            </div>
        </div>

        <span ng-if="model.journalLine.isBankAccount && model.journalLine.creditor != 0">
            <div class="form-group" >
                <label class="label-control col-lg-2">{{'Cheque number'| translate}}</label>
                <div class="col-lg-10">
                    <dev-tag-combo-box name="chequeId"
                                       k-placeholder="{{'Select ...'|translate}}"
                                       k-data-value-field="id"
                                       k-data-text-field="number"
                                       group-by="categoryDisplay"
                        k-data-source="model.cheques" group-by="categoryDisplay" ng-model="model.additionalInfo.cheque.id" required></dev-tag-combo-box>
                </div>
            </div>

        <div class="form-group">
            <label class="label-control col-lg-2">{{'Date'| translate}}</label>
            <div class="col-lg-10">
                <dev-tag-datepicker ng-model="model.additionalInfo.cheque.date"></dev-tag-datepicker>
            </div>
        </div>

</span>

        <div class="form-group">
            <label class="label-control col-lg-2">{{'Number'| translate}}</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" ng-model="model.additionalInfo.receipt.number" />
            </div>
        </div>

        <div class="form-group">
            <label class="label-control col-lg-2">{{'Date'| translate}}</label>
            <div class="col-lg-10">
                <dev-tag-datepicker ng-model="model.additionalInfo.receipt.date"></dev-tag-datepicker>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <dev-tag-button ng-click="save(form)" icon="glyphicon glyphicon-floppy-disk" style-type="primary" title="{{'Save' | translate}}"
        ng-disabled="form.$invalid"></dev-tag-button>
</div>