<form name="form" novalidate>
    <dev-tag-content-heading>
        <span class="panel-title">{{'New purchase'|translate}}</span>
    </dev-tag-content-heading>

    <dev-tag-content-body>
        <div class="row">
            <div class="row">
                <div class="col-md-2"></div>
                <dev-tag-validation-summary errors="model.errors" class="col-md-8"></dev-tag-validation-summary>
                <div class="col-md-2"></div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="detailAccountId" class="title1">فروشنده</label>
                    <div class="input-group">
                        <dev-tag-combo-box id="detailAccountId"
                                           name="detailAccountId"
                                           k-placeholder="{{'Select ...'|translate}}"
                                           k-data-value-field="id"
                                           k-data-text-field="display"
                                           k-data-source="model.detailAccount"
                                           k-suggest="true"
                                           k-minLength="0"
                                           k-filter="'contains'"
                                           on-created="model.createNewCustomer"
                                           show-no-data-template
                                           ng-model="model.invoice.detailAccountId"
                                           required></dev-tag-combo-box>

                        <div ng-messages="form.detailAccountId.$error" ng-if="form.detailAccountId.$dirty">
                            <label ng-message="required" class="error">{{'This field is required'|translate}}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="form-group">
                    <label for="invoiceDate">تاریخ فاکتور</label>
                    <dev-tag-datepicker id="invoiceDate"
                                        ng-model="model.invoice.date"
                                        name="invoiceDate"
                                        required></dev-tag-datepicker>

                    <div ng-messages="form.invoiceDate.$error" ng-if="form.invoiceDate.$dirty">
                        <label ng-message="required" class="error">{{'This field is required'|translate}}</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="form-group">
                    <label for="invoiceNumber" class="title1">شماره فاکتور</label>
                    <dev-tag-numeric id="invoiceNumber"
                                     ng-model="model.invoice.number"
                                     style="width: 100%"
                                     name="invoiceNumber"
                                     required></dev-tag-numeric>

                    <div ng-messages="form.invoiceNumber.$error" ng-if="form.invoiceNumber.$dirty">
                        <label ng-message="required" class="error">
                            {{'This field is required'|translate}}</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="form-group">
                    <label for="invoiceReference" class="title1"> ارجاع
                        <small class="hidden-md hidden-sm ng-hide">(شماره فاکتور خرید)</small>
                    </label>
                    <input class="form-control input-sm ng-pristine " type="text" id="invoiceReference"
                           data-toggle="popover" data-placement="top" data-trigger="hover"
                           data-content="شماره ارجاع" data-original-title="" title="">
                </div>
            </div>

            <div class="col-sm-2">
                <div  class="form-group">
                    <label class="label-control" for="description">{{'Description' | translate}}</label>
                    <textarea class="form-control" rows="4" id="description" ng-model="model.invoice.description"></textarea>
                </div>
            </div>


            <dev-tag-content-body is-loading="model.isInvoiceSaleLoading">
                <div style="padding: 10px"
                     ng-include="'partials/purchases/purchaseLines-template.html'"></div>

            </dev-tag-content-body>

        </div>

    </dev-tag-content-body>

    <dev-tag-content-footer>
        <div class="row">

            <div class="col-sm-12 text-left">
                <div class="btn-group">
                    <dev-tag-button style-type="info" style="width: 100px;" title="{{'New' | translate}}"
                                    ng-click="model.newInvoice()"></dev-tag-button>
                    <dev-tag-button style-type="primary" style="width: 100px;" title="{{'Print ' | translate}}"><span
                            class="fa fa-print"></span></dev-tag-button>
                    <dev-tag-button style-type="success" is-waiting="model.isLoading" title="{{'Save' | translate}}"
                                    ng-click="model.saveInvoice(form)" style="width: 100px;"></dev-tag-button>
                </div>&nbsp;
            </div>
            <div class="col-sm-12 text-center ng-hide" ng-show="calling">
                <span><img src="/View/Images/ajax-loader4.gif"></span>
            </div>
        </div>
    </dev-tag-content-footer>
</form>





