<dev-tag-content title="{{'Add member'|translate}}" width="500px">
    <form name="searchForm" novalidate ng-submit="model.search(searchForm)">
        <div class="row">
            <div class="col-md-9">
                <div class="form-group has-feedback"
                     ng-class="{ 'has-error' : searchForm.email.$invalid && searchForm.email.$dirty }">
                    <input
                            type="email"
                            class="form-control input-lg"
                            name="email"
                            ng-model="model.email"
                            required
                            ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
                            placeholder="{{'Email'|translate}}"
                    />

                    <span class="glyphicon glyphicon-envelope form-control-feedback" aria-hidden="true"></span>

                    <div ng-messages="searchForm.email.$error" ng-if="searchForm.email.$dirty">
                        <label
                                ng-message="required"
                                class="help-block">{{'This field is required'|translate}}
                        </label>
                        <label
                                ng-message="pattern"
                                class="help-block">{{'Email format is not correct'|translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary btn-lg btn-block">
                    <i class="glyphicon glyphicon-search"></i>
                    {{ 'Search' | translate }}
                </button>
            </div>
        </div>
    </form>

    <div ng-if="model.selectedUser">
        <hr/>
        <form name="addMemberForm"
              ng-submit="model.add(addMemberForm)"
              novalidate>
            <div class="row">
                <dev-tag-validation-summary errors="model.errors">

                </dev-tag-validation-summary>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <h4>{{model.selectedUser.email}}</h4>
                    <h4>{{model.selectedUser.name}}</h4>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-success btn-lg btn-block">
                        <i class="glyphicon glyphicon-plus"></i>
                        {{ 'Add' | translate }}
                    </button>
                </div>
            </div>
        </form>
    </div>

</dev-tag-content>