<dev-tag-content title="{{'Choose branch'|translate}}" width="400px">
    <div class="list-group">
        <a ng-click="model.select(branch)"
           ng-repeat="branch in model.branches"
           ng-class="{'active': branch == model.selectedBranch}"
           class="list-group-item row">
            <div class="col-md-2">
                <img ng-src="{{branch.logo}}" alt="..." style="width: 50px;height: 50px">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <h4 style="margin-top: 14px">{{branch.name}}</h4>
            </div>
        </a>
    </div>
</dev-tag-content>