<dev-tag-content title="{{'Members'|translate}}" width="600px">
    <dev-tag-button
            href="/branch/member/add"
            title="{{'Add member'| translate}}"
            style-type="primary"
            icon="glyphicon glyphicon-plus"></dev-tag-button>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>{{'User'|translate}}</th>
            <th>{{'Email'|translate}}</th>
            <th>{{'State'|translate}}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="m in model.members">
            <td>{{m.userName}}</td>
            <td>{{m.userEmail}}</td>
            <td>
                <i class="glyphicon {{m.icon}}"
                   ng-style="m.style"
                   style="font-size: 20px"></i>
            </td>
            <td>
                <dev-tag-button
                        ng-click="model.changeState(m)"
                        title="{{m.command.title| translate}}"
                        style-type="default"
                        icon="glyphicon {{m.command.icon}}"
                        is-waiting="m.command.isDisabled"
                        ng-disabled="m.command.isDisabled"></dev-tag-button>
            </td>
        </tr>
        </tbody>
    </table>
</dev-tag-content>