<style>
    .panel{
        background-color: #e9ebf2;
        box-shadow: 5px 5px 5px #888888;
    }
</style>
<div style="width: 21cm; height: 29.7cm; padding: 20px;background-color: #a6bffa">
<div class="row">
    <div class="col-md-5 panel" style="height: 90px">
        <div class="col-md-8">
            <h2> گروه : استورم</h2>
        </div>
        <div class="col-md-4">
            <img src="/client/content/images/logo.png" style="width: 100%;height: 100%">
        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 panel" style="height: 90px">
        <div class="col-md-8">
            <h2> نام محصول : لوکا</h2>
        </div>
        <div class="col-md-4">
            <img src="/client/content/images/luca.png" style="width: 100%;height: 100%">
        </div>
    </div>
</div>
    <div class="row panel" style="text-align: center">
        <h4>نرم افزار حسابداری آنلاین ، ساده ، کاربرپسند و با سرعت بالا میباشد</h4>
    </div>

    <div class="row">
        <div class="col-md-5" style="height: 90px">
            <ul class="list-group white-bg">
                <li class="list-group-item">مسئله</li>
                <li class="list-group-item">
                    <ul>
                        <li>ظاهر ناخوشایند و سرعت پایین</li>
                        <li>محدودیت دسترسی و سیستم عامل</li>
                        <li>گزارشات محدود با خروجی غیر قابل تغییر</li>
                        <li>عدم نمایش شاخص های عملکردی</li>
                    </ul>
                </li>

            </ul>
        </div>
        <div class="col-md-2" style="padding: 28px 38px">
            <i class="fa fa-arrow-left fa-5x"></i>
        </div>
        <div class="col-md-5" style="height: 90px">
            <ul class="list-group white-bg">
                <li class="list-group-item">مسئله</li>
                <li class="list-group-item">
                    <ul>
                        <li>ظاهر ناخوشایند و سرعت پایین</li>
                        <li>محدودیت دسترسی و سیستم عامل</li>
                        <li>گزارشات محدود با خروجی غیر قابل تغییر</li>
                        <li>عدم نمایش شاخص های عملکردی</li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>

    <div class="row" style="margin-top: 15px;
padding: 20px">
        <div class="row" style="margin-left: 10px;margin-bottom: 10px">اندازه بازار و مشتریان هدف</div>
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group white-bg">
                    <li class="list-group-item">
                        1000 نمایندگی بیمه در 6 ماه آتی
                    </li>
                </ul>
            </div>
            <div class="col-md-1" style="padding: 15px 23px">
                <i class="fa fa-arrow-right fa-2x"></i>
            </div>
            <div class="col-md-3  ">
                <ul class="list-group white-bg">
                    <li class="list-group-item">
                        بازار هدف نمایندگی های بیمه {{45000|number}}
                    </li>
                </ul>
            </div>
            <div class="col-md-1" style="padding: 15px 23px">
                <i class="fa fa-arrow-right fa-2x"></i>
            </div>
            <div class="col-md-4">
                <ul class="list-group white-bg">
                    <li class="list-group-item">بر اساس آمار سال 93 تعداد کل شرکت ها برابر با {{1300000|number}}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row panel">
        برنامه های بازاریابی :

        <ol>
            <li>ارسال کاتالوگ برای نمایندگان بیمه</li>
            <li>ملاقات حضوری با مدیران انجمن نمایندگان</li>
            <li>شرکت در کنفرانس های حسابداری و ارائه کاتالوگ به شرکت کنندگان</li>
            <li>جلسه های حضوری با مدیران مالی</li>
            <li>شناسایی مشتریان در شبکه های اجتماعی</li>
        </ol>
    </div>
<style>
    .price{
        margin-left: 42px;
        text-align: center;
    }
</style>
    <div class="row" style="padding-right: 90px">
        <div class="col-md-2 price">
           <ul class="list-group">
               <li class="list-group-item">
                   <h3>رایگان</h3>
                   <h3>0</h3>
               </li>
           </ul>
        </div>
        <div class="col-md-2 price">
            <ul class="list-group">
                <li class="list-group-item">
                    <h3>اقتصادی</h3>
                    <h3>50,000</h3>
                </li>
            </ul>
        </div>
        <div class="col-md-2 price">
            <ul class="list-group">
                <li class="list-group-item">
                    <h3>حرفه ای</h3>
                    <h3>200,000</h3>
                </li>
            </ul>
        </div>
        <div class="col-md-2 price">
            <ul class="list-group">
                <li class="list-group-item">
                    <h3>اختصاصی</h3>
                    <h3>؟</h3>
                </li>
            </ul>
        </div>
    </div>
<style>
    th{
        width: 70px;
    }
</style>
    <div class="row">
        <ul class="list-group white-bg panel">
            <li class="list-group-item" style="
    background-color: #0772ec;

    color: #e4c299;
    font-weight: bold;
    font-size: 17px;
">برنامه 6 ماه آینده</li>
            <li class="list-group-item" style="height: 160px">
                <div class="time-line-line" ng-init="isOpen=true" style="width: 70%;margin-right: 105px;margin-top: 70px">
                    <div class="vertical-timeline-icon navy-bg"
                         popover="لانچ نهایی"
                         popover-is-open="isOpen"
                         popover-placement="top">
                        <i class="fa fa-desktop"></i>
                    </div>

                    <div class="vertical-timeline-icon navy-bg"
                         style="    top: -58px;left: -127px;"
                         popover="تهیه لیست اسکریپت ها"
                         popover-is-open="isOpen"
                         popover-placement="bottom">
                        <i class="fa fa-file-text-o"></i>
                    </div>

                    <div class="vertical-timeline-icon navy-bg"
                         style="    top: -98px;left: -254px;"
                         popover="ارسال گاتالوگ"
                         popover-is-open="isOpen"
                         popover-placement="top">
                        <i class="fa fa-send"></i>
                    </div>

                    <div class="vertical-timeline-icon navy-bg"
                         style="    top: -138px;left: -381px;"
                         popover="ارتباط با نمایندگان"
                         popover-is-open="isOpen"
                         popover-placement="bottom">
                        <i class="fa fa-coffee"></i>
                    </div>

                    <div class="vertical-timeline-icon navy-bg"
                         style="    top: -178px;left: -508px;"
                         popover="ارائه محصول"
                         popover-is-open="isOpen"
                         popover-placement="top">
                        <i class="fa fa-download"></i>
                    </div>

                </div>
            </li>

        </ul>
    </div>

    <div class="row panel" style="height: 50px">
        دستاورد
    </div>
<style>
    .time-line-line {
        /*position: absolute;*/
        z-index: 1;
        left: 0;
        top: 49px;
        height: 2px;
        background: #dfdfdf;
        -webkit-transition: -webkit-transform 0.4s;
        -moz-transition: -moz-transform 0.4s;
        transition: transform 0.4s;
    }

    .vertical-timeline-icon {
        position: relative;
        top: -18px
    }
</style>
    <div class="row" style="margin-top: 100px">

        <div class="time-line-line" ng-init="isOpen=true" style="width: 70%;margin-right: 105px">
            <div class="vertical-timeline-icon navy-bg"
                 popover="لانچ نهایی"
                 popover-is-open="isOpen"
                 popover-placement="top">
                <i class="fa fa-desktop"></i>
            </div>

            <div class="vertical-timeline-icon navy-bg"
                 style="    top: -58px;left: -127px;"
                 popover="تهیه لیست اسکریپت ها"
                 popover-is-open="isOpen"
                 popover-placement="bottom">
                <i class="fa fa-file-text-o"></i>
            </div>

            <div class="vertical-timeline-icon navy-bg"
                 style="    top: -98px;left: -254px;"
                 popover="ارسال گاتالوگ"
                 popover-is-open="isOpen"
                 popover-placement="top">
                <i class="fa fa-send"></i>
            </div>

            <div class="vertical-timeline-icon navy-bg"
                 style="    top: -138px;left: -381px;"
                 popover="ارتباط با نمایندگان"
                 popover-is-open="isOpen"
                 popover-placement="bottom">
                <i class="fa fa-coffee"></i>
            </div>

            <div class="vertical-timeline-icon navy-bg"
                 style="    top: -178px;left: -508px;"
                 popover="ارائه محصول"
                 popover-is-open="isOpen"
                 popover-placement="top">
                <i class="fa fa-download"></i>
            </div>

        </div>
    </div>
</div>