<dev-tag-content title="{{'Edit Detail account'|translate}}">
    <form name="form">
        <a ng-click="save(form)" class="btn btn-success" ng-disabled="form.$invalid">
            <i class="glyphicon glyphicon-floppy-disk"></i>
            {{'Save' | translate}}
        </a>
        <a ng-click="activate()" class="btn btn-default"
           ng-if="!detailAccount.isActive">
            <i class="glyphicon glyphicon-ok-circle"></i>
            {{'Activate' | translate}}
        </a>
        <a ng-click="deactivate()" class="btn btn-default"
           ng-if="detailAccount.isActive">
            <i class="glyphicon glyphicon-remove-circle"></i>
            {{'Deactivate' | translate}}
        </a>

        <dev-tag-alert show="!detailAccount.isActive"
                       type="warning"
                       text="{{'This account is inactive' | translate}}">
        </dev-tag-alert>

        <div ng-include="'partials/views/detailAccount-entry-template.html'"></div>
    </form>
</dev-tag-content>