<!--<div class="panel-container">
    <a class="btn btn-primary" href="/branch/new">{{'Create your branch'| translate}}</a>
    <a class="btn btn-success" href="/branch/choose">{{'Create your branch'| translate}}</a>
    <a class="btn btn-success" href="/branch/member/add">{{'Add member'| translate}}</a>
    <a class="btn btn-success" href="/branch/members">{{'Members'| translate}}</a>
</div>-->
<!--authenticated and has branch -->
<div class="panel-container col-md-12"
     ng-if="model.isAuth && model.branch">
    <div class="row">
        <dev-tag-tile class="col-md-2">
            <a class="btn" href="/branch/members">
                <i class="fa fa-group fa-4x"></i>
                <h4 style="margin-top: 14px;text-align: center">{{'Members' | translate}}</h4>
            </a>
        </dev-tag-tile>
    </div>

    <div class="row">
        <dev-tag-tile class="col-md-2">
            <a class="btn" href="{{''}}">
                <img src="/content/images/acc.icon.png" style="width: 100px;height: 100px">
                <h4 style="margin-top: 14px;text-align: center">{{'Accounting application' | translate}}</h4>
            </a>
        </dev-tag-tile>
    </div>

</div>

<!--authenticated and not has branch -->
<div class="panel-container col-md-12"
     ng-if="model.isAuth && !model.branch">
    <div class="row">
        <dev-tag-tile class="col-md-2">
            <a class="btn" href="/branch/new">
                <i class="glyphicon glyphicon-plus" style="font-size: 100px"></i>
                <h4 style="margin-top: 14px;text-align: center">{{'Create branch' | translate}}</h4>
            </a>
        </dev-tag-tile>
        <dev-tag-tile class="col-md-2">
            <a class="btn" href="/branch/choose">
                <i class="glyphicon glyphicon-hand-up" style="font-size: 100px"></i>
                <h4 style="margin-top: 14px;text-align: center">{{'Choose branch' | translate}}</h4>
            </a>
        </dev-tag-tile>
    </div>

</div>

<!--anonymous -->
<div class="panel-container"
     ng-if="!(model.isAuth || model.branch)"
     style="
     width: 100%;
     height:35em;
     background-size: cover;
     background-image: url('/content/images/smallbusiness.png');
     padding: 30px">

    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <dev-tag-button
                    href="/register"
                    title="{{'Register'| translate}}"
                    style-type="success btn-lg btn-block"
                    icon="glyphicon glyphicon-plus"></dev-tag-button>

            <dev-tag-button
                    href="/login"
                    title="{{'Login'| translate}}"
                    style-type="primary btn-lg btn-block"
                    icon="glyphicon glyphicon-log-in"></dev-tag-button>
        </div>
    </div>
</div>

