<dev-tag-content title="{{'Home'|translate}}">
  <div class="form-group col-xs-4">
    <label class="label-control">{{'Select Period' | translate}}</label>

    <dev-tag-combo-box
            ng-model="current.fiscalPeriod"
            k-placeholder="'{{'Select ...'|translate}}'"
            k-data-value-field="'id'"
            k-data-text-field="'display'"
            k-data-source="periodDataSource"
            k-value-primitive="true"
            k-filter="'contains'"
            k-auto-bind="false"
            k-min-length="3"
            k-on-change="periodOnChange(kendoEvent)"
            k-data-bound="fiscalPeriodDataBound"

            style="width: 100%"></dev-tag-combo-box>
  </div>
    <div class="form-group col-xs-4">
        <label class="label-control">{{'Select Mode' | translate}}</label>
        <dev-tag-dropdownlist
                name="mode"
                k-data-value-field="key"
                k-data-text-field="display"
                k-data-source="modesDataSource"
                ng-model="current.mode"
                k-on-change="modeOnChanged(kendoEvent)"
        ></dev-tag-dropdownlist>
    </div>
</dev-tag-content>