<dev-tag-content title="{{editMode == 'create'?'Journal line create':'Journal line edit'|translate}}">
    <form name="form" novalidate>
        <div class="col-xs-12">
            <dev-tag-button
                    ng-click="saveAndNew(form)"
                    icon="glyphicon glyphicon-floppy-disk"
                    is-waiting="isSaving"
                    ng-disabled="isSaving"
                    style-type="success"
                    title="{{'Save and new' | translate}}"></dev-tag-button>

            <dev-tag-button
                    ng-click="saveAndReturn(form)"
                    icon="glyphicon glyphicon-floppy-disk"
                    is-waiting="isSaving"
                    ng-disabled="isSaving"
                    style-type="success"
                    title="{{'Save and return' | translate}}"></dev-tag-button>
        </div>


        <div class="col-xs-12">
            <div class="row">
                <div class="form-group col-xs-4">
                    <label class="label-control">{{'General ledger account' | translate}}</label>

                    <dev-tag-combo-box
                            name="generalLedgerAccountId"
                            id="generalLedgerAccountId"
                            k-placeholder="'{{'Select ...'|translate}}'"
                            k-data-value-field="'id'"
                            k-data-text-field="'title'"
                            k-data-source="generalLedgerAccountDataSource"
                            k-value-primitive="true"
                            k-filter="'contains'"
                            k-auto-bind="false"
                            k-min-length="3"
                            k-on-change="generalLedgerAccountOnChange(kendoEvent)"

                            ng-model="journalLine.generalLedgerAccountId"
                            required
                            style="width: 100%"></dev-tag-combo-box>

                    <div ng-messages="form.generalLedgerAccountId.$error" ng-if="form.generalLedgerAccountId.$dirty">
                        <span ng-message="required"
                              class="label label-danger">{{'This field is required'|translate}}</span>
                    </div>
                </div>
                <div class="form-group col-xs-4">
                    <label class="label-control">{{'Subsidiary ledger account' | translate}}</label>

                    <dev-tag-combo-box
                            name="subsidiaryLedgerAccountId"
                            ng-model="journalLine.subsidiaryLedgerAccountId"
                            k-ng-model="journalLine.subsidiaryLedgerAccountId"
                            k-value-primitive="true"
                            k-placeholder="'{{'Select ...'|translate}}'"
                            k-data-value-field="'id'"
                            k-data-text-field="'title'"
                            k-cascade-from="'generalLedgerAccountId'"
                            k-cascade-from-field="'generalLedgerAccountId'"
                            k-data-source="subsidiaryLedgerAccountDataSource"
                            k-filter="'contains'"
                            k-auto-bind="false"
                            k-min-length="3"
                            k-on-change="subsidiaryLedgerAccountSelect(kendoEvent)"
                            k-data-bound="subsidiaryLedgerAccountDataBound"
                            required
                            style="width: 100%"></dev-tag-combo-box>

                    <!--This input when added loading image removed and above combo box work correctly
-->
                    <input kendo-combo-box ng-show="false"
                           name="subsidiaryLedgerAccountId_2"
                           ng-model="journalLine.subsidiaryLedgerAccountId"
                           k-ng-model="journalLine.subsidiaryLedgerAccountId"
                           k-value-primitive="true"
                           k-placeholder="'{{'Select ...'|translate}}'"
                           k-data-value-field="'id'"
                           k-data-text-field="'title'"
                           k-cascade-from="'generalLedgerAccountId'"
                           k-cascade-from-field="'generalLedgerAccountId'"
                           k-data-source="subsidiaryLedgerAccountDataSource"
                           k-filter="'contains'"
                           k-auto-bind="true"
                           k-min-length="3"
                           k-on-change="subsidiaryLedgerAccountSelect(kendoEvent)"
                           k-data-bound="subsidiaryLedgerAccountDataBound"
                           required
                           style="width: 100%">

                    <div ng-messages="form.subsidiaryLedgerAccountId.$error"
                         ng-if="form.subsidiaryLedgerAccountId.$dirty">
                        <span ng-message="required"
                              class="label label-danger">{{'This field is required'|translate}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="row">
                <div class="form-group col-xs-4"
                     ng-if="journalLine.detailAccount.canShow">
                    <label class="label-control">{{'Detail account' | translate}}</label>

                    <dev-tag-combo-box
                            name="detailAccountId"
                            k-placeholder="'{{'Select ...'|translate}}'"
                            k-data-value-field="'id'"
                            k-data-text-field="'title'"
                            k-data-source="detailAccountDataSource"
                            k-filter="'contains'"
                            k-auto-bind="false"
                            k-min-length="3"
                            ng-model="journalLine.detailAccountId"
                            ng-required="{{journalLine.detailAccount.isRequired}}"
                            style="width: 100%"></dev-tag-combo-box>

                    <div ng-messages="form.detailAccountId.$error" ng-if="form.detailAccountId.$dirty">
                        <span ng-message="required"
                              class="label label-danger">{{'This field is required'|translate}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="row">
                <div class="form-group col-xs-4"
                     ng-repeat="dimension in journalLine.dimensions"
                     ng-if="dimension.canShow">
                    <label class="label-control">{{dimension.categoryTitle}}</label>

                    <dev-tag-combo-box
                            name="{{dimension.categoryId}}"
                            k-placeholder="'{{'Select ...'|translate}}'"
                            k-data-value-field="'id'"
                            k-data-text-field="'title'"
                            k-data-source="dimension.dataSource"
                            k-filter="'contains'"
                            k-auto-bind="false"
                            k-min-length="3"
                            ng-model="dimension.id"
                            ng-required="{{dimension.isRequired}}"
                            style="width: 100%"></dev-tag-combo-box>

                    <div ng-messages="form[dimension.categoryId].$error" ng-if="form[dimension.categoryId].$dirty">
                        <span ng-message="required"
                              class="label label-danger">{{'This field is required'|translate}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="row">
                <div class="form-group col-xs-6">
                    <label class="label-control">{{'Article' | translate}}</label>
                    <textarea type="text" class="form-control"
                              ng-model="journalLine.article"
                              name="article"></textarea>

                    <h1>{{journalLine.article}}</h1>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="row">


                <div class="col-xs-2">

                    <div class="btn-group-vertical">
                        <button
                                ng-click="changeAmountBalance()"
                                ng-disabled="journalLine.balanceType == 'debtor'"
                                class="btn btn-{{journalLine.balanceType == 'debtor'?'primary':'default'}}">
                            {{'Debtor'|translate}}
                        </button>
                        <button
                                ng-click="changeAmountBalance()"
                                ng-disabled="journalLine.balanceType == 'creditor'"
                                class="btn btn-{{journalLine.balanceType == 'creditor'?'primary':'default'}}">
                            {{'Creditor'|translate}}
                        </button>
                    </div>
                </div>

                <div class="form-group col-xs-4">
                    <label ng-if="journalLine.balanceType == 'debtor'" class="label-control">{{'Debtor' |
                        translate}}</label>
                    <label ng-if="journalLine.balanceType == 'creditor'" class="label-control">{{'Creditor' |
                        translate}}</label>
                    <label ng-if="journalLine.balanceType == ''" class="label-control">{{'Choose debtor or creditor' |
                        translate}}</label>
                    <dev-tag-numeric
                            ng-model="journalLine.amount"
                            ng-disabled="journalLine.balanceType == ''"
                            style="width: 100%"
                            name="amount"
                            required
                            not-zero></dev-tag-numeric>

                    <div ng-messages="form.amount.$error" ng-if="form.amount.$dirty">
                        <span ng-message="required"
                              class="label label-danger">{{'This field is required'|translate}}</span>
                        <span ng-message="notZero" class="label label-danger">{{'This field should have a value not equal to zero'|translate}}</span>
                    </div>

                    <h3 class="pull-left">
                        <span class="label label-default">{{journalLine.amount|amount}}</span>
                    </h3>
                </div>

            </div>
        </div>
    </form>
</dev-tag-content>
