<dev-tag-content dev-attr-title="{{'Journal Template'|translate}}">
    <div class="row">
        <dev-tag-grid option="gridOption"></dev-tag-grid>
    </div>

    <div class="row">
        <div class="form-group col-md-4" >
            <label class="label-control">{{'Select Period' | translate}}</label>
            <dev-tag-dropdownlist
                    k-data-value-field="id"
                    k-data-text-field="display"
                    k-data-source="periodDataSource"
                    ng-model="fiscalPeriod"
                    k-on-changed="periodOnChange"></dev-tag-dropdownlist>
        </div>
    </div>
    <div class="row">
        <dev-tag-grid option="journalGridOption"></dev-tag-grid>
    </div>


    <!--<tabset active="active">-->
        <!--<tab index="0" heading="{{'Create journal by journal template'|translate}}">-->

            <!--<div style="padding: 20px;"></div>-->
            <!--<dev-tag-grid option="gridOption"></dev-tag-grid>-->
        <!--</tab>-->

        <!--<tab index="1">-->
            <!--<tab-heading>-->
                <!--<i class="fa fa-copy"></i> {{'Copy to journal template'|translate}}-->
            <!--</tab-heading>-->

            <!--<div style="padding: 20px">-->
                <!--<div class="row">-->
                    <!--<div class="col-xs-6 col-sm-4">-->
                        <!--<div class="form-group">-->
                            <!--<label class="label-control">{{'Select Period' | translate}}</label>-->
                            <!--<dev-tag-dropdownlist-->
                                    <!--k-data-value-field="id"-->
                                    <!--k-data-text-field="display"-->
                                    <!--k-data-source="periodDataSource"-->
                                    <!--ng-model="fiscalPeriod"-->
                                    <!--k-on-changed="periodOnChange"></dev-tag-dropdownlist>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="row">-->
                    <!--<div class="col-xs-12 col-sm-12">-->
                        <!--<dev-tag-grid option="journalGridOption"></dev-tag-grid>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</tab>-->
    <!--</tabset>-->
</dev-tag-content>