<dev-tag-content dev-attr-title="{{'Copy journal'|translate}}">

    <dev-tag-validation-summary errors="errors"></dev-tag-validation-summary>

    <form name="form">
        <div class="row">
            <div class="col-xs-6 col-sm-4">
                <div class="form-group">
                    <label class="label-control">{{'Select Period' | translate}}</label>
                    <dev-tag-dropdownlist
                            k-data-value-field="id"
                            k-data-text-field="display"
                            k-data-source="periodDataSource"
                            ng-model="fiscalPeriod"
                            k-on-changed="periodOnChange"></dev-tag-dropdownlist>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <dev-tag-button
                        ng-if="current"
                        ng-click="submit(current)"
                        icon="fa fa-copy"
                        is-waiting="isSaving"
                        ng-disabled="isSaving"
                        style-type="primary"
                        title="{{'Copy journal' | translate}}"></dev-tag-button>

                <dev-tag-grid option="gridOption"
                              on-current-changed="onCurrentChanged(current)"></dev-tag-grid>
            </div>
        </div>


    </form>
    </div>
</dev-tag-content>

