<dev-tag-content title="{{'Login'|translate}}" width="300px">
    <form name="form" ng-submit="model.login(form)" novalidate>
        <dev-tag-validation-summary errors="model.errors"></dev-tag-validation-summary>

        <ul>
            <li ng-repeat="e in model.errors">{{e|translate}}</li>
        </ul>
        <div class="form-group has-feedback"
             ng-class="{ 'has-error' : form.email.$invalid && form.email.$dirty }">
            <label class="label-control">{{'Email'|translate}}</label>
            <input
                    type="text"
                    class="form-control input-lg"
                    name="email"
                    required
                    ng-model="model.loginModel.email"
                    style="text-align: left"
            />
            <span class="glyphicon glyphicon-envelope form-control-feedback" aria-hidden="true"></span>

            <div ng-messages="form.email.$error" ng-if="form.email.$dirty">
                <label
                       ng-message="required"
                       class="help-block">{{'This field is required'|translate}}
                </label>
            </div>
        </div>

        <div class="form-group has-feedback"
             ng-class="{ 'has-error' : form.password.$invalid && form.password.$dirty }">
            <label class="label-control">{{'Password'|translate}}</label>
            <input
                    type="password"
                    class="form-control input-lg"
                    name="password"
                    required
                    ng-model="model.loginModel.password"
                    style="text-align: left"
            />
            <span class="glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></span>

            <div ng-messages="form.password.$error" ng-if="form.password.$dirty">
                <label
                        ng-message="required"
                        class="help-block">{{'This field is required'|translate}}
                </label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block">
            <i class="glyphicon glyphicon-log-in"></i>
            {{'Entry'| translate}}
        </button>

        <a href="/register" class="btn btn-success">
            <i class="glyphicon glyphicon-plus"></i>
            {{'Register'|translate}}
        </a>
    </form>
</dev-tag-content>