<dev-tag-sub-content title="{{'Status on journal' | translate}}"
                     style="width: 50%">
    <div class="row">
        <div class="form-group">
            <label class="label-control">{{'Detail account' | translate}}</label>

            <dev-tag-dropdownlist
                    ng-model="subsidiaryLedgerAccount.detailAccountAssignmentStatus"
                    k-option-label="{{'Select ...'|translate}}"
                    k-data-value-field="key"
                    k-data-text-field="display"
                    k-data-source="assignmentStatus"
                    name="detailAccountAssignmentStatus"
                    required></dev-tag-dropdownlist>

            <div ng-messages="form.detailAccountAssignmentStatus.$error"
                 ng-if="form.detailAccountAssignmentStatus.$dirty">
                <span ng-message="required" class="label label-danger">{{'This field is required'|translate}}</span>
            </div>
        </div>
    </div>

    <div class="row"
         ng-repeat="das in subsidiaryLedgerAccount.dimensionAssignmentStatus">
        <div class="form-group">
            <label class="label-control">{{das.title}}</label>

            <dev-tag-dropdownlist
                    ng-model="das.status"
                    k-option-label="{{'Select ...'|translate}}"
                    k-data-value-field="key"
                    k-data-text-field="display"
                    k-data-source="assignmentStatus"
                    name="dimension-{{$index}}"
                    required></dev-tag-dropdownlist>

            <div ng-messages="form['dimension-'+ $index].$error" ng-if="form[['dimension-'+ $index]].$dirty">
                <span ng-message="required" class="label label-danger">{{'This field is required'|translate}}</span>
            </div>
        </div>
    </div>
</dev-tag-sub-content>