<div class="so-admin-docs-wrapper animated fadeInRight" >
    <h1><i class="mdi mdi-plus so-tx-color-green" ></i> Add Document</h1>
    <div class="flex-container flex-column flex-row" >
        <div class="flex-item-12 pt+" >
            <button class="btn btn--m btn--orange btn--flat" lx-ripple ui-sref="docs" >
                <i class="mdi mdi-arrow-left" ></i> Back to List
            </button>
        </div>
    </div>
    <div class="flex-container flex-column flex-row" >
        <div class="flex-item-12" >
            <div class="row" >
                <div class="col-lg-6 pt+" ng-if="model.parentList.length > 0" >
                    <div class="card" style="width: 95%;display: block;margin: 0 auto;" >
                        <lx-search-filter lx-autocomplete="model.groupAutoComplete"
                                          lx-on-select="model.onSelectGroupName" >
                            <input type="text"
                                   ng-model="model.settings.groupName"
                                   placeholder="Group Name" />
                        </lx-search-filter>
                    </div>
                </div>
                <div class="col-lg-6" >
                    <lx-text-field lx-label="Page Title"
                                   style="width: 95%;display: block;margin: 0 auto;" >
                        <input type="text" ng-model="model.settings.pageTitle" />
                    </lx-text-field>
                </div>
            </div>
            <div class="p+" >
                <label for="pageContentEditor" >Page Content</label>
                <textarea id="pageContentEditor"
                          ng-model="model.settings.pageContent"
                          style="display: block;width: 100%" ></textarea>
            </div>
            <div class="p+" >
                <button ng-click="model.save()"
                        class="btn btn--raised btn--green btn--xl"
                        style="width: 100%;" >Save</button>
            </div>
        </div>
    </div>
</div>