

<div class="row">
    <table class="table table-striped table-hover">
        <thead>
        <tr style="font-size: 9pt; font-weight: bold;">
            <td class="text-center">#</td>
            <td class="text-center">{{'Products'|translate}}</td>
            <td class="text-center" ng-if="!model.isReturnSale">{{'Description 2'|translate}}</td>
            <td class="text-center">{{'Quantity'|translate}}</td>
            <td></td>
            <td class="text-center">{{'Unit price'|translate}}</td>
            <td class="text-center">{{'Discount'|translate}}</td>
            <td class="text-center">{{'Vat'|translate}} ({{model.settings.vat}} %)</td>
            <td class="text-center">{{'Total price'|translate}}</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr name="form-{{$index}}"
            id="{{item.id}}"
            ng-form
            ng-repeat="item in model.invoice.invoiceLines"
            ng-class-odd="'grid-row-striped'">

            <td style="width: 30px; padding: 0px; vertical-align: middle; text-align: center;">{{$index + 1}}</td>

            <td style="width: 20%; padding: 0px;" class="invoice-td" ng-if="!model.isReturnSale">
                <dev-tag-combo-box style="width: 500px;"
                                   name="product"
                                   k-placeholder="{{'Select ...'|translate}}"
                                   k-data-value-field="id"
                                   k-data-text-field="title"
                                   k-data-source="model.products"
                                   k-on-created="model.createNewProduct(item,$search, form['form-'+ $index])"
                                   k-on-changed="model.onProductChanged(item, $item, form['form-'+ $index])"
                                   k-on-bound="model.onProductChanged(item, $item, form['form-'+ $index])"
                                   show-no-data-template
                                   url="{{model.urls.getAllProduct}}"
                                   ng-model="item.productId"></dev-tag-combo-box>
            </td>

            <td style="width: 25%; padding: 0px">
                <span ng-if="model.isReturnSale">{{item.description}}</span>
                <dev-tag-text-box
                        ng-if="!model.isReturnSale"
                        ng-model="item.description"
                        name="description"></dev-tag-text-box>

                <div ng-messages="form['form-'+ $index].description.$error"
                     ng-if="form['form-'+ $index].description.$dirty">
                    <label ng-message="required" class="error">{{'This field is required'|translate}}</label>
                </div>
            </td>

            <td style="width: 120px; padding: 0px;" class="invoice-td">
                <dev-tag-numeric
                        ng-model="item.quantity"
                        name="quantity"
                        ng-change="model.onItemPropertyChanged(item)"
                        required
                        not-should-be-zero="item.quantity"></dev-tag-numeric>

                <div ng-messages="form['form-'+ $index].quantity.$error" ng-if="form['form-'+ $index].quantity.$dirty">
                    <label ng-message="required" class="error">
                        {{'This field is required'|translate}}
                    </label>
                    <label ng-message="notShouldBeZero" class="error">
                        {{'Item quantity is not allowed to be zero'|translate}}
                    </label>
                </div>
            </td>

            <td style="width: 200px; padding-right: 3px;padding-top: 0;padding-bottom: 0" class="invoice-td">
                <span style="vertical-align: middle">{{item.scale}}</span>

                <a style="margin-top: 0;margin-bottom: 0"
                   ng-if="item.canShowStockSection"
                   ng-click="model.onShowSelectStock(item)"
                   title="{{'Select stock'| translate}}"
                   class="btn btn-white btn-sm"
                   uib-popover-template="'partials/sales/selectProductFromStock.template.html'"
                   popover-title="{{'Select stock'| translate}}"
                   popover-class="popover-select-stock"
                   popover-placement="bottom"
                   popover-trigger="'outsideClick'">

                    <span class="text-bold" ng-if="item.stockId">{{'Stock'| translate}}:{{item.stockDisplay}}</span>
                    <span class="text-bold" ng-if="!item.stockId">{{'Select stock'| translate}}</span>

                    <i class="fa fa-sort-desc fa-lg"></i>
                </a>
            </td>

            <td style="width: 120px; padding: 0px;" class="invoice-td">
                <dev-tag-numeric
                        ng-model="item.unitPrice"
                        name="unitPrice"
                        required
                        ng-change="model.onItemPropertyChanged(item)"
                        not-should-be-zero="item.unitPrice"></dev-tag-numeric>

                <div ng-messages="form['form-'+ $index].unitPrice.$error"
                     ng-if="form['form-'+ $index].unitPrice.$dirty">
                    <label ng-message="required" class="error">
                        {{'This field is required'|translate}}
                    </label>
                    <label ng-message="notShouldBeZero" class="error">
                        {{'UntiPrice is not allowed to be zero'|translate}}
                    </label>
                </div>
            </td>

            <td style="width: 120px; padding: 0px;" class="invoice-td">
                <dev-tag-numeric
                        ng-model="item.discount"
                        ng-change="model.onItemPropertyChanged(item)"
                        name="discount"
                        required></dev-tag-numeric>

                <div ng-messages="form['form-'+ $index].discount.$error"
                     ng-if="form['form-'+ $index].discount.$dirty">
                    <label ng-message="required" class="error">
                        {{'This field is required'|translate}}
                    </label>
                </div>
            </td>

            <td style="width: 120px; padding: 0px;" class="invoice-td">
                <dev-tag-numeric
                        ng-model="item.vat"
                        name="tax"
                        required></dev-tag-numeric>

                <div ng-messages="form['form-'+ $index].tax.$error"
                     ng-if="form['form-'+ $index].tax.$dirty">
                    <label ng-message="required" class="error">
                        {{'This field is required'|translate}}
                    </label>
                </div>
            </td>

            <td style="width: 120px;padding: 0px; vertical-align: middle; text-align: center;">
                <span>{{(item.quantity * item.unitPrice) - item.discount + item.vat | number}}</span>
            </td>

            <td style="width: 20px; padding: 0px; vertical-align: middle; text-align: center;">
                <button
                        style="margin-left: 5px"
                        type="button"
                        ng-click="model.removeInvoiceLine(item)"
                        class="close"
                        title="{{'Remove'| translate}}">
                    <span aria-hidden="true">&times;</span>
                </button>
                </a>
            </td>

        </tr>
        </tbody>
    </table>
    <div class="row" style="padding-left: 15px;">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <dev-tag-button
                            ng-if="!model.isReturnSale"
                            ng-click="model.createInvoiceLine()"
                            icon="glyphicon glyphicon-plus"
                            style-type="outline btn btn-primary btn-sm"
                            title="{{'New Journal line' | translate}}"></dev-tag-button>
                    <div class="form-group">
                        <label class="label-control" for="description">{{'Description' | translate}}</label>
                        <textarea class="form-control" rows="4" id="description" ng-model="model.invoice.description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row col-md-7">
                <ul class="list-group clear-list m-t" ng-repeat="payment in model.payments">
                    <li class="list-group-item">
                        <div class="col-md-3">
                            <p>{{payment.date}}</p>
                        </div>
                        <div class="col-md-2">
                            <p>{{payment.amount|number}}</p>
                        </div>
                        <div class="col-md-2">
                            <p>{{payment.paymentTypeDisplay}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row text-left" style="border-bottom: 1px solid #DDDDDD;">
                <div class="col-xs-5 title1 so-align-right"><h3>{{'Sum'|translate}}</h3></div>
                <div class="col-xs-7 title1">
                    <h3>{{model.invoice.invoiceLines | totalSum: ('$.quantity * $.unitPrice') | number}}</h3>
                </div>
            </div>
            <div class="row text-left" style="border-bottom: 1px solid #DDDDDD;">
                <div class="col-xs-5 title1 so-align-right"><h3>{{'Sum discount'|translate}}</h3></div>
                <div class="col-xs-7 title1">
                    <h3>{{model.invoice.invoiceLines | totalSum: ('discount') | number}}</h3>
                </div>
            </div>
            <div class="row text-left" style="border-bottom: 1px solid #DDDDDD;">
                <div class="col-xs-5 title1 so-align-right"><h3>{{'Sum tax'|translate}}</h3></div>
                <div class="col-xs-7 title1">
                    <h3>{{model.invoice.invoiceLines | totalSum: ('vat') | number}}</h3>
                </div>
            </div>
            <div class="row" style="margin-top: 1px; margin-bottom: 1px;border-bottom: 1px solid #DDDDDD;"></div>
            <div class="row text-left" >
                <div class="col-xs-5 h5 txt-bold so-align-right"><h3>{{"Payable amount"|translate}}</h3></div>
                <div class="col-xs-7 h5 txt-bold "
                     ng-model="model.invoice.totalPrice">

                    <h3>{{model.invoice.invoiceLines | totalSum: ('($.quantity * $.unitPrice) - $.discount + $.vat') | number}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>

