<div class="row">
    <table class="table table-bordered table-hover">
        <thead>
        <tr class="active" style="font-size: 9pt; font-weight: bold;">
            <td>#</td>
            <td>کالا / خدمات</td>
            <td>شرح</td>
            <td>
            <span data-toggle="popover" data-placement="top" data-trigger="hover"
                  data-original-title="" title="">مقدار</span>
            </td>
            <td>واحد</td>
            <td>مبلغ واحد <span style="font-weight: normal">(ریال)</span></td>
            <td>تخفیف</td>
            <td>مالیات (9 درصد)</td>
            <td>مبلغ کل <span style="font-weight: normal">(ریال)</span></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr name="form-{{$index}}"
            id="{{item.id}}"
            ng-form
            ng-repeat="item in model.invoice.invoiceLines"
            ng-class-odd="'grid-row-striped'">

            <td style="width: 30px; padding: 0px; vertical-align: middle; text-align: center;">{{item.row}}</td>

            <td style="width: 20%; padding: 0px;" class="invoice-td">
                <dev-tag-combo-box style="width: 500px;" ng-disabled="model.isPayment"
                                   name="product"
                                   k-placeholder="{{'Select ...'|translate}}"
                                   k-data-value-field="id"
                                   k-data-text-field="title"
                                   k-data-source="model.products"
                                   k-on-created="model.createNewProduct(item,$search)"
                                   k-on-changed="model.onProductChanged(item, $item)"
                                   show-no-data-template
                                   url="{{model.urls.getAllProduct}}"
                                   ng-model="item.productId"></dev-tag-combo-box>

                <h5>{{item.stockDisplay}}</h5>
            </td>

            <td style="width: 25%; padding: 0px;">
                <dev-tag-text-box
                        style="height: 30px"
                        ng-model="item.description"
                        name="description"></dev-tag-text-box>

                <div ng-messages="form['form-'+ $index].description.$error"
                     ng-if="form['form-'+ $index].description.$dirty">
                    <label ng-message="required" class="error">{{'This field is required'|translate}}</label>
                </div>
            </td>

            <td style="width: 120px; padding: 0px;" class="invoice-td">
                <dev-tag-numeric ng-disabled="model.isPayment"
                                 class="form-control input-grid-factor input-sm"
                                 ng-model="item.quantity"
                                 name="quantity"
                                 ng-change="model.onItemPropertyChanged(item)"
                                 required
                                 not-should-be-zero="item.quantity"></dev-tag-numeric>

                <div ng-messages="form['form-'+ $index].quantity.$error" ng-if="form['form-'+ $index].quantity.$dirty">
                    <label ng-message="required" class="error">
                        {{'This field is required'|translate}}
                    </label>
                    <label ng-message="notShouldBeZero" class="error">
                        {{'Item quantity is not allowed to be zero'|translate}}
                    </label>
                </div>
            </td>

            <td style="width: 120px; padding: 0px;" class="invoice-td">
                <span class="form-control input-grid-factor input-sm">{{item.scale}}</span>
            </td>

            <td style="width: 120px; padding: 0px;" class="invoice-td">
                <dev-tag-numeric ng-disabled="model.isPayment"
                                 class="form-control input-grid-factor input-sm"
                                 ng-model="item.unitPrice"
                                 name="unitPrice"
                                 required
                                 ng-change="model.onItemPropertyChanged(item)"
                                 not-should-be-zero="item.unitPrice"></dev-tag-numeric>

                <div ng-messages="form['form-'+ $index].unitPrice.$error"
                     ng-if="form['form-'+ $index].unitPrice.$dirty">
                    <label ng-message="required" class="error">
                        {{'This field is required'|translate}}
                    </label>
                    <label ng-message="notShouldBeZero" class="error">
                        {{'UntiPrice is not allowed to be zero'|translate}}
                    </label>
                </div>
            </td>

            <td style="width: 120px; padding: 0px;" class="invoice-td">
                <dev-tag-numeric ng-disabled="model.isPayment"
                                 class="form-control input-grid-factor input-sm"
                                 ng-model="item.discount"
                                 ng-change="model.onItemPropertyChanged(item)"
                                 name="discount"
                                 required></dev-tag-numeric>

                <div ng-messages="form['form-'+ $index].discount.$error"
                     ng-if="form['form-'+ $index].discount.$dirty">
                    <label ng-message="required" class="error">
                        {{'This field is required'|translate}}
                    </label>
                </div>
            </td>

            <td style="width: 120px; padding: 0px;" class="invoice-td">
                <dev-tag-numeric ng-disabled="model.isPayment"
                                 class="form-control input-grid-factor input-sm"
                                 ng-model="item.vat"
                                 name="tax"
                                 required></dev-tag-numeric>

                <div ng-messages="form['form-'+ $index].tax.$error"
                     ng-if="form['form-'+ $index].tax.$dirty">
                    <label ng-message="required" class="error">
                        {{'This field is required'|translate}}
                    </label>
                </div>
            </td>

            <td style="width: 120px;padding: 0px; vertical-align: middle; text-align: center;">
                <span>{{(item.quantity * item.unitPrice) - item.discount + item.vat | number}}</span>
            </td>

            <td style="width: 20px; padding: 0px; vertical-align: middle; text-align: center;">
                <a ng-if="false"
                   ng-click="model.additionalInfo(item)" class="" ng-disabled="model.isPayment"
                   type="button"
                   title="{{'Additional Information'|translate}}"
                   style="margin-top: 0;margin-bottom: 0">
                    <i class="fa fa-ellipsis-h fa-lg text-navy"></i>
                </a>

                <a
                        ng-click="model.removeInvoiceLine(item)" ng-disabled="model.isPayment"
                        class=""
                        type="button"
                        title="{{'Remove'| translate}}"
                        style="margin-top: 0;margin-bottom: 0">
                    <i class="fa fa-trash fa-lg text-danger"></i>
                </a>
            </td>

        </tr>
        </tbody>
    </table>
    <div class="row" style="padding-left: 15px;">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-3">
                    <div class="btn-group">
                        <dev-tag-button
                                ng-click="model.createInvoiceLine()" ng-if="!model.isPayment"
                                icon="glyphicon glyphicon-plus"
                                style-type="primary"
                                title="{{'New Journal line' | translate}}"></dev-tag-button>
                    </div>
                </div>
            </div>
            <div class="row col-md-7">
                <ul class="list-group clear-list m-t" ng-repeat="payment in model.payments">
                    <li class="list-group-item">
                        <div class="col-md-3">
                            <p>{{payment.date}}</p>
                        </div>
                        <div class="col-md-2">
                            <p>{{payment.amount|number}}</p>
                        </div>
                        <div class="col-md-2">
                            <p>{{payment.paymentTypeDisplay}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row text-left">
                <div class="col-xs-5 title1">جمع <span style="font-weight: normal">(ریال)</span></div>
                <div class="col-xs-7 title1">{{model.invoice.invoiceLines | totalPrice | number}}</div>
            </div>
            <div class="row text-left">
                <div class="col-xs-5 title1">جمع تخفیف <span style="font-weight: normal">(ریال)</span></div>
                <div class="col-xs-7 title1">
                    {{model.invoice.invoiceLines | totalSum: ('discount') | number}}
                </div>
            </div>
            <div class="row text-left">
                <div class="col-xs-5 title1">جمع مالیات <span style="font-weight: normal">(ریال)</span></div>
                <div class="col-xs-7 title1">
                    {{model.invoice.invoiceLines | totalSum: ('vat') | number}}
                </div>
            </div>
            <div class="row" style="border-top: 1px solid rgb(69, 69, 69); margin-top: 1px; margin-bottom: 1px;"></div>
            <div class="row text-left" style="border-bottom: 1px solid rgb(69, 69, 69)">
                <div class="col-xs-5 h5 txt-bold">مبلغ کل <span style="font-weight: normal">(ریال)</span></div>
                <div class="col-xs-7 h5 txt-bold " ng-model="model.invoice.totalPrice"> {{model.invoice.invoiceLines |
                    sumTotalPrice| number}}
                </div>
            </div>
            <div class="row" style="border-top: 1px solid rgb(69, 69, 69); margin-top: 1px; margin-bottom: 10px;"></div>
        </div>
    </div>
</div>