<div class="row">
    <table class="table table-hover"
           dev-data-table height="300px">
        <thead>
        <tr>
            <th>#</th>
            <th style="width: 25%;text-align: center">{{'ItemTitle'|translate}}</th>
            <th style="width: 15%;text-align: center">{{'quantity'|translate}}</th>
            <th style="width: 10%;text-align: center">{{'unitPrice'|translate}}</th>
            <th style="width: 30%;text-align: center">{{'discount'|translate}}</th>
            <th style="width: 30%;text-align: center">{{'tax'|translate}}</th>
            <th style="width: 10%;text-align: center">{{'vat'|translate}}</th>

            <th style="width: 10%;text-align: center">{{'totalPrice'|translate}}</th>
            <th style="text-align: left;width: 120px"></th>
        </tr>
        </thead>
        <tbody>
        <tr name="form-{{$index}}"
            id="{{item.id}}"
            ng-form
            ng-repeat="item in model.invoice.invoiceLines"
            ng-class-odd="'grid-row-striped'"
            style="height: 50px">

            <td style="text-align: center">{{item.row}}</td>

            <td>

                <dev-tag-combo-box
                        name="productId"
                        k-placeholder="{{'Select ...'|translate}}"
                        k-data-value-field="id"
                        k-data-text-field="title"
                        k-data-source="model.products"
                        ng-model="item.productId" required></dev-tag-combo-box>

                <div ng-messages="form['form-'+ $index].productId.$error"
                     ng-if="form['form-'+ $index].article.$dirty">
                    <label ng-message="required" class="error">{{'This field is required'|translate}}</label>
                </div>

            </td>

            <td>

                <dev-tag-numeric
                        class="form-control"
                        ng-model="item.quantity"
                        name="quantity"
                        required
                        not-zero="item.quantity"></dev-tag-numeric>

                <div ng-messages="form['form-'+ $index].quantity.$error" ng-if="form['form-'+ $index].quantity.$dirty">
                    <label ng-message="required" class="error">
                        {{'This field is required'|translate}}
                    </label>
                    <label ng-message="notShouldBeZero" class="error">
                        {{'Item quantity is not allowed to be zero'|translate}}
                    </label>
                </div>

            </td>

            <td>
                <dev-tag-numeric
                        class="form-control"
                        ng-model="item.unitPrice"
                        name="unitPrice"
                        required
                        not-zero="item.unitPrice"></dev-tag-numeric>

                <div ng-messages="form['form-'+ $index].unitPrice.$error"
                     ng-if="form['form-'+ $index].unitPrice.$dirty">
                    <label ng-message="required" class="error">
                        {{'This field is required'|translate}}
                    </label>
                    <label ng-message="notShouldBeZero" class="error">
                        {{'UntiPrice is not allowed to be zero'|translate}}
                    </label>
                </div>
            </td>

            <td>
                <dev-tag-numeric
                        class="form-control"
                        ng-model="item.discount"
                        name="tax"
                        required></dev-tag-numeric>

                <div ng-messages="form['form-'+ $index].tax.$error"
                     ng-if="form['form-'+ $index].tax.$dirty">
                    <label ng-message="required" class="error">
                        {{'This field is required'|translate}}
                    </label>
                </div>
            </td>

            <td>
                <dev-tag-numeric
                        class="form-control"
                        ng-model="item.tax"
                        name="tax"
                        required></dev-tag-numeric>

                <div ng-messages="form['form-'+ $index].tax.$error"
                     ng-if="form['form-'+ $index].tax.$dirty">
                    <label ng-message="required" class="error">
                        {{'This field is required'|translate}}
                    </label>
                </div>
            </td>

            <td>
                <dev-tag-numeric
                        class="form-control"
                        ng-model="item.vat"
                        name="vat"
                        required></dev-tag-numeric>

                <div ng-messages="form['form-'+ $index].tax.$error"
                     ng-if="form['form-'+ $index].tax.$dirty">
                    <label ng-message="required" class="error">
                        {{'This field is required'|translate}}
                    </label>
                </div>
            </td>

            <td>
                <label class="label label-default">{{(item.unitPrice * item.quantity)-(item.tax+item.vat+item.discount)}}</label>
            </td>

            <td style="text-align: center;vertical-align: middle">
                <a
                        ng-click="model.additionalInfo(item)" class=""
                        type="button"
                        title="{{'Additional Information'|translate}}"
                        style="margin-top: 0;margin-bottom: 0">
                    <i class="fa fa-ellipsis-h fa-lg text-navy"></i>
                </a>

                <a
                        ng-click="model.removeInvoiceLine(item)"
                        class=""
                        type="button"
                        title="{{'Remove'| translate}}"
                        style="margin-top: 0;margin-bottom: 0">
                    <i class="fa fa-trash fa-lg text-danger"></i>
                </a>

            </td>

        </tr>
        </tbody>
        <tfoot style="background-color: #F9F8F8">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>

        <tr>
            <td colspan="2">
                <dev-tag-button
                        ng-click="model.createInvoiceLine()"
                        icon="glyphicon glyphicon-plus"
                        style-type="primary"
                        title="{{'New Invoice line' | translate}}"></dev-tag-button>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tfoot>
    </table>
</div>