<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content p-xl">
                <div class="row">
                    <div class="col-sm-6">
                        <h5>{{model.personType}}</h5>
                        <address>
                            <strong>{{model.invoice.customerDisplay}}</strong><br>
                        </address>
                    </div>

                    <div class="col-sm-6 text-right">
                        <h4 class="text-navy">شماره فاکتور : {{model.invoice.number}}</h4>
                        <p>
                            <span><strong>تاریخ فاکتور:</strong> {{model.invoice.date}}</span><br/>
                        </p>
                    </div>
                </div>

                <div class="table-responsive m-t">
                    <table class="table invoice-table">
                        <thead>
                        <tr>
                            <th>کالا / خدمات</th>
                            <th>تعداد</th>
                            <th>مبلغ واحد</th>
                            <th>تخفیف</th>
                            <th>مالیات</th>
                            <th>جمع کل</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in model.invoice.invoiceLines">
                            <td>
                                <div><strong>{{item.description}}</strong></div>
                            </td>
                            <td>{{item.quantity | number}}</td>
                            <td>{{item.unitPrice | number}}</td>
                            <td>{{item.discount | number}}</td>
                            <td>{{item.vat | number}}</td>
                            <td>{{(item.quantity * item.unitPrice) - item.discount + item.vat | number}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /table-responsive -->

                <table class="table invoice-total">
                    <tbody class="pull-left text-left">
                    <tr>
                        <td><strong>جمع:</strong></td>
                        <td>{{model.invoice.invoiceLines | totalPrice | number}}</td>
                    </tr>
                    <tr>
                        <td><strong>جمع تخفیف :</strong></td>
                        <td> {{model.invoice.invoiceLines | totalSum: ('discount') | number}}</td>
                    </tr>
                    <tr>
                        <td><strong>جمع مالیات :</strong></td>
                        <td>{{model.invoice.invoiceLines | totalSum: ('vat') | number}}</td>
                    </tr>
                    <tr>
                        <td><strong>جمع کل :</strong></td>
                        <td>{{model.invoice.invoiceLines | sumTotalPrice| number}}</td>
                    </tr>
                    </tbody>
                </table>

                <ul class="list-group clear-list m-t" ng-repeat="payment in model.payments">
                    <li class="list-group-item">
                        <div class="col-md-3">
                            <p>{{payment.date}}</p>
                        </div>
                        <div class="col-md-2">
                            <p>{{payment.amount|number}}</p>
                        </div>
                        <div class="col-md-2">
                            <p>{{payment.paymentTypeDisplay}}</p>
                        </div>
                    </li>
                </ul>
                <div class="text-right">
                    <button ng-click="model.newInvoice(form)" class="btn btn-info"><i class="fa fa-paper"></i> {{'New ' |
                        translate}}
                    </button>

                    <button ng-click="model.print()" class="btn btn-primary"><i class="fa fa-print"></i> {{'Print ' |
                        translate}}
                    </button>

                    <button ng-click="model.cashPaymentShow()" class="btn btn-primary"><i class="fa fa-money"></i>
                        {{'Payment ' | translate}}
                    </button>
                </div>

                <div class="well m-t ">
                    {{model.invoice.description}}
                </div>
            </div>
        </div>
    </div>
</div>
