

<dev-tag-content-body is-loading="model.isLoading" class="animated bounceInUp">
    <dev-tag-guide ng-if="model.invoiceType === 'sale'">
        <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i><br/>
        <ul>
            <li>
                <b>پرداخت: </b>
                پس از تایید فاکتور این دکمه نمایش داده می شود که پرداخت به ازای فاکتور را با استفاده از این دکمه انجام دهید.
            </li>
            <li>
                <b>ارسال: </b>
                درصورت استفاده از افزونه ی پرداخت آنلاین، با استفاده از این دکمه می توانید لینک پرداخت را برای مشتری خود ارسال نمایید و تا زمانی که مشتری با استفاده از این لینک عملیات پرداخت را انجام ندهد فاکتور در وضعیت منتظر برای پرداخت می ماند به محض پرداخت مشتری با استفاده از لینک ارسالی سند پرداخت آن بصورت خودکار صادر شده و وضعیت فاکتور به پرداخت شده تغییر می نماید.
            </li>
        </ul>
    </dev-tag-guide>

    <dev-tag-guide ng-if="model.invoiceType === 'returnSale'">
        <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i><br/>
        <ul>
            <li>
                <b>پرداخت: </b>
                پس از تایید فاکتور این دکمه نمایش داده می شود که پرداخت به خریدار را با استفاده از این دکمه انجام دهید.
            </li>
        </ul>
    </dev-tag-guide>

    <div class="row">
        <div class="col-sm-6">
            <h3>
                {{'Customer'|translate}} : {{model.invoice.customerDisplay}}
            </h3>

        </div>

        <div class="col-sm-6 text-right">
            <h4>شماره فاکتور : {{model.invoice.number}}</h4>
            <p>
                <span><strong>تاریخ فاکتور:</strong> {{model.invoice.date}}</span><br/>
            </p>
        </div>
    </div>

    <div class="row">
        <h4>{{'Invoice title'|translate}} :</h4>
        {{model.invoice.title}}
    </div>
    <div class="table-responsive m-t">
        <table class="table invoice-table">
            <thead>
            <tr>
                <th>کالا / خدمات</th>
                <th>تعداد</th>
                <th>مبلغ واحد</th>
                <th>تخفیف</th>
                <th>مالیات</th>
                <th>جمع کل</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in model.invoice.invoiceLines">
                <td>
                    <div><strong>{{item.description}}</strong></div>
                </td>
                <td>{{item.quantity | number}}</td>
                <td>{{item.unitPrice | number}}</td>
                <td>{{item.discount | number}}</td>
                <td>{{item.vat | number}}</td>
                <td>{{(item.quantity * item.unitPrice) - item.discount + item.vat | number}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- /table-responsive -->
    <div class="row">

        <div class="col-md-8">
            <div class="row">
                <h4>{{'Description'|translate}} :</h4>
                <div style="text-align: justify">{{model.invoice.description}}</div>
            </div>
            <div class="row" ng-if="model.payments.length > 0" style="margin-top: 10px">
                <h4>
                    {{'Payments'|translate}}
                    <span style="margin-right: 5px"
                          ng-if="model.invoice.status == 'paid'">(کل مبلغ این فاکتور پرداخت شده)</span>
                </h4>
                <ul class="list-group clear-list m-t">
                    <li class="list-group-item" ng-repeat="payment in model.payments">
                        <div class="row">
                            <div class="col-md-3">
                                <p>{{payment.date}}</p>
                            </div>
                            <div class="col-md-2">
                                <p>{{payment.amount|number}}</p>
                            </div>
                            <div class="col-md-2">
                                <p>{{payment.paymentTypeDisplay}}</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">

                            </div>
                            <div class="col-md-2">
                                <p>{{model.payments| totalSum: ('amount') | number}}</p>
                            </div>
                            <div class="col-md-2">

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <table class="table invoice-total">
                <tbody class="pull-left text-left">
                <tr>
                    <td><strong>جمع:</strong></td>
                    <td>{{model.invoice.invoiceLines|totalSum:('$.quantity * $.unitPrice')|number}}</td>
                </tr>
                <tr>
                    <td><strong>جمع تخفیف :</strong></td>
                    <td> {{model.invoice.invoiceLines | totalSum: ('discount') | number}}</td>
                </tr>
                <tr ng-repeat="c in model.invoice.charges">
                    <td><strong>{{'Charge'|translate}} {{c.display}} :</strong></td>
                    <td>{{c.value | number}}</td>
                </tr>

                <tr ng-show="model.invoice.charges.length > 0">
                    <td><strong>جمع مالیات اضافات :</strong></td>
                    <td>{{((model.invoice.charges | totalSum: ('value')) * model.vat) /100 | number}}</td>
                </tr>

                <tr>
                    <td><strong>جمع مالیات :</strong></td>
                    <td>{{(model.invoice.invoiceLines | totalSum: ('vat')) + ((model.invoice.charges | totalSum: ('value')) * model.vat) /100 | number}}</td>
                </tr>

                <tr>
                    <td><strong>جمع کل :</strong></td>
                    <td>{{(model.invoice.invoiceLines | totalSum: ('($.quantity * $.unitPrice) - $.discount + $.vat')) +
                        (model.invoice.charges | totalSum: ('value')) +
                        ((model.invoice.charges | totalSum: ('value')) * model.vat) /100 | number}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="text-right">

        <dev-tag-button
                ng-if="model.invoiceType === 'sale'"
                ng-click="model.print()"
                title="{{'Print'|translate}}"
                style-type="primary"
                icon="fa fa-print fa-lg"></dev-tag-button>
        <dev-tag-button
                ng-if="model.invoiceType === 'sale'"
                ng-click="model.sendEmail()"
                title="{{'Send' | translate}}"
                style-type="primary btn-outline"
                icon="fa fa-send fa-lg"></dev-tag-button>
        <dev-tag-button
                ng-if="model.invoice.status != 'paid' && model.invoice.status != 'draft'"
                ng-click="model.recordPayment()"
                title="{{'Payment' | translate}}"
                style-type="primary btn-outline"
                icon="fa fa-money fa-lg"></dev-tag-button>

        <dev-tag-button
                ng-if="model.invoice.status === 'paid'"
                ng-click="model.printPaymentReceipt()"
                title="{{'Print payment receipt' | translate}}"
                style-type="primary btn-outline"
                icon="fa fa-print fa-lg"></dev-tag-button>


    </div>

</dev-tag-content-body>
