<div class="=row">
    <dev-tag-validation-summary errors="model.errors" class="col-md-12"></dev-tag-validation-summary>
</div>
<br/>
<div class="row">

    <div ng-include="'partials/sales/salesGuide.html'"></div>
    <dev-tag-button
            ui-sref="{{model.createStateName}}"
            title="{{'New'| translate}}"
            style-type="primary"
            icon="glyphicon glyphicon-plus"></dev-tag-button>

    <dev-tag-button
            ng-click="model.invoiceTurnover()"
            ng-if="model.invoiceType === 'sales'"
            title="{{'Invoice sale turnover'| translate}}"
            style-type="primary btn-outline"
            icon="fa fa-print fa-lg"></dev-tag-button>
</div>

<div class="=row">
    <dev-tag-grid option="model.gridOption"></dev-tag-grid>
</div>