<ul class="list-group clear-list m-t">
    <li class="list-group-item fist-item">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">{{'Stock'|translate}}</div>
            <div class="col-md-2">{{'Quantity'|translate}}</div>
        </div>
    </li>

    <li class="list-group-item"
        ng-repeat="p in item.inventories">

        <div class="row">
            <div class="col-md-1">
                <dev-tag-radio
                        ng-change="p.stockId == item.stockId && model.onStockChanged(item, p)"
                        ng-class="{'checked': p.stockId == item.stockId}"

                        k-value="{{p.stockId}}"
                        ng-model="item.stockId"></dev-tag-radio>
            </div>
            <div class="col-md-9">{{p.stockDisplay}}</div>
            <div class="col-md-2">{{p.sumQuantity | number}}</div>
        </div>
    </li>

    <li class="list-group-item">
        <div class="row">
            <div class="col-md-10">{{'Sum'| translate}}</div>
            <div class="col-md-2">{{ item.inventories|totalSum:('sumQuantity')|number}}</div>
        </div>
    </li>
</ul>
