<section id="plicies">

    <div class="wrapper wrapper-content  animated fadeInRight article">
        <div class="row" >
            <div class="text-center article-title">
                <h1>قوانین و مقررات</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="ibox">
                    <div class="ibox-content">
                        <ol class="so-para-border-right" >
                            <li style="margin-bottom: 1%;">
                                سایت نرم افزار حسابداری آنلاین استورم طبق قوانین جمهوری اسلامی ایران، قوانین جرایم اینترنتی فعالیت می‌کند.
                            </li>

                            <li style="margin-bottom: 1%;">
                                خدمات و محتوای عرضه شده توسط وب‌سایت استورم جهت استفاده‌ در این وب‌سایت تولید می‌شوند. هر گونه سوءاستفاده از اطلاعات، متن‌ها، عکس‌ها، نقشه‌ها، طرح‌ها، لوگو و... از این وب‌سایت پیگرد قانونی دارد و هیچ فرد حقیقی یا حقوقی اجازه‌ی سوء استفاده از مطالب این وب‌سایت را ندارد. ذکر مطالب این وب‌سایت در اینترنت، تنها با ذکر نام و نشانی اینترنتی وب‌سایت استورم و لینک به مطلب ذکر شده مجاز است.
                            </li>

                            <li  style="margin-bottom: 1%;">- اطلاعات موجود در وب سایت استورم کاملاً متعلق به این سایت است. لذا جهت حفظ حریم این اطلاعات ، کاربر باید تعهد بدهد تا عامل تلاش جهت هک کردن هر گونه اطلاعات موجود در سایت نبوده و هیچ‌گونه معاونت و یا مشارکتی با اشخاص حقیقی و یا حقوقی در این امر نداشته باشد. ضمناً کاربر تعهد می‌دهد که هر گونه اطلاع از توسل به هک کردن اطلاعات توسط شخص و یا موسسه‌ی دیگر را در اسرع وقت به مدیریت سایت استورم اطلاع دهد.</li>

                            <li  style="margin-bottom: 1%;">کاربران متعهد می‌شوند که اطلاعات خود را هنگام ثبت‌نام به صورت صحیح در وب‌سایت وارد کنند. در صورت ورود اطلاعات ناقص يا نادرست، مسئولیت عواقب بعدی این عمل بر عهده‌ی کاربران خواهد بود.</li>

                            <li  style="margin-bottom: 1%;">کاربر متعهد می‌شود هرگونه تغییر در مشخصات فردی خود را در اسرع وقت در وب‌سایت استورم اصلاح نماید. در غیر این‌صورت این وب‌سایت هیچ مسئولیتی در قبال تبعات ناشی از عدم صحت اطلاعات موجود نخواهد داشت.</li>

                            <li  style="margin-bottom: 1%;">هرگونه سوء استفاده از نام استورم، سایت اینترنتی استورم ، مکاتبه از طرف استورم و یا استفاده از نام های مشابه که شبهه مشابهت و تطابق را ایجاد نماید ممنوع بوده از طریق شکایت به مراجع قانونی ذیصلاح، دادگاه‌های رسیدگی به جرائم اینترنتی در داخل و یا خارج از کشور و نیز اطلاع‌رسانی به سرویس دهندگان و سرویس گیرندگان اینترنتی قابل پیگرد خواهد بود.</li>

                            <li  style="margin-bottom: 1%;">وب‌سایت استورم اطلاعات شخصی کاربران را با هیچ مجموعه‌ی دیگری به اشتراک نخواهد گذاشت و مراجع ذی‌صلاح فقط در صورت موارد مصرح در قانون، امکان استفاده از این اطلاعات را خواهند داشت.</li>
                        </ol>
                        <a href="/landing" class="btn btn-lg btn-success" >بازگشت</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="text-align: center;" >
                <img src="img/policy-icon.svg" style="width: 100%;margin: 50px 0;" />
            </div>
        </div>
    </div>


</section>