<div class="so-md-form-container" >
    <img src="/public/images/logo.png" style="position: relative;width: 67%;text-align: center;display: block;margin: 10px auto;">
    <h1 class="so-align-center so-tx-color-white" >تغییر رمز</h1>
    <div class="panel default so-tx-color-white so-bg-color-blue" ng-class="{ 'so-bg-color-blue' : sendForgotPassStatus == 0 , 'so-bg-color-green' : sendForgotPassStatus == 1 , 'so-bg-color-red' : (sendForgotPassStatus == 2 || sendForgotPassStatus == 3) }" >
        <div class="panel-body" ng-show="sendForgotPassStatus == 0" >
            <i class="fa fa-info-circle" style="font-size: 14pt;" ></i>&nbsp;&nbsp;&nbsp;<span style="font-size: 11pt;" >لطفا جهت تغییر رمز عبور فراموش شده، ایمیل خود را وارد کنید. سپس لینکی به این ایمیل ارسال می شود تا پس از ورود به آن، رمز خود را تغییر دهید.</span>
        </div>
        <div class="panel-body" ng-show="sendForgotPassStatus == 1" >
            <i class="fa fa-check" ></i> لینک به ایمیل شما ارسال شد، لطفا ایمیل تان را چک کنید.
        </div>
        <div class="panel-body" ng-show="sendForgotPassStatus == 2" >
            <i class="fa fa-times" ></i> آدرس ایمیل وارد شده در سیستم وجود ندارد !<br/>می توانید دوباره امتحان کنید.
        </div>
        <div class="panel-body" ng-show="sendForgotPassStatus == 3" >
            <i class="fa fa-warning" ></i> مشکل فنی بوجود آمده است.
        </div>
    </div>
    <form   novalidate
            method="post"
            name="forgotPassForm"
            ng-submit="self.send(forgotPassForm, email)"
            ng-init="self.form = forgotPassForm"
            ng-show="sendForgotPassStatus != 1"
        >
        <div class="form-group" >
            <label for="form-email" class="so-tx-color-white" >آدرس ایمیل</label>
            <input type="email"
                   id="form-email"
                   name="email"
                   placeholder="E-Mail"
                   class="form-control"
                   style="direction: ltr;"
                   required
                   ng-model="email"
                   ng-class="{ 'error' : forgotPassForm.email.$invalid && forgotPassForm.email.$dirty }"/>
        </div>
        <div ng-messages="forgotPassForm.email.$error" ng-if="forgotPassForm.email.$dirty" >
            <div ng-message="required" class="text-danger">وارد کردن آدرس ایمیل الزامیست</div>
        </div>
        <div class="form-group" >
            <button
                type="submit"
                class="btn btn-block so-bg-color-blue so-tx-color-white"
                ng-disabled="forgotPassForm.$invalid" >ارسال لینک</button>
        </div>
    </form>
    <a href="/profile" >صفحه ی ورود به پنل</a>
</div>