<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
    <div>

      <h1 class="logo-name" style="margin-left: -30px">
        <img src="/public/images/logo.png">
      </h1>

    </div>

    <div class="alert alert-danger"
    ng-if="login.isError">
      ایمیل، کلمه عبور و یا کپتچا صحیح نیست
    </div>

    <form class="m-t" ng-submit="login.login(form)" name="form" novalidate>
      <div class="form-group">
        <input type="email"
               class="form-control"
               placeholder="ایمیل"
               required
               name="email"
               ng-model="login.user.email">

        <div ng-messages="form.email.$error" ng-if="form.email.$dirty">
          <div ng-message="required" class="text-danger">وارد کردن ایمیل الزامیست</div>
          <div ng-message="email" class="text-danger">یک ایمیل مجاز وارد کنید</div>
        </div>
      </div>
      <div class="form-group">
        <input type="password"
               class="form-control"
               placeholder="کلمه عبور"
               required
               name="password"
               ng-model="login.user.password">

        <div ng-messages="form.password.$error" ng-if="form.password.$dirty">
          <div ng-message="required" class="text-danger">وارد کردن کلمه‌عبور الزامیست</div>
        </div>

      </div>
      <!--[START] reCaptcha-->
      <div class="form-group" >
        <div id="g-recaptcha-elem" ></div>
      </div>
      <!--[-END-] reCaptcha-->
      <button type="submit"
              class="btn btn-primary block full-width m-b" >ورود</button>

      <button type="button"
              class="btn btn-danger block full-width m-b"
              ng-click="login.loginByGoogle()">
        ورود با گوگل
        <i class="fa fa-google-plus"></i>
      </button>

      <a href="/forgot-password"><small>کلمه عبور را فراموش کردید ؟</small></a>
      <p class="text-muted text-center"><small>حساب کاربری ندارید ؟</small></p>
      <a class="btn btn-sm btn-white btn-block" ui-sref="register">ایجاد حساب کاربری</a>
    </form>

  </div>
</div>