<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
    <div>

      <h1 class="logo-name" style="margin-left: -30px">
        <img src="/public/images/logo.png">
      </h1>

    </div>

    <div class="alert alert-danger"
         ng-if="model.isError">
   ثبت نام با موفقیت انجام نشد
    </div>

    <form class="m-t" ng-submit="model.register(form)" name="form" novalidate>
      <div class="form-group">
        <input type="text"
               class="form-control"
               placeholder="نام"
               required
               minlength="5"
               name="name"
               ng-model="model.user.name">

        <div ng-messages="form.name.$error" ng-if="form.name.$dirty">
          <div ng-message="required" class="text-danger">وارد کردن نام الزامی است</div>
          <div ng-message="minlength" class="text-danger">نام باید حداقل ۵ کاراکتر باشد</div>
        </div>
      </div>
      <div class="form-group">
        <input type="email"
               class="form-control"
               placeholder="ایمیل"
               required
               name="email"
               ng-model-options="{ updateOn: 'blur' }"
               ng-change="model.check(form)"
               ng-model="model.user.email">

        <div ng-messages="form.email.$error" ng-if="form.email.$dirty">
          <div ng-message="required" class="text-danger">وارد کردن ایمیل الزامیست.</div>
          <div ng-message="email" class="text-danger">لطفا یک ایمیل مجاز وارد کنید.</div>
          <div ng-message="check" class="text-danger">این ایمیل قبلا در سیستم ثبت شده است.</div>
        </div>
      </div>
      <div class="form-group">
        <input type="password"
               class="form-control"
               placeholder="کلمه عبور"
               required
               name="password"
               ng-model="model.user.password">

        <div ng-messages="form.password.$error" ng-if="form.password.$dirty">
          <div ng-message="required" class="text-danger">وارد کردن کلمه‌عبور الزامیست</div>
        </div>

      </div>
      <div class="form-group">
        <input type="password"
               class="form-control"
               placeholder="تکرار کلمه عبور"
               required
               name="confirmPassword"
               ng-model="model.user.confirmPassword">

        <div ng-messages="form.password.$error" ng-if="form.password.$dirty">
          <div ng-message="required" class="text-danger">تکرار کلمه عبور الزامی است</div>
          <div ng-message="match" class="text-danger">کلمه عبور و تکرار آن یکسان نیست</div>
        </div>

      </div>
      <button type="submit" class="btn btn-primary block full-width m-b">ثبت نام</button>

    </form>

  </div>
</div>