<div class="so-md-form-container" >

    <img src="/public/images/logo.png" style="position: relative;width: 67%;text-align: center;display: block;margin: 10px auto;">
    <h1 class="so-tx-color-white" >تغییر رمز عبور</h1>
    <form
            novalidate
            name="resetPassForm"
            ng-init="self.form = resetPassForm"
            ng-submit="self.send(resetPassForm,tokenId)"
    >
        <div class="form-group" >
            <label for="form-userpass" class="so-tx-color-white" >رمز عبور</label>
            <input id="form-userpass" class="form-control" type="password" ng-model="userPass" name="pass" required />
        </div>
        <div class="form-group" >
            <label for="form-userpass-conf" class="so-tx-color-white" >رمز عبور (تکرار)</label>
            <input id="form-userpass-conf" class="form-control" type="password" ng-model="userPassConf" name="passConf" required />
        </div>
        <div ng-show="userPass != userPassConf || resetPassForm.$invalid" >
            <div class="text-warning">لطفا گذرواژه را به درستی تکرار کنید.</div>
        </div>
        <div class="form-group" >
            <button type="submit" class="btn btn-block btn-success" ng-disabled="userPass != userPassConf || resetPassForm.$invalid" >تغییر رمز عبور</button>
        </div>
    </form>

</div>