<div class="so-md-form-container" >

    <img src="/public/images/logo.png" style="position: relative;width: 67%;text-align: center;display: block;margin: 10px auto;">
    <!--[START] Panel-->
    <div
        class="panel so-tx-color-white"
        ng-show="sendResetPassStatus != 0"
        ng-class="{ 'so-bg-color-green' : sendResetPassStatus == 1, 'so-bg-color-red' : sendResetPassStatus == 2 || sendResetPassStatus == 3 }" >

        <div class="panel-body" ng-show="sendResetPassStatus == 1" >
            <p><i class="fa fa-check" ></i> رمز عبور با موفقیت تغییر یافت.</p>
        </div>
        <div class="panel-body" ng-show="sendResetPassStatus == 2" >
            <p><i class="fa fa-warning" ></i> token وارد شده صحیح نمی باشد.</p>
        </div>
        <div class="panel-body" ng-show="sendResetPassStatus == 3" >
            <p><i class="fa fa-warning" ></i> مشکل فنی بوجود آمده.</p>
        </div>

    </div>
    <!--[-END-] Panel-->
    <div ng-show="showForm" >
        <h1 class="so-tx-color-white" >تغییر رمز عبور</h1>
        <form   novalidate
                name="resetPassForm"
                ng-init="self.form = resetPassForm"
                ng-submit="self.send(resetPassForm, userPass)" >

            <div class="form-group" >
                <label for="form-userpass" class="so-tx-color-white" >رمز عبور</label>
                <div class="input-group" >
                    <span class="input-group-btn" >
                        <button
                            class="btn btn-success"
                            ng-click="self.toggleInputType()" ><i class="fa fa-eye-slash" ></i></button>
                    </span>
                    <input
                        id="form-userpass"
                        class="form-control"
                        type="{{inputType}}"
                        ng-model="userPass"
                        name="pass"
                        placeholder="رمز عبور جدید"
                        required ng-minlength="6" />
                </div>
            </div>
            <div class="form-group" >
                <label for="form-userpass-conf" class="so-tx-color-white" >رمز عبور (تکرار)</label>
                <input
                        id="form-userpass-conf"
                        class="form-control"
                        type="password"
                        ng-model="userPassConf"
                        name="passConf"
                        placeholder="تکرار رمز عبور جدید"
                        required ng-minlength="6" />
            </div>
            <div class="panel" >
                <div class="panel-body so-bg-color-yellow" >
                    <p style="text-align: center" ><i class="fa fa-info" ></i> حداقل تعداد کاراکترهای رمز، بایستی برابر یا بیشتر از 6 کاراکتر باشد.</p>
                </div>
            </div>
            <div class="form-group" >
                <button
                        type="submit"
                        class="btn btn-block btn-primary"
                        ng-disabled="userPass != userPassConf || resetPassForm.$invalid" >
                    تغییر رمز عبور
                </button>
            </div>

        </form>
    </div>
    <a href="/profile" >صفحه ی ورود به پنل</a>

</div>