<!DOCTYPE html>
<html ng-app="app" lang="fa">
<head>
    <meta charset="UTF-8">
    <title>database</title>

    <meta name="viewport" content="widt h=device-width, initial-scale=1">

</head>
<body>
<form action="/database" method="post">
    <div>
        <label>Token : </label>
        <input type="text" name="token" style="width: 500px">
    </div>
    <div>
        <label>env : </label>
        <input type="text" name="env" style="width: 200px">
    </div>
    <div>
        <label>Table : </label>
        <input type="text" name="table" style="width: 200px">
    </div>
    <div>
        <label>Data : </label>
        <textarea name="data" style="width: 500px;height: 500px"></textarea>
    </div>
    <button type="submit">Run</button>
</form>
</body>


</html>

