<div layout="column"  layout-align="start" layout-fill class="introduction">

  <toolbar classes="toolbar"></toolbar>

  <div layout="column" layout-fill layout-align="center center">
    <div>
      <img src="/img/storm.logo.png" />
    </div>
    <div>
      <a href="#about">
        <md-button ui-sref="register" class="md-raised md-primary">
          شروع کنید
        </md-button>
      </a>
    </div>
  </div>
</div>
<aside class="callout" layout='row'></aside>

<section id="prices" class="pricing" layout="column">
  <h2 flex="10" style="text-align: center;">هزینه‌ها</h2>
  <div flex layout="row" layout-align="space-around center">
    <div flex="20" ng-repeat="price in home.prices">
      <div class="pricing-item">
        <header>
          <h3>{{price.name}}</h3>
          <h2>{{price.cost}} </h2>
        </header>
        <section class="pricing-body">
          <md-list>
            <md-list-item ng-repeat="feature in price.features">
              <p>
                {{feature}}
              </p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
              <p>
                <md-button class="md-raised">خرید</md-button>
              </p>
            </md-list-item>
          </md-list>
        </section>
      </div>
    </div>
  </div>
</section>

<section class="our-teams" layout="column">
  <h2 flex="10" style="text-align: center;">اعضای شرکت</h2>
  <div flex layout="row"  style="text-align: center;" layout-align="center start">
    <div flex="25">
      <img src="/img/persons/amin_sheikhi.jpg" class="md-avatar" alt="{{message.who}}">
      <p>
        امین
        <br>
        شیخی
      </p>
      <p>
        بنیانگذار و مدیر فنی
      </p>
      <p>
        <md-icon md-svg-src="/img/icons/linkedin.svg"></md-icon>
      </p>
    </div>
    <div flex="25">
      <img src="/img/persons/peyman_zohrevandi.jpg" class="md-avatar" alt="{{message.who}}">
      <p>
        پیمان
        <br>
        زهره‌وندی
      </p>
      <p>
        برنامه نویس و طراح رابط کاربری
      </p>
      <p>
        <md-icon md-svg-src="/img/icons/linkedin.svg"></md-icon>
      </p>
    </div>
    <div flex="25">
      <img src="/img/persons/sanaz_soleimani.jpg" class="md-avatar" alt="{{message.who}}">
      <p>
        ساناز
        <br>
        سلیمانی
      </p>
      <p>
        برنامه نویس و طراح تجربه کاربری
      </p>
      <p>
        <md-icon md-svg-src="/img/icons/linkedin.svg"></md-icon>
      </p>
    </div>
  </div>
</section>

<section id="protfolio" layout="row">
  <div flex="100" layout="row">
    <md-card class="card">
      <img class="" src="/img/journal-line.jpg">
    </md-card>
    <md-card class="card">
      <img class="" src="/img/journal-print.jpg">
    </md-card>
    <md-card class="card">
      <img class="" src="/img/general-ledger.jpg">
    </md-card>
  </div>
</section>

<section class="location">
  <iframe layout-fill frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.0817488200137!2d51.334408314829!3d35.724207980184296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzXCsDQzJzI3LjEiTiA1McKwMjAnMTEuOCJF!5e0!3m2!1sen!2sus!4v1484839910454"></iframe>
</section>

<section class="footer" layout="column" layout-align="center center">
  <h4>
    <strong>شرکت فراز رایانه کیهان</strong>
  </h4>
  <p style="text-align: center;">
    تهران، صادقیه، خیابان سازمان آب، نرسیده به چهارراه اشرفی اصفهانی،
      <br>
      خیابان صباح، خیابان کوهدشت، پلاک ۱۲، واحد پنجم غربی
  </p>
  <p>021-88292601<md-icon>phone</md-icon></p>
  <p><md-button href="mailto:info@storm-online.ir" class="md-primary">info@storm-online.ir <md-icon>email</md-icon></md-button></p>
  <!-- <div layout="row" layout-align="center center">
      <a href="#"><md-icon>facebook</md-icon></i></a>
      <a href="#"><md-icon>twitter</md-icon></i></a>
  </div> -->
</section>
