<div layout="column" layout-align="start" class="introduction" style="min-height:500px;">

  <md-toolbar>
    <toolbar></toolbar>
  </md-toolbar>

  <div layout="row" layout-margin layout-align="center center" >
    <div class="product-box"  flex="100" flex-gt-sm="30">
      <img ng-src="{{VM.product.logo}}" style="width: 100px;"/>
      <h3 class="md-headline">
        {{VM.product.name}}
      </h3>
      <p style="line-height:2;" ng-bind-html="VM.product.description">
      </p>
    </div>
  </div>
</div>

<!--<div layout="column" layout-fill layout-align="center center">
    <div flex=100 layout="row" layout layout-align="center center">
      <div layout-padding layout-wrap class="product-box" flex=40 style="margin-top: 3%;">
        <img ng-src="{{VM.product.logo}}" style="width: 100px;"/>
        <h3 class="md-headline">
          {{VM.product.name}}
        </h3>
        <p style="line-height:2;" ng-bind-html="VM.product.description">
        </p>
      </div>
    </div>
  </div>-->
</div>



<section id="prices" class="pricing" layout="column">
  <h2 flex="10" style="text-align: center;">قیمت‌های {{VM.product.title}}</h2>
  <div flex layout="row" layout-wrap layout-align="space-around center">
    <div flex="20" flex-sm="45" flex-xs="90" ng-repeat="price in VM.product.prices">
      <div class="pricing-item">
        <header>
          <h3>{{price.name}}</h3>
          <h2 class="md-headline">{{price.cost}} </h2>
        </header>
        <section class="pricing-body">
          <md-list>
            <md-list-item ng-repeat="feature in price.features">
              <p>
                {{feature}}
              </p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
              <p>
                <md-button class="md-raised md-primary">خرید</md-button>
              </p>
            </md-list-item>
          </md-list>
        </section>
      </div>
    </div>
  </div>
</section>
