<div layout="column" layout-align="start" class="introduction" style="min-height:500px;">

    <md-toolbar>
        <toolbar></toolbar>
    </md-toolbar>

    <div layout="row" layout-align="center center" layout-margin>
        <md-whiteframe class="md-whiteframe-8dp" flex="100" flex-gt-sm="30">
            <md-content class="md-padding" layout="column">
                <form name="form">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>نام</label>
                        <md-icon>person</md-icon>
                        <input name="name" type="name"
                               ng-model="vm.model.name" />

                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>ایمیل</label>
                        <md-icon>email</md-icon>
                        <input ng-required="true"
                               name="email"
                               type="email" ng-model="vm.model.email"
                               ng-model-options="{ updateOn: 'blur' }"/>

                        <div ng-messages="form.email.$error" ng-if="form.email.$dirty">
                            <div ng-message="required">وارد کردن ایمیل الزامیست.</div>
                            <div ng-message="email">لطفا یک ایمیل مجاز وارد کنید.</div>
                        </div>
                    </md-input-container>


                    <div ng-if="vm.result.isValid"
                         style="text-align: center; color:green;">
                       لینک دمو به ایمیلتان ارسال خواهد شد
                    </div>
                    <md-input-container class="md-block" flex-gt-sm style="text-align: center;">

                        <md-button ng-click="vm.send(form)" class="md-block md-raised md-primary">
                            <md-icon size="20">send</md-icon>
                            ارسال
                        </md-button>
                    </md-input-container>
                </form>
            </md-content>
        </md-whiteframe>
    </div>
</div>