<div style="padding: 10px">
    <hr/>
    <div class="pull-right">
        <span><%=: 'Creator' | translate %>:</span>
        <span><%=: user.name %></span>
    </div>
    <div class="pull-left">
        <%=: 'Page' | translate %>
        <span style="color: #444;">{{page}}</span>
        <%=: 'From' | translate %>
        <span>{{pages}}</span>
    </div>
</div>