<div style="text-align: center;">
    <h3><%=: 'Report organization title' | translate %></h3>
    <h4><%=: 'Report department title' | translate %></h4>
    <h5><%=: reportTitle %></h5>
    <hr style="color: black"/>
</div>
