<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=: 'Journal' | translate %></title>

    <%- include include..sti.css.ejs %>

</head>
<body>

</body>
</html>

<%- include in %>