<div class="modal-header">
    <button type="button" ng-click="model.close()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">{{'New People'| translate}}</h3>
</div>
<div class="modal-body k-rtl">
    <form name="form">
        <dev-tag-validation-summary errors="model.errors" class="col-md-8"></dev-tag-validation-summary>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputName" class="title1">{{'name'| translate}}</label>
                    <input type="text" class="form-control input-sm" id="inputName" ng-model="model.people.title"
                           name="title" required
                           aria-describedby="inputNamehelp">
                    <span class="help-block small">{{'person,company,...'| translate}}</span>
                    <div ng-messages="form.title.$error" ng-if="form.title.$dirty">
                        <label ng-message="required" class="error">{{'This field is required'|translate}}</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputName" class="title1">{{'Reference Code'| translate}}</label>
                    <input type="text" class="form-control input-sm" ng-model="model.people.referenceId"
                           name="title">
                    <span class="help-block small text text-success">{{'For communication with other systems'| translate}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for="inputName" class="title1">{{'Person Type'| translate}}</label>
                <div class="form-group">
                    <span ng-repeat="item in model.personType" style="margin-left: 10px">
                       <dev-tag-radio
                               ng-class="{'checked': item.key == model.people.personType}"

                               k-value="{{item.key}}"
                               ng-model="model.people.personType"></dev-tag-radio>
                               {{item.display}}
                    </span>
                </div>
            </div>
        </div>

        <div ng-if="model.people.personType === 'real'"
             ng-include="'partials/people/person.real.entry.template.html'"></div>

        <div ng-if="model.people.personType === 'legal'"
             ng-include="'partials/people/person.legal.entry.template.html'"></div>


        <div class="row">
            <uib-tabset active="active">
                <uib-tab index="0" heading="{{'Address'|translate}}">
                    <div style="padding: 20px"
                         ng-include="'partials/people/person.entry.address.template.html'"></div>
                </uib-tab>
                <uib-tab index="1" heading="{{'Contacts'|translate}}">
                    <div style="padding: 20px"
                         ng-include="'partials/people/person.entry.contacts.template.html'"></div>
                </uib-tab>
            </uib-tabset>
        </div>



    </form>
</div>
<div class="modal-footer">
    <dev-tag-button
            ng-click="model.save(form)"
            icon="glyphicon glyphicon-floppy-disk"
            ng-disabled="isSaving"
            is-waiting="isSaving"
            style-type="primary"
            title="{{'Save' | translate}}"></dev-tag-button>
</div>