<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="inputPhone" class="title1">{{'Phone'| translate}}</label>
            <input type="text" class="form-control input-sm" id="inputPhone" ng-model="model.people.phone">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="inputContactEmail" class="title1">{{'Email'| translate}}</label>
            <input type="email" class="form-control input-sm " id="inputContactEmail"
                   ng-model="model.people.email">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="inputPhone" class="title1">{{'Fax'| translate}}</label>
            <input type="text" class="form-control input-sm"  ng-model="model.people.fax">
        </div>
    </div>
</div>

<div class="row" >

    <ul class="list-group  clear-list m-t" >

        <li class="list-group-item"
            ng-repeat="item in model.people.contacts"
            ng-class="{'fist-item': $index == 0}">

            <div class="row">
                <div class="col-md-5">
                    <dev-tag-text-box
                            placeholder="{{'Phone'| translate}}"
                            ng-model="item.value"></dev-tag-text-box>
                </div>
                <div class="col-md-6">
                    <dev-tag-text-box
                            placeholder="{{'Description'| translate}}"
                            ng-model="item.description"></dev-tag-text-box>
                </div>
                <div class="col-md-1" style="vertical-align: middle">
                    <button
                            style="margin-left: 5px"
                            type="button"
                            ng-click="model.removeContact(item)"
                            class="close"
                            title="{{'Remove'| translate}}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

        </li>
    </ul>
</div>

<dev-tag-button
        ng-click="model.addContact()"
        icon="fa fa-plus fa-lg"
        style-type="primary btn-outline"
        title="{{'New Contact' | translate}}"></dev-tag-button>