<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label>{{'Province'| translate}}</label>
            <dev-tag-text-box name="province"
                              ng-model="model.people.province">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label>{{'City'| translate}}</label>
            <dev-tag-text-box name="city"
                              ng-model="model.people.city">
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-6">
        <label>{{'Address'| translate}}</label>
        <textarea class="form-control input-sm" rows="2" style="height: 100px"
                  ng-model="model.people.address"></textarea>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label>{{'Postal code'| translate}}</label>
            <dev-tag-text-box name="postalCode"
                              ng-model="model.people.postalCode">
        </div>
    </div>
</div>