<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="title1">{{'National identity'| translate}}</label>
            <dev-tag-text-box ng-model="model.people.nationalCode" name="nationalCode"></dev-tag-text-box>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="title1">{{'RegistrationNumber'| translate}}</label>
            <dev-tag-text-box ng-model="model.people.registrationNumber" name="registrationNumber"></dev-tag-text-box>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="title1">{{'Economic Code'| translate}}</label>
            <dev-tag-text-box ng-model="model.people.economicCode" name="economicCode"></dev-tag-text-box>
        </div>
    </div>
</div>