<div layout="column" style="margin-top: 40px" layout-align="start" layout-fill hide-xs>
    <section class="pricing" layout="column">
        <div flex layout="row" layout-wrap layout-align="space-around center">
            <div flex="20" flex-sm="45" flex-xs="90"
                 class="animated bounceInUp"
                 style="background-color: white"
                 ng-repeat="price in VM.pricelist">
                <div style="text-align: center;">
                    <header style="padding: 10px" md-colors="{background: '{{price.color}}'}">
                        <h4 style="margin: 0">{{price.name}}</h4>
                        <h6 class="md-title">{{price.cost}} </h6>
                    </header>
                    <section class="pricing-body">
                        <md-list>
                            <md-list-item ng-repeat="feature in price.features">
                                <p>
                                    {{feature}}
                                </p>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item>
                                <p>
                                    <md-button class="md-raised"
                                               ui-sref="order({plan:price.key})"
                                               ng-disabled="price.color == 'cyan' || price.color == 'blue'"
                                               md-colors="{background: '{{price.color}}'}">سفارش
                                    </md-button>
                                </p>
                            </md-list-item>
                        </md-list>
                    </section>
                </div>
            </div>
        </div>
    </section>
</div>

<div flex layout="row" layout-align="start" layout-fill hide-gt-xs>
    <div flex="25"></div>
    <section class="pricing flex-100">
        <div flex="70"
             layout-align="center center"
             class="animated bounceInUp"
             style="background-color: white;margin-top: 10px"
             ng-repeat="price in VM.pricelist">
            <div style="text-align: center;">
                <header style="padding: 10px" md-colors="{background: '{{price.color}}'}">
                    <h4 style="margin: 0">{{price.name}}</h4>
                    <h6>{{price.cost}} </h6>
                </header>
                <section class="pricing-body">
                    <md-list>
                        <md-list-item ng-repeat="feature in price.features">
                            <p>
                                {{feature}}
                            </p>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item>
                            <p>
                                <md-button class="md-raised"
                                           ng-disabled="price.color == 'cyan' || price.color == 'blue'"
                                           md-colors="{background: '{{price.color}}'}">سفارش
                                </md-button>
                            </p>
                        </md-list-item>
                    </md-list>
                </section>
            </div>
        </div>
    </section>
    <!--  <div flex="25"></div>-->
</div>
