<div layout="column" layout-align="start" class="introduction" style="min-height:500px;">

    <md-toolbar>
        <toolbar></toolbar>
    </md-toolbar>

    <div layout="row" layout-align="center center" layout-margin>
        <md-whiteframe class="md-whiteframe-8dp" flex="100" flex-gt-sm="30">
            <md-content class="md-padding" layout="column">
                <form name="form">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>نام</label>
                        <md-icon>person</md-icon>
                        <input ng-required="true" name="name" type="name" ng-model="vm.contactUsModel.name" />

                        <div ng-messages="form.name.$error" ng-if="form.name.$dirty">
                            <div ng-message="required">وارد کردن نام الزامیست</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>ایمیل</label>
                        <md-icon>email</md-icon>
                        <input ng-required="true" name="email"
                               type="email" ng-model="vm.contactUsModel.email"
                               ng-model-options="{ updateOn: 'blur' }"/>

                        <div ng-messages="form.email.$error" ng-if="form.email.$dirty">
                            <div ng-message="required">وارد کردن ایمیل الزامیست.</div>
                            <div ng-message="email">لطفا یک ایمیل مجاز وارد کنید.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>شماره تلفن</label>
                        <md-icon>phone</md-icon>
                        <input  name="phone" type="text" ng-model="vm.contactUsModel.phone" />
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>پیغام</label>
                        <md-icon>message</md-icon>
                        <textarea  name="message"
                                   type="text"
                                   style="height: 135px"
                                   required
                                   ng-model="vm.contactUsModel.message"></textarea>

                        <div ng-messages="form.message.$error" ng-if="form.message.$dirty">
                            <div ng-message="required">وارد کردن پیغام الزامیست</div>
                        </div>
                    </md-input-container>

                    <!--  <div ng-if="!vm.result.isValid" style="text-align: center; color:rgb(221,44,0);">
                         اشکال در ارسال پیغام ، لطفا بعدا پیغام بگذارید
                      </div>-->

                    <div ng-if="vm.result.isValid"
                         style="text-align: center; color:green;">
                        پیغام شما با موفقیت ثبت شد
                    </div>
                    <md-input-container class="md-block" flex-gt-sm style="text-align: center;">

                        <md-button ng-click="vm.send(form)" class="md-block md-raised md-primary">
                            <md-icon size="20">send</md-icon>
                            ارسال
                        </md-button>
                    </md-input-container>
                </form>
            </md-content>
        </md-whiteframe>
    </div>
</div>