@import "resources/mixins";
$so-origin-urls: (
  "dev": "http://localhost:2000",
  "sandbox": "http://admin-sandbox-storm-admin.abar.cloud",
  "production": "https://www.storm-online.ir"
);
$so-origin-url: map_get($so-origin-urls, "dev");
//Fontello src
@import "resources/storm-email-icons/animation";
@import "resources/storm-email-icons/storm-email-icons";
@import "resources/storm-email-icons/storm-email-icons-codes";
@import "resources/storm-email-icons/storm-email-icons-embedded";
@import "resources/storm-email-icons/storm-email-icons-ie7";
@import "resources/storm-email-icons/storm-email-icons-ie7-codes";

*, *::before, *::after{
  @include box-sizing(border-box);
  font-family: "Vazir", sans-serif, tahoma;
}

@mixin global-selection(){
  background-color: fade_out($color-yellow,0.25);
}
::selection{ @include global-selection(); }
::-moz-selection{ @include global-selection(); }

body{
  margin: 0 auto;
  width: 100%;
  //min-height: 100vh;
  direction: rtl;
}

// Main Variables
$color-status: (
  "warning": $color-yellow,
  "success": $color-green,
  "danger": $color-red,
  "primary": $color-blue
);

div.so-mail-header{
  display: block;
  position: relative;
  width: 100%;
  min-height: 200px;
  background-color: $color-too-dark-gray;
  overflow: hidden;
  border-top: 25px solid white;
  line-height: 100px;
  padding: 0 0 0 165px;
  &::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 125px;
    margin: 0 auto;
    padding: 0;
  }
  #storm-logo{
    display: block;
    position: absolute;
    width: 100px;
    height: auto;
    top: 10px;
    left: 75px;
  }
  h1{
    padding: 0 25px;
    color: white;
    font-size: 54px;
    vertical-align: middle;
  }
}
.so-mail-body{
  padding: 10px 10px;
}
.so-mail-footer{
  display: block;
  position: relative;
  width: 100%;
  height: 75px;
  color: white;
  background-color: $color-too-dark-gray;
  overflow: hidden;
  line-height: 80px;
  padding: 0;
  margin: 0;
  @include gradient("#{map_get($color-status, "primary")}, #{map_get($color-status, "primary")} 33%, #{$color-too-dark-gray} 33%, #{$color-too-dark-gray} 66%, #{darken(map_get($color-status, "primary"),5)} 66%, #{darken(map_get($color-status, "primary"),5)}", -45deg);
  @include bg-size(154px 75px);
  background-repeat: repeat-x;

  @each $name, $color in $color-status{
    &.so-#{$name}{
      @include gradient("#{$color}, #{$color} 33%, #{$color-too-dark-gray} 33%, #{$color-too-dark-gray} 66%, #{darken($color,5)} 66%, #{darken($color,5)}", -45deg);
    }
  }
}
.so-alert-box{
  display: block;
  position: relative;
  margin: 25px auto;
  padding: 25px;
  background-color: white;
  width: 360px;
  max-width: 100%;
  min-height: 200px;

  border-style: solid;
  border-color: map_get($color-status, "primary");
  border-width: 1px;

  @include border-radius(0.2rem);

  & > i.so-alert-icon{
    display: block;
    margin: 0 auto 25px auto;
    padding: 0;
    width: 67px;
    height: 67px;
    line-height: 67px;
    text-align: center;
    font-size: 18pt;
    @include border-radius(50%);
    color: white;
    background-color: map_get($color-status, "primary");
    border-width: 10px;
    border-style: solid;
    border-color: lighten(map_get($color-status, "primary"), 15);
    @include box-sizing(content-box);
  }

  & > p{ text-align: center; }

  @each $name, $color in $color-status{
    &.so-#{$name}{
      border-color: $color $color darken($color, 10) $color;
      border-bottom-width: 2px;
      & > i.so-alert-icon{
        background-color: $color;
        border-color: lighten($color, 15);
      }
    }
  }

}

.so-panel{
  display: block;
  width: 600px;
  max-width: 100%;
  min-height: 50px;
  padding: 20px;
  margin: 25px auto;
  line-height: 32px;
  color: $color-black;
  background-color: lighten(map_get($color-status, "primary"), 25);
  & > i.so-panel-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: lighten(map_get($color-status, "primary"), 15);
  }
  @each $name, $color in $color-status{
    &.so-#{$name}{
      background-color: lighten($color, 25);
      & > i.so-panel-icon{
        background-color: lighten($color, 15);
      }
    }
  }
}

// Text/Background colors
@each $name, $color in $color-status{
  .so-fg-#{$name}{ color: $color; }
  .so-bg-#{$name}{ background-color: $color; }
}



$propNames: (
  "align-left": "text-align",
  "align-right": "text-align",
  "align-center": "text-align",
  "dir-rtl": "direction",
  "dir-ltr": "direction",
  "disp-block": "display"
);
$propValues: (
  "align-left": "left",
  "align-right": "right",
  "align-center": "center",
  "dir-rtl": "rtl",
  "dir-ltr": "ltr",
  "disp-block": "block"
);

// Make Property Classes
@each $className, $cssPropName in $propNames {
  .so-#{$className}{
    #{$cssPropName}: #{map_get($propValues, $className)};
  }
}