.progress-line, .progress-line:before {
  height: 3px;
  width: 100%;
  margin: 0;
}
.progress-line {
  background-color: #f6f5f7;
  display: -webkit-flex;
  display: flex;
}
.progress-line:before {
  background-color: $primary-color;
  content: '';
  -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@-webkit-keyframes running-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 25%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}
@keyframes running-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 25%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}

.start-waiting-block {
  background-position: 48% 0;
  display: block;
  height: 64px;
  left: 50%;
  line-height: 1;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 18%;
  transform: translateX(-50%) translateY(-50%);
  width: 200px;
  z-index: 1000;
}

.start-waiting-block-accountant {
  background-position: 48% 0;
  display: block;
  height: 64px;
  left: 50%;
  line-height: 1;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transform: translateX(-50%) translateY(-50%);
  width: 200px;
  z-index: 1000;
}