body{
  $btn-container-size: 34px;
  $btn-bars-container-width: floor($btn-container-size * 75 / 100);
  $btn-bars-container-height: $btn-bars-container-width - ceil($btn-bars-container-width * 25 / 100);
  $btn-bars-height: ceil($btn-bars-container-height * 10 / 100);

  .so-menu-btn{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: $btn-container-size;
    height: $btn-container-size;
    line-height: $btn-container-size;
    margin: 0;
    padding: 0;
    @include border-radius();
    text-align: center;
    background-color: $color-cyan-green;
    & > div{
      display: inline-block;
      vertical-align: middle;
      position: relative;
      width: $btn-bars-container-width;
      height: $btn-bars-container-height;
      margin: 0;
      padding: 0;
      .so-menu-btn-bars{
        display: block;
        position: absolute;
        width: 100%;
        height: $btn-bars-height;
        background-color: white;
        margin: 0;
        padding: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        $trans-dur: 500ms;
        $trans-time-fn: ease;
        @include trans(#{"top #{$trans-time-fn} #{$trans-dur}, bottom #{$trans-time-fn} #{$trans-dur}, right #{$trans-time-fn} #{$trans-dur}, left #{$trans-time-fn} #{$trans-dur}, transform #{$trans-time-fn} #{$trans-dur}, width #{$trans-time-fn} #{$trans-dur}"});
        -webkit-transform-origin: center center;
        -moz-transform-origin: center center;
        -ms-transform-origin: center center;
        -o-transform-origin: center center;
        transform-origin: center center;
        &:nth-of-type(1){
          top: 0;
        }
        &:nth-of-type(2){
          top: ceil($btn-bars-container-height / 2) - ceil($btn-bars-height / 2);
        }
        &:nth-of-type(3){
          top: $btn-bars-container-height - $btn-bars-height;
        }
      }
    }
  }

  .so-menu-btn.so-menu-btn-active{
    & > div{
      .so-menu-btn-bars{
        &:nth-of-type(1){
          top: ceil($btn-bars-container-height / 4) - ceil($btn-bars-height / 2);
          width: ceil($btn-bars-container-width / 2);
          left: ceil($btn-bars-container-width / 2);
          right: auto;
          @include transform(rotate(45deg));
        }
        &:nth-of-type(2){
          top: ceil($btn-bars-container-height / 2) - ceil($btn-bars-height / 2);
          left: 100%;
          width: 0;
        }
        &:nth-of-type(3){
          top: ceil($btn-bars-container-height / 2) + ($btn-bars-container-height / 4);
          width: ceil($btn-bars-container-width / 2);
          left: ceil($btn-bars-container-width / 2);
          right: auto;
          @include transform(rotate(-45deg));
        }
      }
    }
  }
}