<header id="top" class="header">
  <div class="container">
    <div class="row">
      <div class="login-row col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Register</h3>
          </div>
          <div class="panel-body">
            <form accept-charset="UTF-8" role="form" name="form" novalidate>
              <fieldset>
                <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && form.name.$dirty }">
                  <label> Name</label>
                  <input class="form-control" ng-minlength="5" required ng-model="AuthVM.user.name" placeholder="Your Name" name="name" type="email">

                  <div ng-messages="form.name.$error" ng-if="form.name.$dirty">
                    <label ng-message="required" class="help-block">
                      Name is required.
                    </label>
                  </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : form.email.$invalid && form.email.$dirty }">
                  <label> Email</label>
                  <input class="form-control" ng-minlength="5" required ng-model="AuthVM.user.email" placeholder="storm@storm.com" name="email" type="email">

                  <div ng-messages="form.email.$error" ng-if="form.email.$dirty">
                    <label ng-message="email" class="help-block">
                      Please enter valid email.
                    </label>
                    <label ng-message="required" class="help-block">
                      Email is required.
                    </label>
                  </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : form.password.$invalid && form.password.$dirty }">
                  <label> Password</label>
                  <input class="form-control" placeholder="Password" ng-model="AuthVM.user.password" name="password" type="password" required>

                  <div ng-messages="form.password.$error" ng-if="form.password.$dirty">
                    <label ng-message="required" class="help-block">
                      Password is required.
                    </label>
                  </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : form.password_confirm.$invalid && form.password_confirm.$dirty }">
                  <label>Confirm Password</label>
                  <input
                    class="form-control" placeholder="Password" ng-pattern="Auth.user.password"
                    ng-model="AuthVM.password_confirm" name="password_confirm"
                    type="password" required>

                  <div ng-messages="form.password_confirm.$error" ng-if="form.password_confirm.$dirty">
                    <label ng-message="pattern" class="help-block">
                      The passwords do not match.
                    </label>
                    <label ng-message="required" class="help-block">
                      Confirm Password is required.
                    </label>
                  </div>
                </div>
                <!-- <div class="checkbox">
                  <label>
                    بیاد بسپارید
                    <input name="remember" type="checkbox" value="Remember Me">
                  </label>
                </div> -->
                <input class="btn btn-lg btn-primary btn-block" ng-click="AuthVM.register(form)" type="submit" value="register">
              </fieldset>
            </form>
            <hr/>
            <center>
              <h4>Or</h4>
            </center>
            <a class="btn btn-block btn-lg btn-social btn-google-plus">
              <i class="fa fa-google-plus"></i> Sing-in with Gmail
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
