<div layout="column"  layout-align="start" layout-fill class="introduction">

  <md-toolbar>
    <toolbar></toolbar>
  </md-toolbar>

  <div layout="row" layout-align="center center" layout-margin>
    <md-whiteframe class="md-whiteframe-8dp" flex="100" flex-gt-sm="30">
      <md-toolbar>
        <h2 class="md-toolbar-tools">
          <span> ثبت‌نام </span>
        </h2>
      </md-toolbar>
      <md-content class="md-padding" layout="column">
        <form name="registerForm">
          <md-input-container class="md-block" flex-gt-sm>
            <label>نام</label>
            <md-icon>person</md-icon>
            <input ng-required="true" name="name" type="name" ng-model="registerVM.user.name" />

            <div ng-messages="registerForm.name.$error" ng-if="registerForm.name.$dirty">
              <div ng-message="required">وارد کردن نام الزامیست</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>معرف</label>
            <md-icon>person</md-icon>
            <input ng-required="false" name="inviter" type="name" ng-model="registerVM.user.inviter" />

            <div class="hint">ایمیل شخصی که ما را به شما معرفی کرده </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>ایمیل</label>
            <md-icon>email</md-icon>
            <input ng-required="true" name="email"
              type="email" ng-model="registerVM.user.email"
              ng-model-options="{ updateOn: 'blur' }"
              ng-change="registerVM.check(registerForm)"/>
            <div ng-messages="registerForm.email.$error" ng-if="registerForm.email.$dirty">
              <div ng-message="required">وارد کردن ایمیل الزامیست.</div>
              <div ng-message="email">لطفا یک ایمیل مجاز وارد کنید.</div>
              <div ng-message="check">این ایمیل قبلا در سیستم ثبت شده است.</div>
            </div>
          </md-input-container>
          <!--<md-input-container class="md-block" flex-gt-sm>
            <label>شماره تلفن</label>
            <md-icon>phone</md-icon>
            <input ng-required="true" name="phone" type="text" ng-model="registerVM.user.phone" />
            <div ng-messages="registerForm.phone.$error" ng-if="registerForm.phone.$dirty">
              <div ng-message="required">وارد کردن شماره تلفن الزامیست</div>
            </div>
          </md-input-container>-->
          <md-input-container class="md-block" flex-gt-sm>
            <label>کلمه‌عبور</label>
            <md-icon>lock</md-icon>
            <input ng-required="true" name="password" type="password" ng-model="registerVM.user.password" />
            <div ng-messages="registerForm.password.$error" ng-if="registerForm.password.$dirty">
              <div ng-message="required">وارد کردن کلمه‌عبور الزامیست.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>تکرار کلمه‌عبور</label>
            <md-icon>lock</md-icon>
            <input ng-required="true" name="confirm_password" type="password" ng-model="registerVM.user.confirm_password" />
            <div ng-messages="registerForm.confirm_password.$error" ng-if="registerForm.confirm_password.$dirty">
              <div ng-message="required">وارد کردن تکرار کلمه‌عبور الزامیست.</div>
              <div ng-message="match">تکرار کلمه‌عبور صحیح نیست.</div>
            </div>
          </md-input-container>
         <!-- <md-input-container md-no-float class="md-block" flex-gt-sm>
            <md-icon>image</md-icon>
            <input ng-required="false" placeholder="عکس" name="picture" type="file" ng-model="registerVM.user.picture" />
          </md-input-container>-->
          <div ng-if="registerVM.isError" style="text-align: center; color:rgb(221,44,0);">
            ثبت‌نام با موفقیت انجام نشد!
          </div>
          <md-input-container class="md-block" flex-gt-sm style="text-align: center;">
            <md-button ng-click="registerVM.register(registerForm)" class="md-block md-raised md-primary">ثبت‌نام</md-button>
          </md-input-container>
          <!--<md-input-container class="md-block" flex-gt-sm style="text-align: center;">
            <p> یا </p>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm style="text-align: center;">
            &lt;!&ndash; <md-card>
              <img class="md-card-image" src="/img/btn_google_signin.png" alt="image caption">
            </md-card> &ndash;&gt;
            <md-button style="background-color: #D34836;color: white;padding: 5px;" class="md-raised md-warn md-hue-4 md-block">
              Login with Google
              <md-icon md-svg-src="/img/icons/google-plus.svg" style="padding: 0 15px;"></md-icon>
            </md-button>
          </md-input-container>-->
        </form>
      </md-content>
    </md-whiteframe>
  </div>

</div>
