<div class="modal-header">
    <button type="button" ng-click="model.close()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title" ng-if="!model.id">{{'New Detail account category'| translate}}</h3>
    <h3 class="modal-title" ng-if="model.id">{{'Edit Detail account category'| translate}}</h3>
</div>
<div class="modal-body">

    <!--<dev-tag-validation-summary errors="model.errors"></dev-tag-validation-summary>-->

    <form name="form">

        <div class="form-group">
            <label class="label-control">{{'Title' | translate}}</label>
            <dev-tag-text-box
                    required ng-model="model.detailAccountCategory.title"
                    name="title"></dev-tag-text-box>

            <div ng-messages="form.title.$error" ng-if="form.title.$dirty">
                <label ng-message="required" class="error">{{'This field is required'|translate}}</label>
            </div>
        </div>

        <div class="form-group">
            <label class="label-control">{{'Subsidiary ledger account' | translate}}</label>
            <ul class="list-group  clear-list m-t" >
                <li class="list-group-item " ng-repeat="item in model.detailAccountCategory.subsidiaryLedgerAccounts">
                    <div class="row">
                        <div class="col-md-11" >
                            {{item.display}}
                        </div>
                        <div class="col-md-1" style="font-size: 20px;margin-top: 7px;text-align: left;">
                            <button type="button" ng-click="model.removeSubsidiaryLedgerAccount(item)" class="close" title="حذف">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </li>
                <li class="list-group-item ">
                    <dev-tag-combo-box
                            name="subsidiaryLedgerAccountIds"
                            ng-model="model.subsidiaryLedgerAccount"
                            k-on-changed="model.onSubsidiaryLedgerAccountChanged($item)"
                            k-data-text-field="display"
                            k-data-value-field="id"
                            url="{{model.getAllSubsidiaryLedgerAccountUrl}}"></dev-tag-combo-box>

                    {{model.subsidiaryLedgerAccount.display}}
                </li>
            </ul>
        </div>

    </form>
</div>
<div class="modal-footer">
    <dev-tag-button
            ng-click="model.save(form)"
            icon="fa fa-floppy-o fa-lg"
            ng-disabled="model.isSaving"
            is-waiting="model.isSaving"
            style-type="primary"
            title="{{'Save' | translate}}"></dev-tag-button>
</div>