/* form starting stylings ------------------------------- */
.so-material_input{
  position: relative;
  margin-bottom: 45px;

  /* INPUT ======================================= */
  & > input{
    display: block;
    position: relative;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
    background-color: transparent;
    &:focus{ outline: none }

    /* active state */
    &.so-active ~ label{
      top: -20px;
      font-size: 16px;
    }
    &:focus ~ label{ color: #5264AE; }

    /* active state */
    &:focus ~ span::before,
    &:focus ~ span::after { width: 50% }

    &:not(:valid){

      color: $color-red !important;
      & ~ label{
        color: $color-red !important;
      }
      & ~ span::after,
      & ~ span::before{
        background-color: $color-red !important;
      }
      &:focus{
        color: $color-white-yellow !important;
        & ~ label{
          color: $color-white-yellow !important;
        }
        & ~ span::after,
        & ~ span::before{
          background-color: $color-white-yellow !important;
        }
      }

    }

  }

  /* LABEL ======================================= */
  & > label{
    display: block;
    @include no-user-select();
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    direction: ltr;
    left: 5px;
    top: 10px;
    $trans-sec: 0.2s;
    @include transition(#{"top ease #{$trans-sec}, font-size ease #{$trans-sec}, color ease #{$trans-sec}"});
    &.so-dir-rtl{
      right: 5px;
      left: auto;
    }
  }

  /* BOTTOM BARS ================================= */
  & > span {
    position: relative;
    display: block;
    @include no-user-select();
    width: 100%;
    &::before,
    &::after{
      content: ' ';
      display: block;
      position: absolute;
      height: 2px;
      width: 0;
      bottom: 0;
      background: #5264AE;
      $trans-sec: 0.2s;
      @include transition(#{"right ease #{$trans-sec}, left ease #{$trans-sec}, width ease #{$trans-sec}"});
    }
    &::before{ left: 50% }
    &::after{ right: 50% }
  }

  @each $color, $value in $color-map{
    &.so-blur_#{$color}{
      & > input{
        color: $value;
        border-bottom-color: $value;
      }
      & > label{
        color: $value;
      }
    }
    &.so-focus_#{$color}{
      & > input:focus{
        color: $value;
        & ~ label{
          color: $value;
        }
        & ~ span::before,
        & ~ span::after{
          background-color: $value;
        }
      }
      & > span::before,
      & > span::after{
        background: $value;
      }
    }
  }

}
