<div class="modal-header">
    <button type="button" ng-click="model.close()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">
        {{'Pass cheque'| translate}}
    </h3>
</div>
<div class="modal-body k-rtl">

    <form name="form" class="form-horizontal">
        <div class="row">
            <dev-tag-validation-summary errors="model.errors"></dev-tag-validation-summary>
        </div>

        <div class="form-group">
            <label class="label-control">{{'Passed date' | translate}}</label>

            <dev-tag-datepicker
                    ng-model="model.passedModel.date"
                    name="date"></dev-tag-datepicker>
        </div>
    </form>

</div>
<div class="modal-footer">
    <dev-tag-button
            ng-click="model.save(form)"
            icon="glyphicon glyphicon-floppy-disk"
            ng-disabled="model.isSaving"
            is-waiting="model.isSaving"
            style-type="primary"
            title="{{'Save' | translate}}"></dev-tag-button>
</div>
