<dev-tag-guide>
    <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
عملیات وصول/ عودت چک های پرداخت شده در این فرم انجام می شود که با انتخاب چک موردنظر و انتخاب عملیات وصول و یا عودت چک، سند وصول/ عودت آن بصورت خودکار صادر می شود.
</dev-tag-guide>
<dev-tag-content dev-Attr-title="{{'Payable cheques'| translate}}" class="col-md-9">


    <dev-tag-button
            ng-disabled="!(model.selectedCheque && model.selectedCheque.chequeStatus == 'normal')"
            ng-click="model.passCheque()"
            title="{{'Pass cheque'| translate}}"
            style-type="primary"></dev-tag-button>

    <dev-tag-button
            ng-disabled="!(model.selectedCheque && model.selectedCheque.chequeStatus == 'normal')"
            ng-click="model.returnCheque()"
            title="{{'Return cheque'| translate}}"
            style-type="danger"></dev-tag-button>
    <dev-tag-grid
            option="model.gridOption"
            on-current-changed="model.onSelectCheque(current)"></dev-tag-grid>

</dev-tag-content>