<div class="modal-header">
    <button type="button" ng-click="model.close()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">
        {{'Return cheque'| translate}}
    </h3>
</div>
<div class="modal-body k-rtl">
    <form name="form" class="form-horizontal">
        <dev-tag-validation-summary
                errors="model.errors"></dev-tag-validation-summary>

        <div class="from-group">
            <label class="label-control">{{'Date' | translate}}</label>

            <dev-tag-datepicker
                    ng-model="model.returnModel.date"
                    name="date"
                    required></dev-tag-datepicker>

            <div ng-messages="form.date.$error" ng-if="form.date.$dirty">
                <label ng-message="required" class="error">
                    {{'This field is required'|translate}}</label>
            </div>
        </div>
    </form>

</div>
<div class="modal-footer">
    <dev-tag-button
            ng-click="model.save(form)"
            icon="glyphicon glyphicon-floppy-disk"
            ng-disabled="model.isSaving"
            is-waiting="model.isSaving"
            style-type="primary"
            title="{{'Save' | translate}}"></dev-tag-button>
</div>
