
<div class="row ">
    <dev-tag-guide>
        <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i><br/>
        <ul>
            <li>
               در این بخش اتصال حسابهای معین به عملیات، جهت صدور اسناد خودکار انجام می شود.
            </li>
            <li>
              نکته: درصورت تغییر حسابهای معین در سرفصل حسابها، تنظیمات زیر باید براساس عملیات مورد نظر اصلاح گردند تا صدور اسناد خودکار بدرستی انجام شود.
            </li>
        </ul>
    </dev-tag-guide>
    <dev-tag-button
                            ng-click="model.save(form)"
                            icon="glyphicon glyphicon-floppy-disk"
                            ng-disabled="model.isSaving"
                            is-waiting="model.isSaving"
                            style-type="primary"
                            title="{{'Save' | translate}}"
                            ng-disabled="form.$invalid">
    </dev-tag-button>
    <ul class="list-group  clear-list m-t" >

        <li class="list-group-item"
            ng-repeat="item in model.subsidiaryLedgerAccounts"
            ng-class="{'fist-item': $index == 0}">

            <div class="row">
                <div class="col-md-4">{{item.display}}</div>
                <div class="col-md-8">
                    <dev-tag-combo-box
                            name="subsidiaryLedgerAccountId"
                            k-placeholder="{{'Select ...'|translate}}"
                            k-data-value-field="id"
                            k-data-text-field="account"
                            url="{{model.urls.getAllAccounts}}"
                            k-on-changed="model.onSubsidiaryLedgerAccountChanged($item, item, form['form-'+$index])"
                            k-on-bound="model.onSubsidiaryLedgerAccountChanged($item, item, form['form-'+$index])"
                            group-by="generalLedgerAccountDisplay"
                            ng-model="item.id"
                            ></dev-tag-combo-box>
                </div>
            </div>

        </li>
    </ul>
</div>