<div class="row">

    <dev-tag-guide>
        <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i><br/>
        <ul>
            <li>
                کنترل موجودی کالا: جهت افزایش موجودی کالا با ثبت رسید انبار و کاهش موجودی با ثبت حواله انبار این گزینه انتخاب شود.
            </li>
            <li>
                روش صدور حواله برای فاکتور فروش : جهت صدور حواله اتوماتیک، انبار پیش فرض تعیین شود.
            </li>
        </ul>
    </dev-tag-guide>
    <dev-tag-button
            ng-click="model.save(form)"
            icon="glyphicon glyphicon-floppy-disk"
            ng-disabled="model.isSaving"
            is-waiting="model.isSaving"
            style-type="primary"
            title="{{'Save' | translate}}"
            ng-disabled="form.$invalid">
    </dev-tag-button>
    <dev-tag-check-box ng-model="model.settings.canControlInventory">
        کنترل موجودی کالا انجام شود ؟
    </dev-tag-check-box>

    <dev-tag-check-box  ng-model="model.settings.canCreateSaleOnNoEnoughInventory"
                        ng-disabled="!model.settings.canControlInventory">
        در زمان نبود موجودی کافی فاکتور فروش  صادر شود ؟
    </dev-tag-check-box>

    <dev-tag-check-box ng-model="model.settings.canSaleGenerateAutomaticJournal">
        صدور سند حسابداری اتوماتیک برای فاکتور فروش ؟
    </dev-tag-check-box>

    <div class="row" style="">
        <div class="col-md-6" style="padding-right: 50px">
            <label>روش صدور حواله برای فاکتور فروش :</label>
            <div ng-repeat="item in model.productOutputCreationMethods" class="row">
                <dev-tag-radio
                        class="col-md-1"
                        ng-class="{'checked': item.key == model.settings.productOutputCreationMethod}"

                        k-value="{{item.key}}"
                        ng-model="model.settings.productOutputCreationMethod"></dev-tag-radio>
                <div class="col-md-5">{{item.display}}</div>

                <dev-tag-combo-box
                        ng-if="model.settings.productOutputCreationMethod === 'defaultStock' && item.key === 'defaultStock'"
                        class="col-md-6"
                        name="stockId"
                        k-placeholder="{{'Select stock'|translate}}"
                        k-data-value-field="id"
                        k-data-text-field="title"
                        ng-model="model.settings.stockId"
                        url="{{model.urls.getAllStocks}}"
                        required></dev-tag-combo-box>
            </div>
        </div>
    </div>
</div>