<div class="row">
    <dev-tag-guide>
        <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i><br/>
        <ul>
            <li>
              برای اعمال دسترسی به کاربر جدید آدرس ایمیل آن را در این بخش ثبت نمایید.
            </li>
        <br/>
            <li>
نکته1: کاربر جدید باید در سایت استورم حساب کاربری ایجاد نماید.
            </li>
            <li>
                نکته2: دقت نمایید که کاربر جدید فقط حساب کاربری ایجاد نماید و نیازی به ایجاد کسب و کار نیست.
            </li>
        </ul>
    </dev-tag-guide>

    <form name="changeUsersInBranchForm" novalidate >
        <div class="row" >
            <div class="col-" ></div>
        </div>
        <div class="row" >
            <div class="col-md-12" >
                <div>
                    <dev-tag-validation-summary
                            errors="model.changeUsersInBranchData.errors" ></dev-tag-validation-summary>
                </div>
                <div class="row" >
                    <div class="col-md-9" >
                        <label class="label-control" >ایمیل</label>
                        <dev-tag-email-box
                                name="newUserEmail"
                                ng-model="model.changeUsersInBranchData.newUserEmail"
                                required
                                id="changeUsersInBranchForm-email"
                                style="direction: ltr !important;" ></dev-tag-email-box>
                        <div ng-messages="changeUsersInBranchForm.newUserEmail.$error" ng-if="changeUsersInBranchForm.email.$dirty">
                            <div ng-message="required" class="text-danger">وارد کردن ایمیل الزامیست</div>
                            <div ng-message="email" class="text-danger">یک ایمیل مجاز وارد کنید</div>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding-top: 23px;text-align: center" >
                        <dev-tag-button
                                ng-click="model.addUserToBranch(changeUsersInBranchForm)"
                                icon="glyphicon glyphicon-plus"
                                ng-disabled="model.isSaving"
                                is-waiting="model.isSaving"
                                style-type="primary"
                                title="{{'Add' | translate}}" ></dev-tag-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-12" >
                <dev-tag-grid option="model.branchMembersGridOption"></dev-tag-grid>
            </div>
        </div>
    </form>
</div>