<div class="row">
    <dev-tag-guide>
        <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i><br/>
        <ul>
            <li>
               نرخ ارزش افزوده: تعیین پیشفرض درصد ارزش افزوده به ازای هر فاکتور فروش
            </li>
            <li>
               هزینه های فروش: تعیین پیشفرض هزینه ها به ازای هر فاکتور فروش
            </li>
        </ul>
    </dev-tag-guide>
    <dev-tag-button
            ng-click="model.save(form)"
            icon="glyphicon glyphicon-floppy-disk"
            ng-disabled="model.isSaving"
            is-waiting="model.isSaving"
            style-type="primary"
            title="{{'Save' | translate}}"
            ng-disabled="form.$invalid">
    </dev-tag-button>
    <br/><br/>

    <dev-tag-content-body>
        <div class="form-group col-md-3">
            <label class="label-control">توضیحات پیش فرض</label>
            <textarea class="form-control"
                      rows="10"
                      style="width: 700px;"
                      ng-model="model.settings.invoiceDescription"></textarea>

            </div>
        </div>
    </dev-tag-content-body>

    <dev-tag-content-body>
        <div class="form-group col-md-3">
            <label class="label-control">نرخ ارزش افزوده</label>
            <dev-tag-numeric
                    required
                    not-zero
                    name="vat"
                    ng-model="model.settings.vat"></dev-tag-numeric>

            <div ng-messages="form.vat.$error" ng-if="form.vat.$dirty">
                <label ng-message="required" class="error">{{'This field is required'|translate}}</label>
                <label ng-message="notZero" class="error">{{'This field should have a value not equal tozero'|translate}}</label>
            </div>
        </div>
    </dev-tag-content-body>

</div>
<dev-tag-content-body>
    <div class="row">
        <div class="col-md-7 ">
            <label style="display: block">هزینه های فروش</label>
            <dev-tag-button style-type="primary btn-outline"
                            style="margin-top: 30px"
                            title="{{'New row' | translate}}"
                            ng-click="model.addSaleCost()"></dev-tag-button>

            <ul class="list-group  clear-list m-t" ng-if="model.settings.saleCosts && model.settings.saleCosts.length" >

                <li class="list-group-item fist-item">
                    <div class="row">
                        <div class="col-md-10">
                            عنوان هزینه
                        </div>
                    </div>
                </li>
                <li class="list-group-item"
                    ng-repeat="item in model.settings.saleCosts">

                    <div class="row">

                        <div class="col-md-9">
                            <dev-tag-text-box ng-model="item.display"
                                              name="display"></dev-tag-text-box>
                        </div>


                        <div class="col-md-2"
                             style="vertical-align: middle">
                            <button
                                    style="margin-left: 5px"
                                    type="button"
                                    ng-click="model.removeSaleCost(item)"
                                    class="close"
                                    title="{{'Remove'| translate}}">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                </li>
            </ul>

        </div>
    </div>
</dev-tag-content-body>

