<form name="form" novalidate>
    <dev-tag-content dev-attr-title="{{'Settings'|translate}}">
        <div class="row">
            <div class="col-"></div>
        </div>
        <dev-tag-button
                ng-click="model.save(form)"
                icon="glyphicon glyphicon-floppy-disk"
                ng-disabled="model.isSaving"
                is-waiting="model.isSaving"
                style-type="primary"
                title="{{'Save' | translate}}"
                ng-disabled="form.$invalid"></dev-tag-button>

        <div class="row" style="margin-top: 50px">
            <div class="form-group col-md-3">
                <label class="label-control">نرخ ارزش افزوده</label>
                <dev-tag-numeric
                        required
                        not-zero
                        name="vat"
                        ng-model="model.settings.vat"></dev-tag-numeric>

                <div ng-messages="form.vat.$error" ng-if="form.vat.$dirty">
                    <label ng-message="required" class="error">{{'This field is required'|translate}}</label>
                    <label ng-message="notZero" class="error">{{'This field should have a value not equal tozero'|translate}}</label>
                </div>
            </div>

            <div class="form-group col-md-3">
                <label class="label-control">بانک</label>
                <dev-tag-combo-box
                        name="bankId"
                        k-placeholder="{{'Select ...'|translate}}"
                        k-data-value-field="id"
                        k-data-text-field="title"
                        ng-model="model.settings.bankId"
                        url="{{model.urls.getAllBanks}}"></dev-tag-combo-box>
            </div>
        </div>

    </dev-tag-content>
</form>
