<form name="form" novalidate style="direction: ltr;">
    <div class="modal-header">
        <button type="button" ng-click="model.close()" class="close" data-dismiss="modal" aria-label="Close" style="float: right">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">Webhook entry</h3>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label>Title</label>
            <dev-tag-text-box
                    class="form-control"
                    required
                    minlength="3"
                    name="title"
                    ng-model="model.config.title"></dev-tag-text-box>

            <div ng-messages="form.title.$error" ng-if="form.title.$dirty">
                <label ng-message="required" class="error">This field is required</label>
                <label ng-message="minlength" class="error">This field should at least 3 characters</label>
            </div>
        </div>

        <div class="form-group">
            <label for="event">Event</label>
            <select ng-model="model.config.event"
                    name="event"
                    id="event"
                    ng-options="p.key as p.display for p in model.events"
                    ng-change="model.onEventChanged(model.config.event)"
                    class="form-control"
                    required>
            </select>

            <div ng-messages="form.event.$error" ng-if="form.event.$dirty">
                <label ng-message="required" class="error">This field is required</label>
            </div>
        </div>

        <div class="form-group">
            <label class="label-control">URL</label>
            <dev-tag-text-box
                    class="form-control"
                    required
                    minlength="3"
                    name="url"
                    ng-model="model.config.url"></dev-tag-text-box>

            <div ng-messages="form.url.$error" ng-if="form.url.$dirty">
                <label ng-message="required" class="error">This field is required</label>
                <label ng-message="minlength" class="error">This field should at least 3 characters</label>
            </div>
        </div>

        <div class="form-group">
            <label class="label-control">Method</label>

            <div>
                    <span  ng-repeat="item in model.methods" style="margin-left: 10px">
                       <dev-tag-radio
                               ng-class="{'checked': item == model.config.method}"

                               k-value="{{item}}"
                               ng-model="model.config.method"></dev-tag-radio>
                               {{item}}
                    </span>
            </div>

        </div>

        <dev-tag-content-body>
            <div class="form-group">
                <label class="label-control">Headers</label>

                <ul class="list-group  clear-list m-t" >

                    <li class="list-group-item fist-item">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-6">Value</div>
                            <div class="col-md-5">Key</div>
                        </div>
                    </li>
                    <li class="list-group-item"
                        name="form-{{$index}}"
                        ng-form
                        ng-repeat="item in model.config.headers">

                        <div class="row">

                            <div class="col-md-1"
                                 style="vertical-align: middle">
                                <button
                                        style="margin-right: 5px"
                                        type="button"
                                        ng-click="model.removeHeader(item)"
                                        class="close"
                                        title="Remove">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="col-md-6">
                                <dev-tag-text-box ng-model="item.value"
                                                  name="value"
                                                  required></dev-tag-text-box>

                                <div ng-messages="form['form-'+ $index].value.$error"
                                     ng-if="form['form-'+ $index].value.$dirty">
                                    <label ng-message="required" class="error">This field is required</label>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <dev-tag-text-box ng-model="item.key"
                                                  name="key"
                                                  required></dev-tag-text-box>

                                <div ng-messages="form['form-'+ $index].key.$error"
                                     ng-if="form['form-'+ $index].key.$dirty">
                                    <label ng-message="required" class="error">This field is required</label>
                                </div>
                            </div>

                        </div>

                    </li>
                </ul>

                <i class="text-navy pointer fa fa-plus fa-lg"
                   ng-click="model.addHeader()"></i>

            </div>
        </dev-tag-content-body>

        <dev-tag-content-body >
            <div class="form-group">
                <label class="label-control">Parameters</label>

                <ul class="list-group  clear-list m-t" >

                    <li class="list-group-item fist-item">
                        <div class="row">
                            <div class="col-md-5">Target property name</div>
                            <div class="col-md-5">Source property name</div>
                            <div class="col-md-2">Is included ?</div>
                        </div>
                    </li>
                    <li class="list-group-item"
                        ng-repeat="item in model.config.mapper">

                        <div class="row">

                            <div class="col-md-5">
                                <dev-tag-text-box ng-model="item.targetProperty"
                                                  name="targetProperty"></dev-tag-text-box>
                            </div>

                            <div class="col-md-5">
                                {{item.sourcePropertyDisplay}}
                            </div>

                            <div class="col-md-2">
                                <dev-tag-check-box ng-model="item.isIncluded"></dev-tag-check-box>
                            </div>

                        </div>

                    </li>
                </ul>


            </div>
        </dev-tag-content-body>

    </div>
    <div class="modal-footer" style="text-align: right">
        <dev-tag-button
                style="float: right"
                ng-click="model.confirm(form)"
                icon="fa fa-check fa-lg"
                ng-disabled="isSaving"
                is-waiting="isSaving"
                style-type="primary"
                title="OK"
                ng-disabled="form.$invalid"></dev-tag-button>
    </div>
</form>

