
<dev-tag-guide ng-if="!model.isReturnSale">
    <i class="fa fa-info-circle fa-2x" aria-hidden="true"> </i>
این بخش تنظیمات مربوط به اطلاع رسانی به سایر سیستم ها می باشد.
</dev-tag-guide>
<div class="row" style="direction: ltr">
    <dev-tag-button style-type="primary btn-outline"
                    style="margin-top: 30px"
                    title="New webhook"
                    ng-click="model.addWebhook()"></dev-tag-button>

    <ul class="list-group  clear-list m-t" >

        <li class="list-group-item fist-item">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
                <div class="col-md-5">Event</div>
                <div class="col-md-5">Title</div>
            </div>
        </li>
        <li class="list-group-item"
            ng-repeat="item in model.settings.webhooks">

            <div class="row">
                <div class="col-md-1"
                     style="vertical-align: middle">



                    <button
                            style="margin-left: 5px"
                            type="button"
                            ng-click="model.removeWebhook(item)"
                            class="close"
                            title="Remove">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="col-md-1">
                    <i class="fa fa-edit fa-lg pointer text-success"
                       ng-click="model.editWebhook(item)"
                       title="Edit"></i>
                </div>
                    <div class="col-md-5">{{item.eventDisplay}}</div>
                    <div class="col-md-5">{{item.title}}</div>

            </div>

        </li>
    </ul>
</div>