<div class="so-docs-wrapper" >
    <div class="so-docs-back-wrapper" >
        <div class="so-docs-footer"
             ng-class="{ 'so-close-menu' : !menuOpen }" >
            &copy; <span>تمامی حقوق این سایت متعلق به تیم استورم می باشد.</span>
        </div>
    </div>
    <div class="so-docs-content-wrapper so-docs-home so-close-menu" >
        <div class="so-docs-home-background" >
            <img src="/public/images/docs-home-back-1.svg" />
            <img src="/public/images/docs-home-back-2.svg" />
            <img src="/public/images/docs-home-back-3.svg" />
            <img src="/public/images/docs-home-back-4.svg" />
            <img src="/public/images/docs-home-back-5.svg" />
            <img src="/public/images/docs-home-back-6.svg" />
        </div>
        <div class="so-docs-top-btns" >
            <!--<div class="so-docs-menu-btn" >
                <a href="/docs" >
                    <i class="mdi mdi-home" ></i>
                </a>
            </div>-->
            <a href="https://www.storm-online.ir/" >
                <img alt="storm-logo"
                     src="/public/images/logo.png"
                     id="so-docs-top-btns-logo"
                     title="Storm-online.ir" />
            </a>
        </div>
        <div class="so-docs-content-holder animated fadeIn" >
            <div class="so-docs-home-search-wrapper" >
                <h1 class="so-align-center pb++" >
                    <img src="/public/images/docs-logo.svg"
                         style="width: 50px;display: inline-block"
                         class="animated fadeInUp" />
                    <span>جستجوی اسناد آموزشی <span class="so-tx-color-cyan-green" >استورم</span></span>
                </h1>
                <div class="so-docs-home-search-box" >
                    <input type="text"
                           ng-class="{ 'so-ready' : !model.loadingTree }"
                           placeholder="{{ model.loadingTree ? 'لطفا کمی صبر کنید ...':'جستجو کنید ...' }}"
                           ng-model="model.searchText" />
                    <span>
                        <i ng-if="!model.loadingTree" class="mdi mdi-magnify" ></i>
                        <spinner-preloader ng-if="model.loadingTree"
                                           size="small" ></spinner-preloader>
                    </span>
                </div>
                <ul class="so-docs-home-search-items" ng-if="!model.loadingTree" >
                    <li ng-repeat="item in model.docsTree.root" ng-if="model.isExists(item, model.searchText)" >
                        <a href="/docs/subject/{{item.id}}" >{{item.title}}</a>

                        <ul ng-if="model.docsTree.hasOwnProperty(item.id)" >
                            <li ng-repeat="innerItem in model.docsTree[item.id] | filter : model.searchText" >
                                <a href="/docs/page/{{innerItem.id}}" >{{innerItem.title}}</a>
                            </li>
                        </ul>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>