// Global Vars
$image-path: '../img';
$font-path: '../fonts';
$font-family: 'IRANSans';
$header-profile: '#{$image-path}/storm-header-profile.jpg';
$fa-font-path: $font-path;
$icon-font-path: '#{$font-path}/';

$primary-color: #1ab394;
$primary-select-color: #87c56f;

$bootstrap-sass-asset-helper: false;
$dir: rtl;

// Others Dependencies
@import "./resources/libs/bootstrap/bootstrap-grid";
@import "./resources/libs/bootstrap/bootstrap-rtl-grid";
@import "mdi/scss/materialdesignicons";

// My Dependencies
@import "resources/mixins";
@import "general.components/funcs";
@import "resources/_colors";
@import "general.components/classes.colors";
@import "general.components/timing";
@import "general.components/animate";
@import "general.components/classes.spacing";
@import "general.components/properties";
@import "general.components/btn-socials";
@import "general.components/btn-neon";
@import "general.components/material_input";
@import "general.components/line-header";
@import "fonts";
@import "storm-font-icon";

// Global Styles
@include selection(){
  color: $color-light-green;
  background-color: fade-out($color-dark-cyan-green,0.5);
};

*, *::before, *::after{
  font-family: $font-family;
  @include box-sizing(border-box);
}

body{
  display: block;
  position: relative;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  // font-family: $font-family;
  &.so-no-scroll{ overflow: hidden; }
}