<form name="form" ng-submit="model.save(form)" novalidate>

    <div class="ibox loginColumns float-e-margins animated bounceInRight">
        <div class="ibox-title panel-primary">
            <h5 style="float: right;">اطلاعات کسب و کار</h5>
        </div>

        <div class="ibox-content"
             ng-class="{'sk-loading': model.isWaiting}">

            <div class="sk-spinner sk-spinner-wave" ng-if="model.isWaiting">
                <div class="sk-rect1"></div>
                <div class="sk-rect2"></div>
                <div class="sk-rect3"></div>
                <div class="sk-rect4"></div>
                <div class="sk-rect5"></div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="label-control">نام کسب و کار</label>
                        <input type="text"
                               class="form-control"
                               required
                               minlength="3"
                               name="name"
                               ng-model="model.branch.name">

                        <div ng-messages="form.name.$error" ng-if="form.name.$dirty">
                            <div ng-message="required" class="text-danger">وارد کردن نام الزامی است</div>
                            <div ng-message="minlength" class="text-danger">نام باید حداقل 3 کاراکتر باشد</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="label-control">نام صاحب کسب و کار</label>
                        <input type="text"
                               class="form-control"
                               name="ownerName"
                               ng-model="model.branch.ownerName">
                    </div>

                    <div class="form-group">
                        <label class="label-control">کدملی صاحب کسب و کار</label>
                        <input type="text"
                               class="form-control"
                               name="nationalCode"
                               ng-model="model.branch.nationalCode">
                    </div>


                </div>


                <div class="form-group col-md-6">
                    <label class="label-control">لوگوی کسب و کار</label>
                    <logo-uploader uploaded="model.logoUploaded(fileName)"></logo-uploader>
                </div>
            </div>

            <div class="form-group">
                <label class="label-control">وب سایت</label>
                <input type="text"
                       class="form-control"
                       name="webSite"
                       ng-model="model.branch.webSite">
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label class="label-control">تلفن</label>
                    <input type="text"
                           class="form-control"
                           name="phone"
                           required
                           ng-model="model.branch.phone">

                    <div ng-messages="form.phone.$error" ng-if="form.phone.$dirty">
                        <div ng-message="required" class="text-danger">وارد کردن تلفن الزامی است</div>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="label-control">موبایل</label>
                    <input type="text"
                           class="form-control"
                           name="mobile"
                           ng-model="model.branch.mobile">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label class="label-control">کدپستی</label>
                    <input type="text"
                           class="form-control"
                           name="nationalCode"
                           ng-model="model.branch.postalCode">
                </div>

                <div class="form-group col-md-6">
                    <label class="label-control">آدرس</label>
                    <textarea
                            style="height: 100px"
                            class="form-control"
                            name="address"
                            ng-model="model.branch.address"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label class="label-control">کد تخفیف</label>
                    <input type="text"
                           class="form-control"
                           name="nationalCode"
                           ng-model="model.branch.offCode">
                </div>
            </div>
        </div>

        <div class="ibox-footer">
            <button type="submit"
                    class="btn btn-primary btn-block btn-lg">
                ذخیره
            </button>
        </div>
    </div>
</form>