<div class="invoice-print-main-wrapper rtl">
    <div class="invoice-print-header">
        <img class="invoice-print-header-log" src="/public/images/logo-black.png" alt="storm-logo"/>

        <button class="btn btn-white btn-bitbucket"
                title="چاپ فاکتور"
                ng-click="model.printInvoiceContent()">
            <i class="fa fa-print" style="font-size: 20px;" ></i><!--mdi mdi-24px mdi-printer-->
        </button>

        <button id="invoice-pay-top-btn"
                class="btn btn-primary btn-bitbucket invoice-pay-btn"
                title="پرداخت"
                ng-if="model.canShowPaymentSection()"
                onclick="soTogglePayment()" >
            <i class="fa fa-money" style="font-size: 20px;" ></i>
        </button>

        <!--<button class="btn btn&#45;&#45;flat btn&#45;&#45;blue-grey btn&#45;&#45;l"
                ng-click="model.printInvoiceContent()"
                lx-ripple
                lx-tooltip="چاپ فاکتور"
                lx-tooltip-position="bottom">
            <i class="mdi mdi-24px mdi-printer"></i>
        </button>-->
    </div>
    <div class="invoice-print-wrapper">
        <div ng-class="{ 'invoice-print-content' : model.canShowPaymentSection(), 'invoice-print-content whole-page' : !model.canShowPaymentSection() }">
            <div class="container-fluid invoice-print-content-body">
                <div class="row" ><!--flex-container="row" flex-column="12"-->
                    <div class="col col-sm-2" ><!--flex-item="2"-->
                        <button class="btn btn-lg btn-primary invoice-pay-btn invoice-print-pay-btn p+"
                                title="پرداخت"
                                ng-if="model.canShowPaymentSection()"
                                onclick="soTogglePayment()" >
                            <span>پرداخت</span>
                        </button>
                        <img class="invoice-print-branch-logo" ng-src="{{ model.branch.logo }}" alt="branch-logo"/>
                        <div class="so-align-center" style="font-size: 16px;padding: 5px 0;">{{model.branch.name}}</div>
                    </div>
                    <div class="col col-sm-2" ><!--flex-item="2"-->
                        <br/><br/>
                        <span>مشتری:</span>
                        <span>{{model.invoice.customerDisplay}}</span>
                    </div>
                    <div class="col col-sm-4" ><!--flex-item="4"-->
                        <br/><br/>
                        <span class="so-tx-color-cyan-green">شماره فاکتور</span>:
                        <span>{{model.invoice.number}}</span>
                        <br/>
                        <span class="so-tx-color-cyan-green">تاریخ فاکتور</span>:
                        <span>{{model.invoice.date}}</span>
                    </div>
                    <div class="col col-sm-4" ><!--flex-item="4"-->
                        <br/>
                        <span style="font-size: 20px;">قابل پرداخت:</span><br/>
                        <div style="display: block;position: relative;margin: 0 auto;text-align: center;"
                             class="so-tx-color-dark-blue">
                            <span class="invoice-print-payable" >{{model.invoice.invoiceLines | totalSum: ('($.unitPrice * $.quantity) - $.discount + $.vat') | number}}</span><span
                                style="font-size: 18px">ریال</span>
                        </div>
                    </div>
                </div>
                <div class="row" ><!--flex-container="row" flex-column="12"-->
                    <div class="col col-sm-12" ><!--flex-item="12"-->
                        <!--<lx-data-table
                                lx-selectable="false"
                                lx-thead="model.dataTable.thead"
                                lx-tbody="model.dataTable.tbody"></lx-data-table>-->
                        <div style="overflow: auto;" >
                            <table  style="width: 100%;min-width: 768px;"
                                    class="table table-hover table-striped" >
                                <tr>
                                    <th ng-repeat="col in model.dataTable.thead"
                                        style="text-align: center;" >{{col.label}}</th>
                                </tr>
                                <tr ng-repeat="item in model.dataTable.tbody" >
                                    <td style="text-align: center;" >{{item.row}}</td>
                                    <td style="text-align: center;" >{{item.description}}</td>
                                    <td style="text-align: center;" >{{item.quantity}}</td>
                                    <td style="text-align: center;" >{{model.formatNumber(item.unitPrice)}}</td>
                                    <td style="text-align: center;" >{{model.formatNumber(item.discount)}}</td>
                                    <td style="text-align: center;" >{{model.formatNumber(item.vat)}}</td>
                                    <td style="text-align: center;" >{{model.formatNumber((item.unitPrice * item.quantity) - item.discount + item.vat)}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="divider so-bg-color-gray"></div>
                <br/>
                <br/>
                <div class="row" ><!--flex-container="row" flex-column="12"-->
                    <div
                            class="invoice-print-pay-table-container col col-sm-6"
                            style="padding: 0 50px;"><!--flex-item="6"-->

                        <div ng-if="model.invoice.sumPaidAmount !== 0" >
                            <div class="mb+" ><!--flex-container="row" flex-column="12"-->
                                <h3>پرداختی ها</h3><!--flex-column="3"-->
                                <h5 ng-show="model.invoice.sumRemainder === 0">(کل مبلغ فاکتور پرداخت
                                    شده)</h5><!--flex-column="3"-->
                            </div>



                            <table class="table table-hover table-striped" >
                                <tr>
                                    <th style="text-align: center;" >ردیف</th>
                                    <th style="text-align: center;" >نوع پرداخت</th>
                                    <th style="text-align: center;" >شرح</th>
                                    <th style="text-align: center;" >مبلغ</th>
                                </tr>
                                <tr ng-repeat="r in model.receipt" >
                                    <td style="text-align: center;" >{{r.number}}</td>
                                    <td style="text-align: center;" >{{r.paymentTypeText}}</td>
                                    <td style="text-align: center;" >{{r.paymentDescription}}</td>
                                    <td style="text-align: center;" >{{r.amount | number}}</td>
                                </tr>
                                <tr>
                                    <td colspan="3" >
                                        <h4>جمع پرداختی ها :</h4>
                                    </td>
                                    <td colspan="1" >
                                        <h4 style="text-align: center;" >{{model.receipt | totalSum:('amount')| number}}</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" >
                                        <h4>مانده :</h4>
                                    </td>
                                    <td colspan="1" >
                                        <h4 style="text-align: center;" >{{(model.invoice.invoiceLines | totalSum: ('(($.unitPrice * $.quantity) - $.discount + $.vat)'))   -
                                            (model.receipt | totalSum:('amount')) | number}}
                                        </h4>
                                    </td>
                                </tr>
                            </table>

                            <button class="btn btn-white btn-bitbucket"
                                    title="چاپ رسید پرداخت"
                                    ng-click="model.printReceiptContent()">
                                <span><i class="fa fa-print" ></i> چاپ رسید پرداخت</span>
                            </button>

                            <!--<ul class="list mt++">
                                <li class="list-row list-row&#45;&#45;has-separator">
                                    <div class="list-row__content">
                                        <span>سند</span>
                                    </div>

                                    <div class="list-row__content">
                                        <span>تاریخ</span>
                                    </div>

                                    <div class="list-row__content">
                                        <span>مبلغ</span>
                                    </div>

                                    <div class="list-row__content">

                                    </div>
                                </li>
                                <li class="list-row list-row&#45;&#45;has-separator" ng-repeat="p in model.payments">

                                    <div class="list-row__content">
                                        <span>{{p.number}}</span>
                                    </div>

                                    <div class="list-row__content">
                                        <span>{{p.date}}</span>
                                    </div>

                                    <div class="list-row__content">
                                        <span>{{p.amount | number}}</span>
                                    </div>

                                    <div class="list-row__content">
                                        <span>{{p.bankDisplay}}</span>
                                    </div>

                                </li>

                                <li class="list-row list-row&#45;&#45;has-separator">
                                    <div class="list-row__content">

                                    </div>
                                    <div class="list-row__content">
                                        <h4>جمع پرداختی ها :</h4>
                                    </div>
                                    <div class="list-row__content">
                                        <h4>{{model.payments | totalSum:('amount')| number}}</h4>
                                    </div>
                                    <div class="list-row__content">

                                    </div>
                                </li>
                            </ul>-->

                        </div>
                    </div>
                    <div class="invoice-print-avg-table-container col col-sm-6" style="padding: 0 50px 0 0"><!--flex-item="6"-->
                        <table class="invoice-print-table">
                            <tr>
                                <td>جمع مبلغ:</td>
                                <td>{{model.invoice.invoiceLines | totalSum: ('$.unitPrice * $.quantity') | number}}
                                </td>
                            </tr>
                            <tr>
                                <td>جمع تخفیف:</td>
                                <td>{{model.invoice.invoiceLines | totalSum: ('discount') | number}}</td>
                            </tr>
                            <tr>
                                <td>جمع مالیات:</td>
                                <td>{{model.invoice.invoiceLines | totalSum: ('vat') | number}}</td>
                            </tr>
                            <tr>
                                <td>قابل پرداخت:</td>
                                <td>{{model.invoice.invoiceLines | totalSum: ('($.unitPrice * $.quantity) - $.discount + $.vat') | number}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="invoice-print-content-footer">
                <a href="https://www.storm-online.ir/">&copy; Copyright Storm-Online</a>
            </div>
        </div>
        <div class="invoice-print-sidebar" ng-show="model.canShowPaymentSection()">
            <h3 style="padding: 0 10px;color: #707070"><i class="fa fa-money" ></i> پرداخت با:</h3>
            <ul class="invoice-print-sidebar-pay-list">
                <li>
                    <a href="" ng-click="model.goToPayment()">
                        <img src="/public/images/payping-logo.png"/>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--<div class="invoice-print-mobile-pay-list" ng-show="model.canShowPaymentSection()">
        <lx-fab lx-direction="up">
            <lx-fab-trigger>
                <lx-button lx-size="xl" lx-type="fab" lx-tooltip="پرداخت با" lx-tooltip-position="right">
                    <i class="mdi mdi-coin"></i>
                    <i class="mdi mdi-plus"></i>
                </lx-button>
            </lx-fab-trigger>
            <lx-fab-actions>
                <lx-button ng-click="model.goToPayment()" lx-size="l" lx-type="fab" lx-tooltip="PayPing"
                           lx-tooltip-position="right">
                    <img src="/public/images/payping-favicon2.png"/>
                </lx-button>
            </lx-fab-actions>
        </lx-fab>
    </div>-->
</div>
<script>

    function soTogglePayment(){

        var $payTopBtn = $("#invoice-pay-top-btn");
        var $invoiceContent = $($(".invoice-print-content")[0]);
        var $paySidebar = $($(".invoice-print-sidebar")[0]);

        if($invoiceContent.hasClass("so-close")){ // OPEN

            $payTopBtn.removeClass("btn-warning");
            $payTopBtn.addClass("btn-primary");
            $payTopBtn.html("<i class='fa fa-money' style='font-size: 20px;' ></i>");

            $invoiceContent.removeClass("so-close");
            $paySidebar.removeClass("so-open");
            return;

        }

        // CLOSE

        $payTopBtn.addClass("btn-warning");
        $payTopBtn.removeClass("btn-primary");
        $payTopBtn.html("<i class='fa fa-arrow-left' style='font-size: 20px;' ></i>");

        $invoiceContent.addClass("so-close");
        $paySidebar.addClass("so-open");


    }

</script>