<form name="form">
<div class="modal-header">
    <button type="button" ng-click="model.close()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">{{'Import from excel'| translate}}</h3>
</div>

    <div class="modal-body k-rtl">

        <dev-tag-guide>
            <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i><br/>
            <ul>
                <li>پسوند فایل فقط xlsx. (فرمت اکسل ۲۰۰۳ به بعد) قابل قبول می باشد.</li>
                <li>فایل را قبل از تبدیل بررسی کنید تا مقادیر در ستونها معتبر باشند، فقط ردیف های صحیح تبدیل می شوند.</li>
                <li>ردیف اول فایل اکسل ، نام ستونها باشد.</li>
            </ul>
        </dev-tag-guide>

        <dev-tag-file-browser-button
                title="{{'Select file'|translate}}"
                after="model.afterGetExcelFile($data)"></dev-tag-file-browser-button>


        <ul ng-if="model.excelList" class="list-group  clear-list m-t" >
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-6">{{'Field name'|translate}}</div>
                    <div class="col-md-6">{{'Excel header'|translate}}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-6">{{'Product code'|translate}}</div>
                    <div class="col-md-6">
                        <select ng-model="model.mapper.code"
                                name="code"
                                ng-options="p as p for p in model.excelFields"
                                class="form-control"
                                required>
                        </select>

                        <div ng-messages="form.code.$error" ng-if="form.code.$dirty">
                            <label ng-message="required" class="error">This field is required</label>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-6">{{'Reference code'|translate}}</div>
                    <div class="col-md-6">
                        <select ng-model="model.mapper.referenceId"
                                name="code"
                                ng-options="p as p for p in model.excelFields"
                                class="form-control">
                        </select>

                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-6">{{'Product name'|translate}}</div>
                    <div class="col-md-6">
                        <select ng-model="model.mapper.title"
                                name="title"
                                ng-options="p as p for p in model.excelFields"
                                class="form-control"
                                required>
                        </select>

                        <div ng-messages="form.title.$error" ng-if="form.title.$dirty">
                            <label ng-message="required" class="error">This field is required</label>
                        </div>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <dev-tag-check-box ng-model="model.hasFirstInput">{{'Has first input'|translate}}</dev-tag-check-box>
            </li>

            <li ng-if="model.hasFirstInput" class="list-group-item">
                <div class="row">
                    <div class="col-md-6">{{'Quantity'|translate}}</div>
                    <div class="col-md-6">
                        <select ng-model="model.mapper.quantity"
                                name="quantity"
                                ng-options="p as p for p in model.excelFields"
                                class="form-control"
                                required>
                        </select>

                        <div ng-messages="form.quantity.$error" ng-if="form.quantity.$dirty">
                            <label ng-message="required" class="error">This field is required</label>
                        </div>
                    </div>
                </div>
            </li>
            <li ng-if="model.hasFirstInput" class="list-group-item">
                <div class="row">
                    <div class="col-md-6">{{'Unit price'|translate}}</div>
                    <div class="col-md-6">
                        <select ng-model="model.mapper.unitPrice"
                                name="unitPrice"
                                ng-options="p as p for p in model.excelFields"
                                class="form-control"
                                required>
                        </select>

                        <div ng-messages="form.unitPrice.$error" ng-if="form.unitPrice.$dirty">
                            <label ng-message="required" class="error">This field is required</label>
                        </div>
                    </div>
                </div>
            </li>
            <li ng-if="model.hasFirstInput" class="list-group-item">
                <div class="row">
                    <div class="col-md-6">{{'Stock'|translate}}</div>
                    <div class="col-md-6">
                        <dev-tag-combo-box id="stockId" style="width: 100%"
                                           name="stockId"
                                           class="combobox-directive-margin-top"
                                           k-placeholder="{{'Select ...'|translate}}"
                                           k-data-value-field="id"
                                           k-data-text-field="title"
                                           ng-model="model.stockId"
                                           url="{{model.urls.getAllStocks}}"
                                           required></dev-tag-combo-box>

                        <div ng-messages="form.stockId.$error" ng-if="form.stockId.$dirty">
                            <label ng-message="required" class="error">{{'This field is required'|translate}}</label>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </div>

<div class="modal-footer" ng-if="model.excelList">
    <dev-tag-button
            ng-click="model.run(form)"
            icon="fa fa-play fa-lg"
            ng-disabled="model.isSaving"
            is-waiting="model.isSaving"
            style-type="primary"
            title="{{'Run' | translate}}"></dev-tag-button>
</div>
</form>