<form name="form" novalidate>
    <div class="modal-header">
        <button type="button" ng-click="model.close()" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 ng-if="!model.id" class="modal-title">{{'New product'| translate}}</h3>
        <h3 ng-if="model.id" class="modal-title">{{'Edit product'| translate}}</h3>
    </div>
    <div class="modal-body">

        <dev-tag-validation-summary errors="model.errors"></dev-tag-validation-summary>

        <div class="form-group">
            <span ng-repeat="item in model.productTypes" style="margin-left: 10px">
               <dev-tag-radio
                       ng-class="{'checked': item.key == model.product.productType}"

                       k-value="{{item.key}}"
                       ng-model="model.product.productType"></dev-tag-radio>
                       {{item.display}}
                </span>
        </div>

        <uib-tabset active="model.activeTab">
            <uib-tab heading="{{'Product properties' | translate}}"
                     index="0">

                <div style="margin-top: 10px" class="row">
                    <div class="form-group col-md-4">
                        <label class="label-control">{{'Reference Code' | translate}}</label>
                        <dev-tag-text-box
                                name="code"
                                ng-model="model.product.referenceId"></dev-tag-text-box>
                        <span class="help-block small text text-success">{{'For communication with other systems'| translate}}</span>
                    </div>

                    <div class="form-group col-md-8">
                        <label class="label-control">{{'Title' | translate}}</label>
                        <dev-tag-text-box
                                class="form-control"
                                required
                                minlength="3"
                                name="title"
                                ng-model="model.product.title"></dev-tag-text-box>

                        <div ng-messages="form.title.$error" ng-if="form.title.$dirty">
                            <label ng-message="required" class="error">{{'This field is required'|translate}}</label>
                            <label ng-message="minlength" class="error">{{'This field should at least 3 characters'|translate}}</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-8">
                        <label class="label-control">{{'Product category' | translate}}</label>
                        <dev-tag-combo-box name="categoryId"
                                           k-placeholder="{{'Select ...'|translate}}"
                                           k-data-value-field="id"
                                           k-data-text-field="title"
                                           k-on-created="model.onCategoryCreated($search)"
                                           k-on-changed="model.onCategoryChanged($item)"
                                           show-no-data-template
                                           ng-model="model.product.categoryId"
                                           url="{{model.getAllProductCategoryUrl}}"></dev-tag-combo-box>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="label-control">{{'Scale' | translate}}</label>
                        <dev-tag-combo-box name="scaleId"
                                           k-placeholder="{{'Select ...'|translate}}"
                                           k-data-value-field="id"
                                           k-data-text-field="title"
                                           k-on-created="model.onScaleCreated($search)"
                                           k-on-changed="model.onScaleChanged($item)"
                                           show-no-data-template
                                           ng-model="model.product.scaleId"
                                           url="{{model.getAllScaleUrl}}"></dev-tag-combo-box>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="label-control">{{'Reorder point' | translate}}</label>
                        <dev-tag-numeric
                                class="form-control"
                                name="reorderPoint"
                                ng-model="model.product.reorderPoint"></dev-tag-numeric>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="label-control">{{'Sale price' | translate}}</label>
                        <dev-tag-numeric
                                class="form-control"
                                name="salePrice"
                                ng-model="model.product.salePrice"></dev-tag-numeric>
                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="{{'First input'|translate}}"
                     index="1"
                     ng-if="model.canShowFirstInput()">

                <dev-tag-guide ng-if="model.id">
                    <p>
                        در صورتیکه قبلا رسید اول دوره برای کالای جاری صادر شده باشد ، با این ثبت رسید قبلی حذف خواهد شد
                    </p>
                </dev-tag-guide>

                <ul class="list-group  clear-list m-t">
                    <li class="list-group-item "
                        name="form-{{$index}}"
                        ng-form
                        ng-repeat="item in model.firstInput"
                        ng-class="{'fist-item': $index == 0}">
                        <div class="row">
                            <div class="col-md-3" style="margin-top: 7px">
                                <div class="form-group">
                                    <dev-tag-numeric
                                            class="form-control"
                                            name="quantity"
                                            placeholder="{{'Quantity'|translate}}"
                                            ng-model="item.quantity"
                                            not-zero
                                            required></dev-tag-numeric>

                                    <div ng-messages="form['form-'+ $index].quantity.$error"
                                         ng-if="form['form-'+ $index].quantity.$dirty">
                                        <label ng-message="required" class="error">{{'This field is required'|translate}}</label>
                                        <label ng-message="notZero" class="error">
                                            {{'This field should have a value not equal to zero'|translate}}
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4" style="margin-top: 7px">
                                <div class="form-group">
                                    <dev-tag-numeric
                                            class="form-control"
                                            name="unitPrice"
                                            placeholder="{{'Unit price'|translate}}"
                                            ng-model="item.unitPrice"
                                            not-zero
                                            required></dev-tag-numeric>

                                    <div ng-messages="form['form-'+ $index].unitPrice.$error"
                                         ng-if="form['form-'+ $index].unitPrice.$dirty">
                                        <label ng-message="required" class="error">{{'This field is required'|translate}}</label>
                                        <label ng-message="notZero" class="error">
                                            {{'This field should have a value not equal to zero'|translate}}
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4" style="margin-top: 7px">
                                <div class="form-group ">
                                    <dev-tag-combo-box name="stockId"
                                                       k-placeholder="{{'انتخاب انبار'|translate}}"
                                                       k-data-value-field="id"
                                                       k-data-text-field="title"
                                                       k-on-created="model.onStockCreated($search)"
                                                       k-on-changed="model.onStockChanged(item, $item)"
                                                       required
                                                       not-zero
                                                       ng-model="item.stockId"
                                                       url="{{model.getAllStockUrl}}"></dev-tag-combo-box>
                                </div>
                            </div>

                            <div class="col-md-1">
                                <button type="button" ng-click="model.removeFirstInput(item)" class="close" title="حذف">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>


                    </li>
                </ul>

                <dev-tag-button
                        ng-click="model.addFirstInput()"
                        icon="fa fa-plus"
                        style-type="primary"
                        title="{{'New row' | translate}}"></dev-tag-button>
            </uib-tab>
        </uib-tabset>

    </div>
    <div class="modal-footer">
        <dev-tag-button
                ng-click="model.save(form)"
                icon="glyphicon glyphicon-floppy-disk"
                ng-disabled="isSaving"
                is-waiting="isSaving"
                style-type="primary"
                title="{{'Save' | translate}}"
                ng-disabled="form.$invalid"></dev-tag-button>


        <div style="float: right" ng-if="model.product.productType == 'good'">
            <dev-tag-button
                    ng-if="!model.isFirstInputActive"
                    ng-click="model.toggleFirstInput()"
                    style-type="primary btn-outline"
                    title="{{'First input' | translate}}"></dev-tag-button>

            <dev-tag-button
                    ng-if="model.isFirstInputActive"
                    ng-click="model.toggleFirstInput()"
                    style-type="danger btn-outline"
                    title="{{'Remove first input' | translate}}"></dev-tag-button>
        </div>

    </div>
</form>

