<form name="form" novalidate>
    <div class="modal-header">
        <button type="button" ng-click="model.close()" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 ng-if="!model.id" class="modal-title">{{'New product'| translate}}</h3>
        <h3 ng-if="model.id" class="modal-title">{{'Edit product'| translate}}</h3>
    </div>
    <div class="modal-body">

        <dev-tag-validation-summary errors="model.errors"></dev-tag-validation-summary>

        <div class="form-group">
            <span ng-repeat="item in model.productTypes" style="margin-left: 10px">
               <dev-tag-radio
                       ng-class="{'checked': item.key == model.product.productType}"

                       k-value="{{item.key}}"
                       ng-model="model.product.productType"></dev-tag-radio>
                       {{item.display}}
                </span>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label class="label-control">{{'Reference Code' | translate}}</label>
                <dev-tag-text-box
                        name="code"
                        ng-model="model.product.referenceId"></dev-tag-text-box>
                <span class="help-block small text text-success">{{'For communication with other systems'| translate}}</span>
            </div>

            <div class="form-group col-md-8">
                <label class="label-control">{{'Title' | translate}}</label>
                <dev-tag-text-box
                        class="form-control"
                        required
                        minlength="3"
                        name="title"
                        ng-model="model.product.title"></dev-tag-text-box>

                <div ng-messages="form.title.$error" ng-if="form.title.$dirty">
                    <label ng-message="required" class="error">{{'This field is required'|translate}}</label>
                    <label ng-message="minlength" class="error">{{'This field should at least 3 characters'|translate}}</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-8">
                <label class="label-control">{{'Product category' | translate}}</label>
                <dev-tag-combo-box name="categoryId"
                                   k-placeholder="{{'Select ...'|translate}}"
                                   k-data-value-field="id"
                                   k-data-text-field="title"
                                   k-on-created="model.onCategoryCreated($search)"
                                   k-on-changed="model.onCategoryChanged($item)"
                                   show-no-data-template
                                   ng-model="model.product.categoryId"
                                   url="{{model.getAllProductCategoryUrl}}"></dev-tag-combo-box>
            </div>

            <div class="form-group col-md-4">
                <label class="label-control">{{'Scale' | translate}}</label>
                <dev-tag-combo-box name="scaleId"
                                   k-placeholder="{{'Select ...'|translate}}"
                                   k-data-value-field="id"
                                   k-data-text-field="title"
                                   k-on-created="model.onScaleCreated($search)"
                                   k-on-changed="model.onScaleChanged($item)"
                                   show-no-data-template
                                   ng-model="model.product.scaleId"
                                   url="{{model.getAllScaleUrl}}"></dev-tag-combo-box>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label class="label-control">{{'Reorder point' | translate}}</label>
                <dev-tag-numeric
                        class="form-control"
                        name="reorderPoint"
                        ng-model="model.product.reorderPoint"></dev-tag-numeric>
            </div>

            <div class="form-group col-md-6">
                <label class="label-control">{{'Sale price' | translate}}</label>
                <dev-tag-numeric
                        class="form-control"
                        name="salePrice"
                        ng-model="model.product.salePrice"></dev-tag-numeric>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <dev-tag-button
                ng-click="model.save(form)"
                icon="glyphicon glyphicon-floppy-disk"
                ng-disabled="isSaving"
                is-waiting="isSaving"
                style-type="primary"
                title="{{'Save' | translate}}"
                ng-disabled="form.$invalid"></dev-tag-button>
    </div>
</form>

