<dev-tag-content dev-attr-title="{{'Account review'| translate}}">
    <form name="form">
        <div class="row">
            <div class="col-md-7" style="margin-top: 10px">
                <div class="row">
                    <div class="col-md-2" style="text-align: left;margin-top: 7px">
                        <label class="label-control">{{'From date' | translate}}</label>
                    </div>
                    <div class="col-md-4">
                        <dev-tag-datepicker
                                ng-model="parameters.minDate"
                                name="minDate"
                                ng-required="{{parameters.maxDate}}"></dev-tag-datepicker>

                        <div ng-messages="form.minDate.$error" ng-if="form.minDate.$dirty">
                            <label ng-message="required" class="error">
                                {{'This field is required'|translate}}
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2" style="text-align: left;margin-top: 7px">
                        <label class="label-control">{{'To date' | translate}}</label>
                    </div>
                    <div class="col-md-4">
                        <dev-tag-datepicker
                                ng-model="parameters.maxDate"
                                name="maxDate"
                                ng-required="{{parameters.minDate}}"></dev-tag-datepicker>

                        <div ng-messages="form.maxDate.$error" ng-if="form.maxDate.$dirty">
                            <label ng-message="required" class="error">
                                {{'This field is required'|translate}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-2" style="text-align: left;margin-top: 7px">
                        <label class="label-control">{{'From number' | translate}}</label>
                    </div>
                    <div class="col-md-4">
                        <dev-tag-numeric
                                ng-model="parameters.minNumber"
                                style="width: 100%"
                                name="minNumber"
                                ng-required="{{parameters.maxNumber}}"
                                not-zero></dev-tag-numeric>

                        <div ng-messages="form.minNumber.$error" ng-if="form.minNumber.$dirty">
                            <label ng-message="required" class="error">
                                {{'This field is required'|translate}}
                            </label>
                            <label ng-message="notZero" class="error">
                                {{'This field should have a value not equal to zero'|translate}}
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2" style="text-align: left;margin-top: 7px">
                        <label class="label-control">{{'To number' | translate}}</label>
                    </div>
                    <div class="col-md-4">
                        <dev-tag-numeric
                                ng-model="parameters.maxNumber"
                                style="width: 100%"
                                name="maxNumber"
                                ng-required="{{parameters.minNumber}}"
                                not-zero></dev-tag-numeric>

                        <div ng-messages="form.maxNumber.$error" ng-if="form.maxNumber.$dirty">
                            <label ng-message="required" class="error">
                                {{'This field is required'|translate}}
                            </label>
                            <label ng-message="notZero" class="error">
                                {{'This field should have a value not equal to zero'|translate}}</label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-5">
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-12">
                        <dev-tag-check-box
                                ng-model="parameters.isNotPeriodIncluded"
                                dev-title="{{'Is not period included' | translate}}">
                            {{'Is not period included' | translate}}
                        </dev-tag-check-box>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <dev-tag-check-box ng-model="parameters.notShowZeroRemainder">
                            {{'Not show zero remiander' | translate}}
                        </dev-tag-check-box>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 50px;">
            <div class="col-md-3">
                <dev-tag-button
                        ng-click="executeTurnover(form,'tiny')"
                        title="{{'Tiny turnover journals'| translate}}"
                        style-type="primary  btn-block"></dev-tag-button>
                <dev-tag-button
                        ng-click="executeTurnover(form,'generalLedgerAccount')"
                        title="{{'Total turnover general ledger account'| translate}}"
                        style-type="white  btn-block"></dev-tag-button>
                <dev-tag-button
                        ng-click="executeTurnover(form,'subsidiaryLedgerAccount')"
                        title="{{'Total turnover subsidiary ledger account'| translate}}"
                        style-type="white  btn-block"></dev-tag-button>
                <dev-tag-button
                        ng-click="executeTurnover(form,'detailAccount')"
                        title="{{'Total turnover detail account'| translate}}"
                        style-type="white  btn-block"></dev-tag-button>
                <dev-tag-button
                        ng-repeat="category in dimensionCategories"
                        ng-click="executeTurnover(form,'dimension'+($index+1))"
                        title="{{'Total turnover dimension'|translate}} {{category.title}}"
                        style-type="white  btn-block"></dev-tag-button>
            </div>

            <div class="col-md-9">
                <accordion>
                    <accordion-group class="panel-primary"
                                     heading="{{'Detail account' | translate}}">

                        <dev-tag-combo-box
                                name="detailAccount"
                                k-placeholder="{{'Select ...'|translate}}"
                                k-data-value-field="id"
                                k-data-text-field="display"
                                k-data-source="detailAccountDataSource"
                                ng-model="parameters.detailAccount"></dev-tag-combo-box>

                        <dev-tag-button
                                ng-click="detailAccountExecuteTurnovers('tiny')"
                                ng-disabled="parameters.detailAccount == null"
                                title="{{'Tiny turnover journals'| translate}}"
                                style-type="primary  "></dev-tag-button>
                        <dev-tag-button
                                ng-click="detailAccountExecuteTurnovers('generalLedgerAccount')()"
                                ng-disabled="parameters.detailAccount == null"
                                title="{{'Detail account'| translate}}/{{'General ledger account'|translate}}"
                                style-type="white  "></dev-tag-button>
                        <dev-tag-button
                                ng-click="detailAccountExecuteTurnovers('subsidiaryLedgerAccount')()"
                                ng-disabled="parameters.detailAccount == null"
                                title="{{'Detail account'| translate}}/{{'Subsidiary ledger account'|translate}}"
                                style-type="white  "></dev-tag-button>
                        <dev-tag-button
                                ng-repeat="category in dimensionCategories"
                                ng-disabled="parameters.detailAccount == null"
                                ng-click="detailAccountExecuteTurnovers('detailAccount', category)"
                                title="{{'Detail account'| translate}}/{{category.title}}"
                                style-type="white  "></dev-tag-button>
                    </accordion-group>

                    <accordion-group class="panel-primary"
                                     heading="{{dimensionCategories[0].title}}">
                        <ng-form name="dimension1Form">
                            <div style="margin-bottom: 10px">

                                <dev-tag-combo-box
                                        name="dimension1"
                                        k-placeholder="{{'Select ...'|translate}}"
                                        k-data-value-field="id"
                                        k-data-text-field="display"
                                        k-data-source="dimension1DataSource"
                                        ng-model="parameters.dimension1"
                                        required></dev-tag-combo-box>
                                <div ng-messages="form.dimension1.$error"
                                     ng-if="form.dimension1.$dirty">
                                    <label ng-message="required" class="error">{{'Select'|translate}}</label>
                                </div>
                            </div>

                            <dev-tag-button
                                    ng-click="dimensionExecuteTurnovers('dimension1', 'tiny', 0)"
                                    ng-disabled="parameters.dimension1 == null"
                                    title="{{'Tiny turnover journals'| translate}}"
                                    style-type="primary  "></dev-tag-button>
                            <dev-tag-button
                                    ng-click="dimensionExecuteTurnovers('dimension1', 'generalLedgerAccount',0)"
                                    ng-disabled="parameters.dimension1 == null"
                                    title="{{dimensionCategories[0].title}}/{{'General ledger account'|translate}}"
                                    style-type="white  "></dev-tag-button>
                            <dev-tag-button
                                    ng-click="dimensionExecuteTurnovers('dimension1', 'subsidiaryLedgerAccount',0)"
                                    ng-disabled="parameters.dimension1 == null"
                                    title="{{dimensionCategories[0].title}}/{{'Subsidiary ledger account'|translate}}"
                                    style-type="white  "></dev-tag-button>
                            <dev-tag-button
                                    ng-click="dimensionExecuteTurnovers('dimension1', 'detailAccount',0)"
                                    ng-disabled="parameters.dimension1 == null"
                                    title="{{dimensionCategories[0].title}}/{{'Detail account'|translate}}"
                                    style-type="white  "></dev-tag-button>
                            <dev-tag-button
                                    ng-repeat="category in dimensionCategories | filter: {id: '!' + dimensionCategories[0].id}"
                                    ng-disabled="parameters.dimension1 == null"
                                    ng-click="dimensionExecuteTurnovers('dimension1','dimension'+ dimensionCategories.indexOf(category)+1, dimensionCategories.indexOf(category))"
                                    title="{{dimensionCategories[0].title}}/{{category.title}}"
                                    style-type="white  "></dev-tag-button>
                        </ng-form>
                    </accordion-group>

                    <accordion-group class="panel-primary"
                                     heading="{{dimensionCategories[1].title}}">
                        <ng-form name="dimension2Form">
                            <div style="margin-bottom: 10px">
                                <dev-tag-combo-box
                                        name="dimension2"
                                        k-placeholder="{{'Select ...'|translate}}"
                                        k-data-value-field="id"
                                        k-data-text-field="display"
                                        k-data-source="dimension2DataSource"
                                        ng-model="parameters.dimension2"
                                        required
                                        style="width: 100%"></dev-tag-combo-box>
                                <div ng-messages="form.dimension2.$error"
                                     ng-if="form.dimension2.$dirty">
                                    <label ng-message="required" class="error">{{'Select'|translate}}</label>
                                </div>
                            </div>

                            <dev-tag-button
                                    ng-click="dimensionExecuteTurnovers('dimension2', 'tiny', 0)"
                                    ng-disabled="parameters.dimension2 == null"
                                    title="{{'Tiny turnover journals'| translate}}"
                                    style-type="primary  "></dev-tag-button>
                            <dev-tag-button
                                    ng-click="dimensionExecuteTurnovers('dimension2', 'generalLedgerAccount',0)"
                                    ng-disabled="parameters.dimension2 == null"
                                    title="{{dimensionCategories[1].title}}/{{'General ledger account'|translate}}"
                                    style-type="white  "></dev-tag-button>
                            <dev-tag-button
                                    ng-click="dimensionExecuteTurnovers('dimension2', 'subsidiaryLedgerAccount',0)"
                                    ng-disabled="parameters.dimension2 == null"
                                    title="{{dimensionCategories[1].title}}/{{'Subsidiary ledger account'|translate}}"
                                    style-type="white  "></dev-tag-button>
                            <dev-tag-button
                                    ng-click="dimensionExecuteTurnovers('dimension2', 'detailAccount',0)"
                                    ng-disabled="parameters.dimension2 == null"
                                    title="{{dimensionCategories[1].title}}/{{'Detail account'|translate}}"
                                    style-type="white  "></dev-tag-button>
                            <dev-tag-button
                                    ng-repeat="category in dimensionCategories | filter: {id: '!' + dimensionCategories[1].id}"
                                    ng-disabled="parameters.dimension2 == null"
                                    ng-click="dimensionExecuteTurnovers('dimension2','dimension'+ dimensionCategories.indexOf(category)+1, dimensionCategories.indexOf(category))"
                                    title="{{dimensionCategories[1].title}}/{{category.title}}"
                                    style-type="white  "></dev-tag-button>
                        </ng-form>
                    </accordion-group>

                    <accordion-group class="panel-primary"
                                     heading="{{dimensionCategories[2].title}}">
                        <ng-form name="dimension3Form">
                            <div style="margin-bottom: 10px">
                                <dev-tag-combo-box
                                        name="dimension3"
                                        k-placeholder="{{'Select ...'|translate}}"
                                        k-data-value-field="id"
                                        k-data-text-field="display"
                                        k-data-source="dimension3DataSource"
                                        ng-model="parameters.dimension3"
                                        required
                                        style="width: 100%"></dev-tag-combo-box>
                                <div ng-messages="form.dimension3.$error"
                                     ng-if="form.dimension3.$dirty">
                                    <label ng-message="required" class="error">{{'Select'|translate}}</label>
                                </div>
                            </div>

                            <dev-tag-button
                                    ng-click="dimensionExecuteTurnovers('dimension3', 'tiny', 0)"
                                    ng-disabled="parameters.dimension3 == null"
                                    title="{{'Tiny turnover journals'| translate}}"
                                    style-type="primary  "></dev-tag-button>
                            <dev-tag-button
                                    ng-click="dimensionExecuteTurnovers('dimension3', 'generalLedgerAccount',0)"
                                    ng-disabled="parameters.dimension3 == null"
                                    title="{{dimensionCategories[2].title}}/{{'General ledger account'|translate}}"
                                    style-type="white  "></dev-tag-button>
                            <dev-tag-button
                                    ng-click="dimensionExecuteTurnovers('dimension3', 'subsidiaryLedgerAccount',0)"
                                    ng-disabled="parameters.dimension3 == null"
                                    title="{{dimensionCategories[2].title}}/{{'Subsidiary ledger account'|translate}}"
                                    style-type="white  "></dev-tag-button>
                            <dev-tag-button
                                    ng-click="dimensionExecuteTurnovers('dimension3', 'detailAccount',0)"
                                    ng-disabled="parameters.dimension3 == null"
                                    title="{{dimensionCategories[2].title}}/{{'Detail account'|translate}}"
                                    style-type="white  "></dev-tag-button>
                            <dev-tag-button
                                    ng-repeat="category in dimensionCategories | filter: {id: '!' + dimensionCategories[2].id}"
                                    ng-disabled="parameters.dimension3 == null"
                                    ng-click="dimensionExecuteTurnovers('dimension3','dimension'+ dimensionCategories.indexOf(category)+1, dimensionCategories.indexOf(category))"
                                    title="{{dimensionCategories[2].title}}/{{category.title}}"
                                    style-type="white  "></dev-tag-button>
                        </ng-form>
                    </accordion-group>
                </accordion>
            </div>
        </div>

    </form>
</dev-tag-content>