<dev-tag-content dev-attr-title="{{'Reports'|translate}}">

   <div class="row">
       <dev-tag-button
               ng-if="mode == 'design'"
               ng-click="onExitDesign()"
               title="Exit designer"></dev-tag-button>

       <dev-tag-report-designer
               ng-if="mode == 'design'"
               report-data="data"
               report-file-name="{{fileName}}"
               report-title="{{reportTitle}}"
               report-data-source-name="data">
       </dev-tag-report-designer>

       <tabset active="active" ng-if="mode == 'view'">

           <tab index="0" heading="{{'Parameters'|translate}}" ng-attr-active="isActiveFirstTab">
               <div class="row" style="margin: 20px 0 20px 0">
                   <div class="col-md-4">
                       <accordion>
                           <accordion-group class="panel-primary" ng-repeat="r in reports" heading="{{r.text}}">
                               <ul class="list-group">
                                   <li class="list-group-item" style="cursor: pointer" ng-click="select(item)"
                                       ng-class="{'active': item == selectedReport}" ng-repeat="item in r.items">
                                       {{item.text}}
                                       <span class="glyphicon glyphicon-edit pull-left" style="cursor: pointer"
                                             ng-click="design(item)">
                                    </span>
                                   </li>
                               </ul>
                           </accordion-group>
                       </accordion>
                   </div>
                   <div class="col-md-8">
                       <form name="form">
                           <div class="col-xs-12">
                               <div class="row" style="margin-top: 10px">
                                   <div class="col-md-2" style="text-align: left;margin-top: 7px">
                                       <label class="label-control">{{'From number' | translate}}</label>
                                   </div>
                                   <div class="col-md-4">
                                       <dev-tag-numeric ng-model="journalSearch.minNumber" style="width: 100%"
                                                        name="minNumber" not-zero>
                                       </dev-tag-numeric>

                                       <div ng-messages="form.minNumber.$error" ng-if="form.minNumber.$dirty">
                                           <span ng-message="notZero" class="label label-danger">{{'This field should have a value not equal to zero'|translate}}</span>
                                       </div>
                                   </div>
                                   <div class="col-md-2" style="text-align: left;margin-top: 7px">
                                       <label class="label-control">{{'To number' | translate}}</label>
                                   </div>
                                   <div class="col-md-4">
                                       <dev-tag-numeric ng-model="journalSearch.maxNumber" style="width: 100%"
                                                        name="maxNumber" not-zero>
                                       </dev-tag-numeric>

                                       <div ng-messages="form.maxNumber.$error" ng-if="form.maxNumber.$dirty">
                                           <span ng-message="notZero" class="label label-danger">{{'This field should have a value not equal to zero'|translate}}</span>
                                       </div>
                                   </div>
                               </div>
                               <div class="row" style="margin-top: 10px">
                                   <div class="col-md-2" style="text-align: left;margin-top: 7px">
                                       <label class="label-control">{{'From date' | translate}}</label>
                                   </div>
                                   <div class="col-md-4">
                                       <dev-tag-datepicker ng-model="journalSearch.minDate"
                                                           name="temporaryDate"></dev-tag-datepicker>
                                   </div>
                                   <div class="col-md-2" style="text-align: left;margin-top: 7px">
                                       <label class="label-control">{{'To date' | translate}}</label>
                                   </div>
                                   <div class="col-md-4">
                                       <dev-tag-datepicker ng-model="journalSearch.maxDate"
                                                           name="temporaryDate"></dev-tag-datepicker>
                                   </div>
                               </div>
                               <div class="row" style="margin-top: 10px">
                                   <div class="col-md-2" style="text-align: left;margin-top: 7px">
                                       <label class="label-control">{{'General ledger account' | translate}}</label>
                                   </div>
                                   <div class="col-md-10">

                                       <dev-tag-multi-select
                                               ng-model="journal.generalLedgerAccounts"
                                               k-data-source="generalLedgerAccountDataSource"
                                               k-placeholder="{{'Select ...'|translate}}"
                                               k-data-text-field="display"
                                               k-data-value-field="id"></dev-tag-multi-select>
                                   </div>
                               </div>
                               <div class="row" style="margin-top: 10px">
                                   <div class="col-md-2" style="text-align: left;margin-top: 7px">
                                       <label class="label-control">{{'Subsidiary ledger account' | translate}}</label>
                                   </div>
                                   <div class="col-md-10">

                                       <dev-tag-multi-select
                                               ng-model="journal.subsidiaryLedgerAccounts"
                                               k-data-source="subsidiaryLedgerAccountDataSource"
                                               k-placeholder="{{'Select ...'|translate}}"
                                               k-data-text-field="account"
                                               k-data-value-field="id"></dev-tag-multi-select>
                                   </div>
                               </div>
                               <div class="row" style="margin-top: 10px">
                                   <div class="col-md-2" style="text-align: left;margin-top: 7px">
                                       <label class="label-control">{{'Detail account' | translate}}</label>
                                   </div>
                                   <div class="col-md-10">
                                       <dev-tag-multi-select
                                               ng-model="journal.detailAccounts"
                                               k-data-source="detailAccountDataSource"
                                               k-placeholder="{{'Select ...'|translate}}"
                                               k-data-text-field="display"
                                               k-data-value-field="id"></dev-tag-multi-select>

                                   </div>
                               </div>

                               <div ng-repeat="category in dimensionCategories" class="row" style="margin-top: 10px">
                                   <div class="col-md-2" style="text-align: left;margin-top: 7px">
                                       <label class="label-control">{{category.title}}</label>
                                   </div>
                                   <div class="col-md-10">
                                       <dev-tag-multi-select
                                               ng-model="journalSearch['dimension'+($index+1)+'s']"
                                               k-data-source="{{'dimension'+($index+1)+'DataSource'}}"
                                               k-placeholder="{{'Select ...'|translate}}"
                                               k-data-text-field="display"
                                               k-data-value-field="id"></dev-tag-multi-select>
                                   </div>
                               </div>

                               <div class="row" style="margin-top: 10px">
                                   <div class="col-md-2" style="text-align: left;margin-top: 7px">
                                       <label class="label-control">{{'Cheque number' | translate}}</label>
                                   </div>
                                   <div class="col-md-10">
                                       <dev-tag-multi-select
                                               ng-model="journalSearch.chequeNumbers"
                                               k-data-source="chequeDataSource"
                                               k-placeholder="{{'Select ...'|translate}}"
                                               k-data-text-field="number"
                                               k-data-value-field="id"></dev-tag-multi-select>
                                   </div>
                               </div>

                               <div class="row" style="margin-top: 10px">
                                   <div class="col-md-2" style="text-align: left;margin-top: 7px">
                                       <label class="label-control">{{'Cheque date from' | translate}}</label>
                                   </div>
                                   <div class="col-md-4">
                                       <dev-tag-datepicker ng-model="journalSearch.minChequeDate"
                                                           name="temporaryDate"></dev-tag-datepicker>
                                   </div>
                                   <div class="col-md-2" style="text-align: left;margin-top: 7px">
                                       <label class="label-control">{{'To date' | translate}}</label>
                                   </div>
                                   <div class="col-md-4">
                                       <dev-tag-datepicker ng-model="journalSearch.maxChequeDate"
                                                           name="temporaryDate"></dev-tag-datepicker>
                                   </div>
                               </div>

                               <div class="row" style="margin-top: 10px">
                                   <div class="col-md-2"></div>
                                   <div class="col-md-5">
                                       <dev-tag-check-box ng-model="journalSearch.isNotPeriodIncluded">
                                           <label style="margin-top: 4px">{{'Is not period included' | translate}}</label>
                                       </dev-tag-check-box>
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-md-2"></div>
                                   <div class="col-md-10" style="text-align: center">
                                       <a class="btn btn-primary" ng-click="addViewerTab()">
                                           <i class="glyphicon glyphicon-play"></i> {{'Show' | translate}}
                                       </a>
                                   </div>
                                   <div class="col-md-2"></div>
                               </div>
                           </div>
                       </form>
                   </div>
               </div>
           </tab>

           <tab index="$index + 1" heading="{{tab.title}}" ng-attr-active="tab.isActive" ng-repeat="tab in viewerTabs">
               <tab-heading>
                   <div class="row">
                       <button type="button" ng-click="closeViewerTab(tab)" class="close pull-left"
                               style="margin-left: 12px" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                       </button>
                       <span class="pull-right" style="margin-left: 18px;margin-right: 10px">{{tab.title}}</span>
                   </div>
               </tab-heading>

               <dev-tag-report-viewer
                       report-data="data"
                       report-file-name="{{tab.fileName}}"
                       report-title="{{tab.title}}"
                       report-data-source-name="data"></dev-tag-report-viewer>
           </tab>
       </tabset>
   </div>
</dev-tag-content>