<form name="form">
    <dev-tag-content title="{{'Edit Subsidiary ledger account'| translate }}">
        <dev-tag-button
                ng-click="save(form)"
                icon="glyphicon glyphicon-floppy-disk"
                is-waiting="isSaving"
                ng-disabled="isSaving"
                style-type="success"
                title="{{'Save' | translate}}"></dev-tag-button>

        <dev-tag-button
                ng-if="!subsidiaryLedgerAccount.isActive"
                ng-click="activate()"
                icon="glyphicon glyphicon-ok-circle"
                is-waiting="isActivating"
                ng-disabled="isActivating"
                style-type="default"
                title="{{'Activate' | translate}}"></dev-tag-button>

        <dev-tag-button
                ng-if="subsidiaryLedgerAccount.isActive"
                ng-click="deactivate()"
                icon="glyphicon glyphicon-remove-circle"
                is-waiting="isDeactivating"
                ng-disabled="isDeactivating"
                style-type="default"
                title="{{'Deactivate' | translate}}"></dev-tag-button>

        <div ng-include="'partials/views/subsidiaryLedgerAccount-entry-template.html'"></div>
    </dev-tag-content>

    <div ng-include="'partials/views/subsidiary-assignment-status-template.html'"></div>
</form>