<form name="form">
    <dev-tag-content title="{{'Create Subsidiary ledger account'| translate}}">

        <dev-tag-button
                ng-click="save(form)"
                icon="glyphicon glyphicon-floppy-disk"
                is-waiting="isSaving"
                ng-disabled="isSaving"
                style-type="success"
                title="{{'Save' | translate}}"></dev-tag-button>

        <div ng-include="'partials/views/subsidiaryLedgerAccount-entry-template.html'"></div>
    </dev-tag-content>

    <div ng-include="'partials/views/subsidiary-assignment-status-template.html'"></div>
</form>