<div class="md-toolbar-tools">

    <md-button class="md-icon-button " aria-label="Settings" ng-click="openMenu()" hide-gt-xs>
        <md-icon>menu</md-icon>
    </md-button>

    <span hide-xs>
        <md-button ui-sref="login" aria-label="Go Back" ng-hide="logined" class="storm-toolbar-button">
    ورود
  </md-button>
        <md-menu>
            <md-button aria-label="Go Back"
                       ng-click="$mdMenu.open($event);"
                       ng-show="logined"
                       class="storm-toolbar-button">

            <img ng-src="{{currentUserImage}}"
                 class="img-circle"
                 onerror="this.src='/public/images/user.png'"
                 style="width: 50px">

            <span class="user-text">{{currentUser}}</span>

  </md-button>

            <md-menu-content width="4">

                <md-menu-item>
                    <md-button>
                        پروفایل
                    </md-button>
                </md-menu-item>
                 <md-menu-item>
                    <md-button>
                        تغییر رمز عبور
                    </md-button>
                </md-menu-item>

                <md-menu-item>
                  <md-button>
                        <i class="fa fa-sign-out"></i>

                    خروج
                  </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

         <md-button ui-sref="pricing({type: 'luca'})" aria-label="Go Back" class="storm-toolbar-button">
   لیست قیمت
  </md-button>

        <md-button ui-sref="aboutus" aria-label="Go Back" class="storm-toolbar-button">
    درباره ما
  </md-button>
        <md-button aria-label="Go Back" ui-sref="contactUs" class="storm-toolbar-button">
    ارتباط با ما
  </md-button>

  </span>


    <span flex></span>


    <a ui-sref="home">
        <img src="/img/storm.logo.white.png" class="brands-img">
    </a>

</div>
