<div class="modal-header">
    <button type="button" ng-click="close()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">{{'New Journal'| translate}}</h3>
</div>
<div class="modal-body k-rtl">

    <dev-tag-validation-errors></dev-tag-validation-errors>

    <form name="form">
        <div class="form-group">
            <label class="label-control">{{'Temporary number' | translate}}</label>
            <dev-tag-numeric ng-model="journal.temporaryNumber"></dev-tag-numeric>
        </div>

        <div class="form-group">
            <label class="label-control">{{'Temporary date' | translate}}</label>
            <dev-tag-datepicker
                    ng-model="journal.temporaryDate"
                    name="temporaryDate"></dev-tag-datepicker>
        </div>


        <div class="form-group">
            <label class="label-control">{{'Description' | translate}}</label>
            <dev-tag-editor
                    k-encoded="false"
                    ng-model="journal.description"
                    template="{{journal.description}}"
                    name="description"></dev-tag-editor>
        </div>
    </form>
</div>
<div class="modal-footer">
    <dev-tag-button
            ng-click="save(form)"
            icon="glyphicon glyphicon-floppy-disk"
            waiting="isSaving"
            style-type="success"
            title="{{'Save' | translate}}"
            ng-disabled="form.$invalid"></dev-tag-button>
</div>