<div class="modal-header">
    <button type="button" ng-click="close()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <span ></span>

    <h3 class="modal-title"
        ng-if="editMode == 'create'">{{'Create Subsidiary ledger account'| translate}}</h3>
    <h3 class="modal-title"
        ng-if="editMode == 'edit'">{{'Edit Subsidiary ledger account'| translate}}</h3>
    <h5 ng-if="editMode == 'create'">
        {{'General ledger account'|translate}} : {{generalLedgerAccount.code}} - {{generalLedgerAccount.title}}
    </h5>
</div>
<div class="modal-body k-rtl">

    <dev-tag-validation-summary errors="errors"></dev-tag-validation-summary>

    <form name="form">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="label-control">{{'Code' | translate}}</label>
                    <input type="text"
                           class="form-control"
                           ng-model="subsidiaryLedgerAccount.code"
                           name="code"/>
                </div>

                <div class="form-group">
                    <label class="label-control">{{'Title' | translate}}</label>
                    <input type="text"
                           class="form-control"
                           required
                           ng-model="subsidiaryLedgerAccount.title"
                           name="title"
                    />

                    <div ng-messages="form.title.$error" ng-if="form.title.$dirty">
                        <label ng-message="required" class="error">{{'This field is required'|translate}}</label>
                    </div>
                </div>

                <div class="form-group">
                    <dev-tag-check-box ng-model="subsidiaryLedgerAccount.isBankAccount">
                        {{'Is Bank account ?' | translate}}
                    </dev-tag-check-box>
                </div>

                <div class="form-group">
                    <label class="label-control">{{'Description' | translate}}</label>
                    <dev-tag-editor type="text" class="form-control" ng-model="subsidiaryLedgerAccount.description"
                                    name="description"></dev-tag-editor>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="label-control">{{'Detail account' | translate}}</label>

                    <dev-tag-dropdownlist
                            ng-model="subsidiaryLedgerAccount.detailAccountAssignmentStatus"
                            k-option-label="{{'Select ...'|translate}}"
                            k-data-value-field="key"
                            k-data-text-field="display"
                            k-data-source="assignmentStatus"
                            name="detailAccountAssignmentStatus"
                            required></dev-tag-dropdownlist>

                    <div ng-messages="form.detailAccountAssignmentStatus.$error"
                         ng-if="form.detailAccountAssignmentStatus.$dirty">
                        <label ng-message="required" class="error">{{'This field is required'|translate}}</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="label-control">{{dimensionCategories[0].title}}</label>

                    <dev-tag-dropdownlist
                            ng-model="subsidiaryLedgerAccount.dimension1AssignmentStatus"
                            k-option-label="{{'Select ...'|translate}}"
                            k-data-value-field="key"
                            k-data-text-field="display"
                            k-data-source="assignmentStatus"
                            name="dimension1AssignmentStatus"
                            required></dev-tag-dropdownlist>

                    <div ng-messages="form.dimension1AssignmentStatus.$error"
                         ng-if="form.dimension1AssignmentStatus.$dirty">
                        <label ng-message="required" class="error">{{'This field is required'|translate}}</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="label-control">{{dimensionCategories[1].title}}</label>

                    <dev-tag-dropdownlist
                            ng-model="subsidiaryLedgerAccount.dimension2AssignmentStatus"
                            k-option-label="{{'Select ...'|translate}}"
                            k-data-value-field="key"
                            k-data-text-field="display"
                            k-data-source="assignmentStatus"
                            name="dimension2AssignmentStatus"
                            required></dev-tag-dropdownlist>

                    <div ng-messages="form.dimension2AssignmentStatus.$error"
                         ng-if="form.dimension2AssignmentStatus.$dirty">
                        <label ng-message="required" class="error">{{'This field is required'|translate}}</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="label-control">{{dimensionCategories[2].title}}</label>

                    <dev-tag-dropdownlist
                            ng-model="subsidiaryLedgerAccount.dimension3AssignmentStatus"
                            k-option-label="{{'Select ...'|translate}}"
                            k-data-value-field="key"
                            k-data-text-field="display"
                            k-data-source="assignmentStatus"
                            name="dimension3AssignmentStatus"
                            required></dev-tag-dropdownlist>

                    <div ng-messages="form.dimension3AssignmentStatus.$error"
                         ng-if="form.dimension3AssignmentStatus.$dirty">
                        <label ng-message="required" class="error">{{'This field is required'|translate}}</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <dev-tag-button
            ng-click="save(form)"
            icon="glyphicon glyphicon-floppy-disk"
            ng-disabled="isSaving"
            is-waiting="isSaving"
            style-type="primary"
            title="{{'Save' | translate}}"
            ng-disabled="form.$invalid"></dev-tag-button>
</div>