<dev-tag-guide ng-if="model.inventoryType === 'input'">
    <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i><br/>
    <ul>
        <li>
            <a href="#" class="btn btn-primary btn-circle">
                <i class="fa fa-ellipsis-v fa-lg "></i>
            </a>
            جهت نمایش و یا ویرایش رسیدانبار از این دکمه استفاده نمایید.
        </li>
        <li>
            برای مرتب سازی صعودی/نزولی از
            <i class="fa fa-sort-alpha-asc" style="font-size: 15px;"></i>
            و برای فیلتر ستونها از
            <i class="fa fa-filter" style="font-size: 15px;"></i>
            استفاده نمایید.
        </li>
        <li>
            نکته: درصورت ویرایش رسید انبار، میزان موجودی کالا تغییر نماید و این تغییر موجب منفی شدن موجودی کالا شود، از اعمال تغییرات شما جلوگیری می شود.
        </li>
    </ul>

</dev-tag-guide>

<dev-tag-guide ng-if="model.inventoryType === 'output'">
    <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i><br/>
    <ul>
        <li>
            <a href="#" class="btn btn-primary btn-circle">
                <i class="fa fa-ellipsis-v fa-lg "></i>
            </a>
            جهت نمایش و یا ویرایش  حواله انبار از این دکمه استفاده نمایید.
        </li>
        <li>
            برای مرتب سازی صعودی/نزولی از
            <i class="fa fa-sort-alpha-asc" style="font-size: 15px;"></i>
            و برای فیلتر ستونها از
            <i class="fa fa-filter" style="font-size: 15px;"></i>
            استفاده نمایید.
        </li>
    </ul>

</dev-tag-guide>