<dev-tag-guide ng-if="model.inventoryType === 'input'">
    <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i><br/>
    <ul>
        <li>
            <a href="#" class="btn btn-primary btn-circle">
                <i class="fa fa-ellipsis-v fa-lg "></i>
            </a>
            جهت نمایش و یا ویرایش رسیدانبار از این دکمه استفاده نمایید.
        </li>
        <li>
            برای مرتب سازی صعودی/نزولی از
            <i class="fa fa-sort-alpha-asc" style="font-size: 15px;"></i>
            و برای فیلتر ستونها از
            <i class="fa fa-filter" style="font-size: 15px;"></i>
            استفاده نمایید.
        </li>
        <li>
            نکته: درصورت ویرایش رسید انبار، میزان موجودی کالا تغییر نماید و این تغییر موجب منفی شدن موجودی کالا شود، از اعمال تغییرات شما جلوگیری می شود.
        </li>
        <li>
            جهت نمایش گزارش رسید/ رسیدهای موردنظر، ابتدا آنها را با استفاده از
            <i class="fa fa-check-square-o fa-2x"></i>
            انتخاب نمایید سپس با دکمه ی
            <i class="fa fa-print fa-2x"></i>
            گزارش موردنظر را مشاهده و درصورت نیاز چاپ یا ذخیره سازی با فرمت های متفاوت، نمایید.
        </li>
    </ul>

</dev-tag-guide>

<dev-tag-guide ng-if="model.inventoryType === 'output'">
    <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i><br/>
    <ul>
        <li>
            <a href="#" class="btn btn-primary btn-circle">
                <i class="fa fa-ellipsis-v fa-lg "></i>
            </a>
            جهت نمایش و یا ویرایش  حواله انبار از این دکمه استفاده نمایید.
        </li>
        <li>
            برای مرتب سازی صعودی/نزولی از
            <i class="fa fa-sort-alpha-asc" style="font-size: 15px;"></i>
            و برای فیلتر ستونها از
            <i class="fa fa-filter" style="font-size: 15px;"></i>
            استفاده نمایید.
        </li>
        <li>
            <b>
                فیلتر براساس انبار:
            </b>
            برای نمایش حواله های صادر شده ی کالاهای هر انبار، در این بخش انبار موردنظر را انتخاب نمایید. در صورت عدم نمایش انبار در لیست نام آن را تایپ نمایید تا در لیست نمایش داده شود و انتخاب نمایید.
        </li>
        <li>
            جهت نمایش گزارش حواله/ حواله های موردنظر، ابتدا آنها را با استفاده از
                        <i class="fa fa-check-square-o fa-2x"></i>
            انتخاب نمایید سپس با دکمه ی
            <i class="fa fa-print fa-2x"></i>
گزارش موردنظر را مشاهده و درصورت نیاز چاپ یا ذخیره سازی با فرمت های متفاوت، نمایید.

        </li>

    </ul>

</dev-tag-guide>