<form name="form" novalidate>
    <dev-tag-content>
        <dev-tag-content-heading>
            <h5 class="panel-title">{{model.pageTitle|translate}}</h5>
        </dev-tag-content-heading>
        <dev-tag-content-body>
            <div class="row">
                <div class="row">
                    <dev-tag-validation-summary
                            errors="model.errors" class="col-md-8"></dev-tag-validation-summary>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label for="date">{{'Date'|translate}}</label>
                        <dev-tag-datepicker id="date"
                                            ng-model="model.inventory.date"
                                            name="inventory"
                                            required></dev-tag-datepicker>

                        <div ng-messages="form.date.$error" ng-if="form.date.$dirty">
                            <label ng-message="required" class="error">{{'This field is required'|translate}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="number" class="title1">{{'Number'|translate}}</label>
                        <dev-tag-numeric id="number"
                                         ng-model="model.inventory.number"
                                         style="width: 100%"
                                         name="number"
                                         required></dev-tag-numeric>

                        <div ng-messages="form.number.$error" ng-if="form.number.$dirty">
                            <label ng-message="required" class="error">
                                {{'This field is required'|translate}}</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="number">{{'Input type'|translate}}</label>
                        <select ng-model="model.inventory.ioType"
                                ng-options="p.key as p.display for p in model.ioTypes"
                                class="form-control">
                            <option value="">{{'Select ...'|translate}}</option>
                        </select>
                    </div>

                    <div  class="form-group">
                        <label for="stockId">{{'Stock'|translate}}</label>
                        <dev-tag-combo-box style="width: 500px;"
                                           name="stockId"
                                           id="stockId"
                                           k-placeholder="{{'Select ...'|translate}}"
                                           k-data-value-field="id"
                                           k-data-text-field="title"
                                           show-no-data-template
                                           url="{{model.urls.getAllStocks}}"
                                           ng-model="model.inventory.stockId"
                                           required></dev-tag-combo-box>

                        <div ng-messages="form.stockId.$error" ng-if="form.stockId.$dirty">
                            <label ng-message="required" class="error">
                                {{'This field is required'|translate}}</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="label-control" for="description">{{'Description 2' | translate}}</label>
                        <textarea class="form-control" rows="4" id="description" ng-model="model.inventory.description"></textarea>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12">

                    <dev-tag-content-body is-loading="model.isLoading">
                        <div style="padding: 10px"
                             ng-include="'partials/inventory/inventoryLines-template.html'"></div>
                    </dev-tag-content-body>

                </div>
            </div>
        </dev-tag-content-body>
        <dev-tag-content-footer>

            <div class="row">
                <div class="col-sm-12 text-right ">
                    <dev-tag-button style-type="primary"
                                    ng-disabled="model.isSaving"
                                    is-waiting="model.isSaving"
                                    title="{{'Save' | translate}}"
                                    icon="glyphicon glyphicon-floppy-disk"
                                    ng-click="model.save(form, 'draft')"></dev-tag-button>

                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4 text-left">
                </div>
            </div>

        </dev-tag-content-footer>
    </dev-tag-content>
</form>







