<div class="=row">
    <div class="row">
        <div class="col-md-1" style="margin-top: 10px">
            <dev-tag-button
                    ng-click="model.create()"
                    title="{{'New'| translate}}"
                    style-type="primary"
                    icon="fa fa-plus fa-lg"></dev-tag-button>
        </div>

    </div>
    <div class="row">
       <div class="col-md-4" style="margin-top: 10px">
           <label class="label-control">{{'Filtered by stock' | translate}}</label>
           <dev-tag-combo-box name="stockId"
                              k-placeholder="{{'Select stock ...'|translate}}"
                              k-data-value-field="id"
                              k-data-text-field="title"
                              k-on-changed="model.onStockChanged($item)"
                              ng-model="model.stockId"
                              url="{{model.getAllStockUrl}}"></dev-tag-combo-box>
       </div>
    </div>
    <dev-tag-grid option="model.gridOption"></dev-tag-grid>
</div>