<ul class="list-group clear-list m-t" style="overflow-y: auto;
    overflow-x: hidden;
    height: 200px;">
    <li class="list-group-item fist-item">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">{{'Stock'|translate}}</div>
        </div>
    </li>

    <li class="list-group-item"
        ng-repeat="stock in model.stocks">

        <div class="row">
            <div class="col-md-1">
                <dev-tag-radio
                        ng-change="stock.id == item.stockId && model.onStockChanged(item, stock)"
                        ng-class="{'checked': stock.id == item.stockId}"

                        k-value="{{stock.id}}"
                        ng-model="item.stockId"></dev-tag-radio>
            </div>
            <div class="col-md-11">{{stock.title}}</div>
        </div>
    </li>
</ul>
