<div class="modal-header">
    <button type="button" ng-click="model.close()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">{{'Select stock'| translate}} - {{model.productDisplay}}</h3>
</div>
<div class="modal-body">
    <ul class="list-group clear-list m-t">
        <li class="list-group-item fist-item">
            <div class="row">
                <div class="col-md-10">{{'Stock'|translate}}</div>
                <div class="col-md-2">{{'Quantity'|translate}}</div>
            </div>
        </li>

        <li class="list-group-item pointer"
            ng-repeat="item in model.inventories"
            ng-click="model.selectStock(item)">

          <div class="row">
              <div class="col-md-10">{{item.stockDisplay}}</div>
              <div class="col-md-2">{{item.sumQuantity | number}}</div>
          </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-md-10">{{'Sum'| translate}}</div>
                <div class="col-md-2">{{ model.inventories|totalSum:('sumQuantity')|number}}</div>
            </div>
        </li>
    </ul>
</div>
