<div class="modal-header">
    <button type="button" ng-click="close()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">
        <i class="glyphicon glyphicon-open"></i>
        {{'Upload image'| translate}}
    </h3>
</div>
<div class="modal-body k-rtl row">

    <dev-tag-validation-summary errors="errors"></dev-tag-validation-summary>

    <dev-tag-uploader uploaded="uploaded(fileName)"></dev-tag-uploader>
</div>
