<div class="modal-header">
    <button type="button" ng-click="close()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">{{'Journal advanced search'| translate}}</h3>
</div>
<div class="modal-body k-rtl row">

    <form name="form">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2" style="text-align: left;margin-top: 7px">
                    <label class="label-control">{{'Title' | translate}}</label>
                </div>
                <div class="col-md-10">
                    <input type="text"
                           ng-model="journalSearch.title"
                           uib-popover="{{'Included journal description and article'|translate}}"
                           popover-trigger="focus" class="form-control"
                           popover-placement="left"
                           name="title">
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-md-2" style="text-align: left;margin-top: 7px">
                    <label class="label-control">{{'From number' | translate}}</label>
                </div>
                <div class="col-md-4">
                    <dev-tag-numeric
                            ng-model="journalSearch.minNumber"
                            style="width: 100%"
                            name="minNumber"
                            not-zero></dev-tag-numeric>

                    <div ng-messages="form.minNumber.$error" ng-if="form.minNumber.$dirty">
                        <span ng-message="notZero" class="label label-danger">{{'This field should have a value not equal to zero'|translate}}</span>
                    </div>
                </div>
                <div class="col-md-2" style="text-align: left;margin-top: 7px">
                    <label class="label-control">{{'To number' | translate}}</label>
                </div>
                <div class="col-md-4">
                    <dev-tag-numeric
                            ng-model="journalSearch.maxNumber"
                            style="width: 100%"
                            name="maxNumber"
                            not-zero></dev-tag-numeric>

                    <div ng-messages="form.maxNumber.$error" ng-if="form.maxNumber.$dirty">
                        <span ng-message="notZero" class="label label-danger">{{'This field should have a value not equal to zero'|translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-md-2" style="text-align: left;margin-top: 7px">
                    <label class="label-control">{{'From date' | translate}}</label>
                </div>
                <div class="col-md-4">
                    <dev-tag-datepicker
                            ng-model="journalSearch.minDate"
                            name="temporaryDate"></dev-tag-datepicker>
                </div>
                <div class="col-md-2" style="text-align: left;margin-top: 7px">
                    <label class="label-control">{{'To date' | translate}}</label>
                </div>
                <div class="col-md-4">
                    <dev-tag-datepicker
                            ng-model="journalSearch.maxDate"
                            name="temporaryDate"></dev-tag-datepicker>
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-md-2" style="text-align: left;margin-top: 7px">
                    <label class="label-control">{{'General ledger account' | translate}}</label>
                </div>
                <div class="col-md-10">
                    <dev-tag-combo-box
                            multiple
                            ng-model="journalSearch.generalLedgerAccounts"
                            k-data-source="generalLedgerAccountDataSource"
                            k-data-text-field="display"
                            k-data-value-field="id"></dev-tag-combo-box>
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-md-2" style="text-align: left;margin-top: 7px">
                    <label class="label-control">{{'Subsidiary ledger account' | translate}}</label>
                </div>
                <div class="col-md-10">
                    <dev-tag-combo-box
                            multiple
                            ng-model="journalSearch.subsidiaryLedgerAccounts"
                            k-data-source="subsidiaryLedgerAccountDataSource"
                            k-data-text-field="account"
                            k-data-value-field="id"></dev-tag-combo-box>
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-md-2" style="text-align: left;margin-top: 7px">
                    <label class="label-control">{{'Detail account' | translate}}</label>
                </div>
                <div class="col-md-10">
                    <dev-tag-combo-box
                            multiple
                            ng-model="journalSearch.detailAccounts"
                            k-data-source="detailAccountDataSource"
                            k-data-text-field="display"
                            k-data-value-field="id"></dev-tag-combo-box>
                </div>
            </div>

            <div ng-repeat="category in dimensionCategories"
                 class="row" style="margin-top: 10px">
                <div class="col-md-2" style="text-align: left;margin-top: 7px">
                    <label class="label-control">{{category.title}}</label>
                </div>
                <div class="col-md-10">
                    <dev-tag-combo-box
                            multiple
                            ng-model="journalSearch['dimension'+($index+1)+'s']"
                            k-data-source="{{'dimension'+($index+1)+'DataSource'}}"
                            k-data-text-field="display"
                            k-data-value-field="id"></dev-tag-combo-box>
                </div>
            </div>

            <div class="row" style="margin-top: 10px">
                <div class="col-md-2" style="text-align: left;margin-top: 7px">
                    <label class="label-control">{{'Cheque number' | translate}}</label>
                </div>
                <div class="col-md-10">
                    <dev-tag-combo-box
                            multiple
                            ng-model="journalSearch.chequeNumbers"
                            k-data-source="chequeDataSource"
                            k-data-text-field="number"
                            k-data-value-field="id"></dev-tag-combo-box>
                </div>
            </div>

            <div class="row" style="margin-top: 10px">
                <div class="col-md-2" style="text-align: left;margin-top: 7px">
                    <label class="label-control">{{'Cheque date from' | translate}}</label>
                </div>
                <div class="col-md-4">
                    <dev-tag-datepicker
                            ng-model="journalSearch.minChequeDate"
                            name="temporaryDate"></dev-tag-datepicker>
                </div>
                <div class="col-md-2" style="text-align: left;margin-top: 7px">
                    <label class="label-control">{{'To date' | translate}}</label>
                </div>
                <div class="col-md-4">
                    <dev-tag-datepicker
                            ng-model="journalSearch.maxChequeDate"
                            name="temporaryDate"></dev-tag-datepicker>
                </div>
            </div>

            <div class="row" style="margin-top: 10px">
                <div class="col-md-2" style="text-align: left;margin-top: 7px">
                    <label class="label-control">{{'Description cheque' | translate}}</label>
                </div>
                <div class="col-md-10">
                    <input type="text"
                           class="form-control"
                           ng-model="journalSearch.chequeDescription"
                           name="chequeDescription">
                </div>
            </div>

            <div class="row" style="margin-top: 10px">
                <div class="col-md-2" style="text-align: left;margin-top: 7px">
                    <label class="label-control">{{'Amount' | translate}}</label>
                </div>
                <div class="col-md-5">
                    <dev-tag-numeric
                            ng-model="journalSearch.amount.value"
                            style="width: 100%"
                            name="amountValue"
                            not-zero></dev-tag-numeric>

                    <div ng-messages="form.amountValue.$error" ng-if="form.amountValue.$dirty">
                        <span ng-message="notZero" class="label label-danger">{{'This field should have a value not equal to zero'|translate}}</span>
                    </div>
                </div>
                <div class="col-md-5" style="text-align: left;margin-top: 2px;text-align: right">
                    <select name="amountOperator"
                            ng-model="journalSearch.amount.operator"
                            ng-options="p.key as p.display for p in amountOperators"
                            class="form-control">
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    <dev-tag-check-box ng-model="journalSearch.isNotPeriodIncluded">
                        {{'Is not period included' | translate}}
                    </dev-tag-check-box>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <dev-tag-button
            ng-click="execute(form)"
            icon="glyphicon glyphicon-search"
            style-type="primary"
            title="{{'Search' | translate}}"></dev-tag-button>
</div>