/*
 *	In The Name Of ALLAH
 *	vars.sass
 */
//----------------------------
//[START] Box Shadows
$bshadow-flat-0_075cm: 0.075cm 0.075cm 0 0 rgba(0,0,0,0.2);
$bshadow-flat-0_050cm: 0.050cm 0.050cm 0 0 rgba(0,0,0,0.2);
$bshadow-flat-0_025cm: 0.025cm 0.025cm 0 0 rgba(0,0,0,0.2);
$bshadow-normal-small: 0px 1px 1px 1px rgba(0,0,0,0.1);
//[END] Box Shadows
//----------------------------
//[START] Text Shadows
$tshadow-flat-0_075cm: 0.075cm 0.075cm 0 rgba(0,0,0,0.2);
$tshadow-flat-0_050cm: 0.050cm 0.050cm 0 rgba(0,0,0,0.2);
$tshadow-flat-0_025cm: 0.025cm 0.025cm 0 rgba(0,0,0,0.2);
//[END] Text Shadows
//----------------------------