<div class="modal-header">
    <button type="button" ng-click="model.close()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">{{'New Bank'| translate}}</h3>
</div>
<div class="modal-body k-rtl">
    <form name="form">
        <dev-tag-validation-summary errors="model.errors" class="col-md-8"></dev-tag-validation-summary>
        <div class="row">
            <div class="col-sm-12">

                <div class="form-group">
                    <label  class="title1">{{'name'| translate}}</label>
                    <input type="text" class="form-control input-sm"  ng-model="model.bank.title" name="title" required>
                    <div ng-messages="form.title.$error" ng-if="form.title.$dirty">
                        <label ng-message="required" class="error">{{'This field is required'|translate}}</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="title1">{{'Bank Branch'| translate}}</label>
                    <input type="text" class="form-control input-sm"  ng-model="model.bank.bankBranch" name="branch">
                </div>

                <div class="form-group">
                    <label class="title1">{{'Bank Account Number'| translate}}</label>
                    <input type="text" class="form-control input-sm"  ng-model="model.bank.bankAccountNumber" name="accountNumber" required>
                    <div ng-messages="form.accountNumber.$error" ng-if="form.accountNumber.$dirty">
                        <label ng-message="required" class="error">{{'This field is required'|translate}}</label>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <dev-tag-button
            ng-click="model.save(form)"
            icon="glyphicon glyphicon-floppy-disk"
            ng-disabled="isSaving"
            is-waiting="isSaving"
            style-type="primary"
            title="{{'Save' | translate}}"></dev-tag-button>
</div>