/* for rtl */

.ui-select-bootstrap .ui-select-toggle > .caret {
  right: initial;
  left: 10px; /* or any other value - it should be the same as the original right value */
}

.ui-select-bootstrap > .ui-select-match > .btn {
  text-align: right !important;
  direction: rtl;
}

.ui-select-bootstrap > .ui-select-match > .btn > span.pull-left {
  float: right !important;
}

.ui-select-bootstrap .ui-select-choices-row.active > span {
  background-color: $primary-select-color;
}

.ui-select-bootstrap .ui-select-match-text > span {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ui-select-match-text  {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ui-select-dropdown{
  overflow-y: auto;
  height: 200px !important;
}
