<div layout="column" layout-align="start" layout-fill hide-xs>

    <div flex layout="row" layout-padding style="text-align: center;margin-top: 100px" layout-wrap>
        <div flex="25" flex-sm="100" flex-xs="100" layout-align="center center"
             ng-repeat="person in VM.teams"
             class="animated rollIn"
             style="margin-top: 20px">
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <img ng-src="{{person.img}}" class="md-card-image team" alt="{{person.name}}">
                <md-card-title layout-align="center center" style="padding-top: 0">

                    <md-card-title-text>
                        <span class="md-headline">{{person.name}}</span>
                        <span class="md-subhead">{{person.position}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout-align="center center">
                    <md-button class="md-icon-button" href="{{person.linkedin}}" md-no-ink="false">
                        <md-icon md-svg-src="/img/icons/linkedin.svg"></md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>
<div layout="column" layout-align="start" layout-fill hide-gt-xs class="animated rollIn">

    <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch  ng-repeat="person in VM.teams">
        <md-card-title>
            <md-card-title-media>
                <img ng-src="{{person.img}}" class="md-card-image team on-mobile" alt="{{person.name}}">
            </md-card-title-media>
            <md-card-title-text>
                <span class="md-headline team"> {{person.name}}</span>
                <span class="md-subhead team"> {{person.position}}</span>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</div>